@model List<prjiSpanFinal.ViewModels.Item.CBiddingDetailWithMemberViewModel>


<div>
    <div class="d-flex fs-4 text-black mb-2">
        <div class="me-3 opacity-50" id="showBiddingSummary" style="cursor:pointer">瀏覽摘要</div>
        <div id="showBiddingDetail" style="cursor:pointer">詳細記錄</div>
    </div>
    <div>
        @{
            if (Model.Count <= 0)
            {
                <div class="text-center">尚無人出價</div>
            }
            else
            {
                <table class="table table-hover table-striped">
                    <thead class="bg-black bg-opacity-10">
                        <tr>
                            <th scope="col">出價者</th>
                            <th scope="col">出價形式</th>
                            <th scope="col">出價金額</th>
                            <th scope="col">數量</th>
                            <th scope="col">出價時間</th>
                        </tr>
                    </thead>
                    @{
                        <tbody class="showBiddingSummary d-none">
                            @{
                                var q = Model.GroupBy(i => i.member).Select(g => new
                                {
                                    member = g.Key,
                                    count = g.Count(),
                                    price = g.OrderByDescending(i => i.biddingDetail.Price).Select(i => i.biddingDetail.Price).FirstOrDefault(),
                                    time = g.OrderByDescending(i => i.biddingDetail.Price).Select(i => i.biddingDetail.BiddingTime).FirstOrDefault(),
                                    type = g.OrderByDescending(i => i.biddingDetail.Price).Select(i => i.biddingType.BiddingTypeName).FirstOrDefault()
                                }); ;
                                foreach (var i in q)
                                {
                                    <tr>
                                        <td>@i.member.MemberAcc<span class="ms-2">(</span>@i.count<span>)</span></td>
                                        @{ 
                                            string biddingType = "";
                                            if (i.type == "autoBidding")
                                            {
                                                biddingType = "自動出價";
                                            }
                                            else
                                            {
                                                biddingType = "直接出價";
                                            }
                                        }
                                        <td>@biddingType</td>
                                        <td class="topBiddingPrice">$<span>@i.price</span></td>
                                        <td>1</td>
                                        <td>@i.time.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                    </tr>
                                }
                            }

                        </tbody>
                        <tbody class="showBiddingDetail">
                            @foreach (var i in Model)
                            {
                                string biddingType2 = "";
                                if (i.biddingType.BiddingTypeName == "autoBidding")
                                {
                                    biddingType2 = "自動出價";
                                }
                                else
                                {
                                    biddingType2 = "直接出價";
                                }
                                <tr>
                                    <td>@i.member.MemberAcc</td>
                                    <td>@biddingType2</td>
                                    <td class="topBiddingPrice">$<span>@i.biddingDetail.Price</span></td>
                                    <td>1</td>
                                    <td>@i.biddingDetail.BiddingTime</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            }
        }
    </div>
</div>

<script>
    $(function () {
        $(".showBiddingSummary .topBiddingPrice").eq(0).addClass("text-danger");
        $(".showBiddingDetail .topBiddingPrice").eq(0).addClass("text-danger");
    });
    $("#showBiddingSummary").click(function () {
        $("#showBiddingSummary").removeClass("opacity-50");
        $("#showBiddingDetail").removeClass("opacity-50").addClass("opacity-50");
        $(".showBiddingSummary").removeClass("d-none");
        $(".showBiddingDetail").removeClass("d-none").addClass("d-none");
    });
    $("#showBiddingDetail").click(function () {
        $("#showBiddingSummary").removeClass("opacity-50").addClass("opacity-50");
        $("#showBiddingDetail").removeClass("opacity-50");
        $(".showBiddingSummary").removeClass("d-none").addClass("d-none");
        $(".showBiddingDetail").removeClass("d-none");
    });
</script>
