@model List<prjiSpanFinal.ViewModels.OrderListViewModel>
<div class="row ">
    <div class="col-1"></div>
    <div class="col-11">
        <div class="ordersearchbar">
            <input type="text" class="form-control rounded" placeholder="搜尋訂單" aria-label="Search" aria-describedby="search-addon" style="display: inline; width: 400px;" id="orderkeyword" />
            <span>
                <input id="startDate" class="form-control orderdatepicker" type="date" /> ~ <input id="endDate" class="form-control orderdatepicker" type="date" /> <input id="btnDate" class="btn btn-primary" value="搜尋" type="button" />
            </span>
        </div>
        <div class="ordersearchbar">
            <button type="button" class="btn btn-success">一鍵出貨</button>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active ordernavtabs" aria-current="page" href="#">總覽</a>
                <input type="hidden" class="ordershipperstatus" value="0" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">訂單成立</a>
                <input type="hidden" class="ordershipperstatus" value="2" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">已付款</a>
                <input type="hidden" class="ordershipperstatus" value="3" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">已出貨</a>
                <input type="hidden" class="ordershipperstatus" value="4" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">已到貨</a>
                <input type="hidden" class="ordershipperstatus" value="5" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">退貨處理中</a>
                <input type="hidden" class="ordershipperstatus" value="8" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">待評價</a>
                <input type="hidden" class="ordershipperstatus" value="6" />
            </li>
            <li class="nav-item">
                <a class="nav-link ordernavtabs" href="#">已完成</a>
                <input type="hidden" class="ordershipperstatus" value="7" />
            </li>
        </ul>
        <table id="ordertable" class="table table-hover dataTable">
            <thead>
                <tr>
                    <td>訂單資料</td>
                    <td class="th-sm sorting sorting_desc" id="ordertime">結帳時間</td>
                    <td>商品詳情</td>
                    <td class="th-sm sorting" id="ordersales">訂單金額</td>
                    <td>訂單狀態</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                操作
                            </label>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody id="orderlistbody">
                @foreach (var item in Model)
                {
                    int total = item.PaymentFee;
                    @if (item.IsFreeDelivery != true)
                    {
                        total += item.ShipperFee;
                    }
                    <tr>

                        <td>
                            <input type="hidden" class="orderorderid" value="@item.OrderId" />
                            <input type="hidden" class="ordershipperstatus" value="@item.ShipperStatusId" />
                            <input type="hidden" class="orderorderdate" value="@item.OrderDatetime.Ticks" />@item.OrderId<br /><a class="namenounderline" href="@Url.Content("~/SalesCourt/賣場")">@item.SellerAcc</a>
                        </td>
                        <td>@item.OrderDatetime</td>
                        <td>
                            @for (int j = 0; j < item.Quantity.Count; j++)
                            {
                                total += Decimal.ToInt32(item.Unitprice[j]) * item.Quantity[j];
                                <img src="data:image;base64,@System.Convert.ToBase64String(item.Pic[j])" width="60" height="60" />@item.ProductName[j] @item.Style[j] @:* @item.Quantity[j] $@Decimal.ToInt32(item.Unitprice[j]) <br />
                            }
                        </td>
                        <td class="ordertotalprice">$@total</td>
                        <td>@item.OrderStatusName</td>
                        <td style="text-align:center">
                            <a href="/Seller/OrderDetail?id=@item.OrderId" role="button" type="button" class="btn btn-primary orderbuttonde">詳情</a><br />
                            <a href="/Seller/OrderDetail?id=@item.OrderId" role="button" type="button" class="btn btn-primary orderbuttonde">評價</a>
                            <a href="/Seller/OrderDetail?id=@item.OrderId" role="button" type="button" class="btn btn-primary orderbuttonde">退貨</a>
                            <div>
                                <input class="form-check-input checkboxorder" type="checkbox" value="" aria-label="...">
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row ">
            <div class="col-4"></div>
            <div class="col-8">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>