@model prjiSpanFinal.ViewModels.Item.CMessageBoardViewModel
@{
    string messageLayout = "";
    string userImgSrc = "";
    int productID = Model.productID;
    if (Model.user != null && Model.user.MemPic != null)
    {
        string base65 = Convert.ToBase64String(Model.user.MemPic);
        userImgSrc = $"data:image/gif;base64,{base65}";
    }
    else
    {
        userImgSrc = Url.Content("~/img/Member/nopicmem.jpg");
    }
    if (Model.cMessageBoardList.Count > 0)
    {
        int maxLayer = Model.cMessageBoardList.Select(i => i.layer).Max();
        messageLayout = "messageLayout" + maxLayer;
    }
}

<div class="messageLayout bg-warning bg-opacity-10 py-3" id="@messageLayout">
    <div class="productID d-none">@productID</div>
    <div class="messageBox w-75 m-auto">
        @{
            if (Model.cMessageBoardList.Count > 0)
            {
                foreach (var i in Model.cMessageBoardList)
                {
                    string class1 = "layer" + i.layer;
                    string messageBoardID = "messageBoardID" + i.messageBoard.MessageBoardId;
                    string imgSrc = "";
                    try
                    {
                        string base64 = Convert.ToBase64String(i.member.MemPic);
                        imgSrc = $"data:image/gif;base64,{base64}";
                    }
                    catch
                    {
                        imgSrc = Url.Content("~/img/Member/nopicmem.jpg");
                    }
                    int periodDay = (DateTime.Now - i.messageBoard.PostTime).Days;
                    int periodHour = (DateTime.Now - i.messageBoard.PostTime).Hours;
                    int periodMinute = (DateTime.Now - i.messageBoard.PostTime).Minutes;
                    int periodSecond = (DateTime.Now - i.messageBoard.PostTime).Seconds;
                    string period = "";
                    if (periodDay != 0)
                    {
                        period = periodDay + "天前";
                    }
                    if (periodDay == 0 && periodHour != 0)
                    {
                        period = periodHour + "小時前";
                    }
                    if (periodDay == 0 && periodHour == 0 && periodMinute != 0)
                    {
                        period = periodMinute + "分鐘前";
                    }
                    if (periodDay == 0 && periodHour == 0 && periodMinute == 0 && periodSecond != 0)
                    {
                        period = periodSecond + "秒前";
                    }
                    if (periodDay == 0 && periodHour == 0 && periodMinute == 0 && periodSecond < 2)
                    {
                        period = "剛剛";
                    }

                    <div class="@class1 messageBoardID d-flex flex-fill mb-2" style="position:relative" id="@messageBoardID">
                        @{
                            if (i.layer == 0)
                            {
                                <div class="me-1" style="width:50px;aspect-ratio:1/1;">
                                    <img src="@imgSrc" alt="Alternate Text" style="width:100%;aspect-ratio:1/1;object-fit:contain;border-radius:50%" />
                                </div>
                            }
                            else
                            {
                                <div class="me-1" style="width:50px;aspect-ratio:1/1;">
                                    <img src="@imgSrc" alt="Alternate Text" style="width:60%;aspect-ratio:1/1;object-fit:contain;border-radius:50%" />
                                </div>
                            }
                        }
                        <div class="messageContent">
                            <div class="border rounded-2 ps-2 py-1">
                                @{
                                    if (i.layer == 0)
                                    {
                                        <div class="text-black opacity-50 " style="font-size:12px">作者</div>
                                    }
                                }
                                <div class="fw-bold">@i.member.MemberAcc</div>
                                <div>@i.messageBoard.Message</div>
                            </div>
                            <div class="messageFooter d-flex justify-content-between align-items-center" style="font-size:12px">
                                <div class="d-flex justify-content-start">
                                    <div class="me-3">@period</div>
                                    @{
                                        if (i.isLike)
                                        {
                                            <div class="messageLikeBtn text-black opacity-50 me-3" style="cursor:pointer">收回讚</div>
                                        }
                                        else
                                        {
                                            <div class="messageLikeBtn text-primary me-3" style="cursor:pointer">讚</div>
                                        }
                                    }

                                    <div class="messageReplyBtn text-primary me-3" style="cursor:pointer">回覆</div>
                                    @{
                                        if (Model.user != null && Model.user.MemberId == i.member.MemberId)
                                        {
                                            <div class="deleteReplyBtn text-black opacity-50 me-3" style="cursor:pointer">收回留言</div>
                                        }
                                        if (i.likeCount > 0)
                                        {
                                            <div>@i.likeCount<i class="fa-solid fa-thumbs-up text-primary"></i></div>
                                        }
                                    }
                                </div>
                                @*<div class="collapseMessage" style="cursor:pointer">
                                    <i class="fa-solid fa-bars"></i>
                                </div>*@
                            </div>
                            <div class="messageReplay" style="display:none">
                                <div class="d-flex align-items-baseline">
                                    <div class="me-1" style="width:50px;aspect-ratio:1/1;">
                                        <img src="@userImgSrc" alt="Alternate Text" style="width:60%;aspect-ratio:1/1;object-fit:contain;border-radius:50%" />
                                    </div>
                                    <input class="message border rounded-5 ps-2 me-2" style="height:30px" type="text" placeholder="回覆......" />
                                    <div class="messageSubmit text-primary" style="cursor:pointer;font-size:12px">送出</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        
    </div>
    <div class="w-75 m-auto">
        <div class="d-flex align-items-baseline">
            <div class="me-1" style="width:50px;aspect-ratio:1/1;">
                <img src="@userImgSrc" alt="Alternate Text" style="width:60%;aspect-ratio:1/1;object-fit:contain;border-radius:50%" />
            </div>
            <input class="message border rounded-5 ps-2 me-2" style="height:30px" type="text" placeholder="開新評論......" />
            <div class="messageSubmit text-primary" style="cursor:pointer;font-size:14px">送出</div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/js/Item/ShowMessageBoard.js")"></script>


