@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.seller.CSellerCreateToViewViewModel
@using prjiSpanFinal.ViewModels.seller;
@{
    ViewData["Title"] = "新增商品";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>

        .描述欄位 {
            width: 680px;
            height: 200px;
            resize: none;
            border: solid;
            border-color: lightslategray;
        }

        label {
            font-size: 20px;
            font-weight: 600;
            padding-block: 3px;
        }

        .名稱寬 {
            float: left;
        }

        .btntype, .btntype物流 {
            height: 40px;
            width: 700px;
            border: dashed;
            border-radius: 7px;
            border-color: skyblue;
            background-color: white;
        }

        .delete, .add {
            height: 50px;
            border-radius: 25px;
            width: 50px;
            font-size: 10px;
        }

        .物流 {
            width: 880px;
        }

        .框線 {
            border-color: lightslategray;
            width: 270px;
        }

        .名稱 {
            border-color: lightslategray;
            width: 500px;
        }

        .表格寬度 {
            width: 200px;
            border-radius: 10px;
        }

        .貨運無底框 {
            border: 1px;
            border-color: darkgray;
            width: 500px;
            height: 40px;
            font-size: 20px;
            align-content: center;
        }

        .規格列表 {
            width: 150px;
            font-size: 18px;
        }

        .規格按鈕 {
            font-size: 10px;
            width: 35px;
            height: 25px;
            border-radius: 25px;
            margin: 0 auto;
        }

        td {
            margin-left: 1.5px;
        }

        .btntype物流 {
            width: 550px;
            margin-left: 2px;
        }

        .modal-dialog {
            top: 7rem !important;
        }

        .寬度 {
            position: relative
        }

        .按鈕大小 {
            font-size: 20px;
        }
    </style>
}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增規格</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label>樣式:</label>
                <input type="text" id="text1" class="form-control" required><div class="invalid-feedback">必填欄位</div>
                <br />
                <label>數量:</label>
                <input type="text" id="text2" class="form-control">
                <br />
                <label>售價:</label>
                <input type="text" id="text3" class="form-control">
                <br />
                <label>照片:</label>
                <input type="file" id="text4" class="form-group" accept="image/*">
            </div>
            <div class="modal-footer">
                <button id="demomodal" type="button" class="btn btn-info">Demo</button>
                <button id="save" type="button" class="btn btn-warning">新增</button>
                <button id="close" type="button" class="btn btn-light" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-10" id="change1">
        <div class="mt-3 mb-3">
            <img src="~/img/跑條1.png" />
        </div>
        <h2 class="d-flex justify-content-center mb-2 ">新增商品</h2>
        <div class="row">
            <div class="排版 mx-5">
                <h4 class=" mb-4">商品資訊</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex justify-content-start">
                    <label class="名稱寬">名稱</label>
                    <input id="ProductName" type="text" class="form-control 名稱 mx-3 textval" />
                    <span style="color:red;margin:2px" id="checkname"></span>
                </div>
                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-3">類別</label>
                    <select class="form-select w-25 m-3 " aria-label="Default select example" id="bigType">
                        @{
                            for (int i = 0; i < Model.bigType.Count; i++)
                            {
                                <option value="@(i+1)">@Model.bigType[i]</option>
                            }
                        }
                    </select>
                    <select class="form-select w-25 m-3" aria-label="Default select example" id="smallType">
                        @{
                            for (int i = 0; i < 17; i++)
                            {
                                <option value="@(i+1)">@Model.smallType[i]</option>
                            }
                        }
                    </select>
                </div>

                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-3">自訂類別</label>
                    <select class="form-select w-25 m-3" aria-label="Default select example" id="category">
                        <option value="1" selected>未分類</option>
                        @{
                            if (Model.Category.Count > 0)
                            {
                                for (int i = 0; i < Model.Category.Count; i++)
                                {
                                    <option value="@Model.CustomizedCategoryID[i]">@Model.Category[i]</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="d-flex justify-content-start ">
                    <div id="newmodel2" style="display:none">
                        <label class="名稱寬 mt-2">規格</label>
                        <span class="text-danger"></span>
                        <section class="section">
                            <table class="table w-100 text-center">
                                <thead>
                                    <tr>
                                        <th class="col 規格列表">樣式</th>
                                        <th class="col 規格列表">數量</th>
                                        <th class="col 規格列表">售價</th>
                                        <th class="col 規格列表">照片</th>
                                        <th class="col 規格列表">功能</th>
                                    </tr>
                                </thead>
                                <tbody id="tobodystyle">
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button class="btnnew m-3 btn w-25 btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">新增規格</button>
                            </div>
                        </section>
                    </div>
                    <div id="newmodel1">
                        <div>
                            <div class="d-flex justify-content-start">
                                <label class="名稱寬">數量</label>
                                <input type="text" class="form-control 名稱 mx-3 textval" id="styleqty" /><span style="color:red;margin:2px" id="checkqty"></span>
                            </div>
                            <div class="d-flex justify-content-start">
                                <label class="名稱寬 mt-2">價格</label>
                                <input type="text" class="form-control 名稱 mx-3 textval mt-2" id="styleup" /><span style="color:red;margin:3px" id="checkup"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="newmodelenter" class="my-2 btn btn-secondary">其他樣式</button>

                <div class="addStyle">
                </div>
                <div class="d-flex justify-content-start">
                    <label class="名稱寬 mt-2">封面照片</label>
                    <div class="d-flex justify-content-start">
                        @*    大頭照相片1     *@
                        <div>
                            <label class="btn" for="commentPhoto1">
                                <img width="100" height="100" class="border  " style="background-image: url('/img/plus.jpg'); background-size: contain; background-repeat:no-repeat; background-position:center" />
                            </label>
                            <input type="file" id="commentPhoto1" name="File1" class="commentphotoclass" style="opacity:0;width:0px;" accept="image/*" />
                        </div>
                    </div>
                    <label class="名稱寬 mt-2">其他照片</label>
                    <div class="d-flex justify-content-start">
                        @*    大頭照相片2     *@
                        @{
                            for (int i = 0; i < 4; i++)
                            {
                                <div>
                                    @{
                                        string id = $"commentPhoto{i + 2}";
                                    }
                                    <label class="btn" for="@id">
                                        <img width="100" height="100" class="border " style="background-image: url('/img/plus.jpg'); background-size: contain; background-repeat:no-repeat; background-position:center" />
                                    </label>
                                    <input type="file" id="@id" class="commentphotoclass  @id" style="opacity:0;width:0px;" accept="image/*" multiple />
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-2 ">描述</label>
                    <textarea id="Description" class="form-control  描述欄位 mt-3 mx-3" aria-label="With textarea"></textarea><span style="color:red;margin:3px" id="checkdes"></span>
                </div>


                <div class="d-flex justify-content-start mt-1">
                    <label class="名稱寬">物流方式</label><span style="color:red" id="addship"></span>
                    <div class="col-1"></div>
                    <div class="row py-2 m-3 d-flex justify-content-around col-6 checkship">
                        @{
                            for (int i = 0; i < Model.memship.Count; i++)
                            {
                                <div class="col-3"></div>
                                <div class="col-6 my-1">
                                    <label class="d-flex justify-content-start"><img src="~/img/payment@(i+5).png" width="40" height="40" class="mx-2" id="@Model.shipID[i]" />@Model.memship[i]</label>
                                </div><br />
                                <div class="col-3"></div>
                            }
                        }
                    </div>
                    <div class="col-2"></div><br />
                </div>

                <div class="d-flex justify-content-start ">
                    <label class="名稱寬">付款方式</label><span style="color:red" id="addpay"></span>
                    <div class="col-1"></div>
                    <div class="row py-2 m-3 d-flex justify-content-around col-6  checkpay">
                        @{
                            foreach (var i in Model.mempay)
                            {
                                <div class="col-3"></div>
                                <div class="col-6 my-1">
                                    <label class="d-flex justify-content-start"><img src="~/img/payment@(i.PaymentId).png" width="40" height="40" class="mx-2" />@(i.PaymentName)</label>
                                </div><br />
                                <div class="col-3"></div>
                            }
                        }
                    </div>
                    <div class="col-2"></div><br />
                </div>


                <div class="row ">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <input type="button" value="下一步" id="next" class="btn btn-warning m-3 nextwork" />
                        <input type="button" value="Demo" id="demo" class="btn btn-info m-3 nextwork" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-10 " id="change2" style="display:none">
        <div class="mt-3">
            <img src="~/img/跑條2.png" />
        </div>
        <h2 class="mt-4 mb-2">蝦到爆廣告</h2>
        <div>
            <div class="">
                <table class="">
                    <tr class="row 高度 背色"><td><h4 class="m-3 pt-2">商品名稱：(新增的商品)</h4></td></tr>
                    <tr class="row bg-light py-3 border-bottom">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-1 置中"><h5>優先曝光</h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />420  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />690  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />860  元 /  30天
                            <p>於分類頁、搜尋結果頁的商品列表中，此項商品將顯示於上方的優先曝光專區。購買後30分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="row py-3 border-bottom 背色">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-1 置中"><h5>重點標題</h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />50  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />70  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />100  元 /  30天
                            <p>於分類頁、搜尋結果頁及您的賣場中，此項商品名稱將以粗體方式突顯效果。購買後5分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="row bg-light py-3 border-bottom">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-1 置中"><h5>亮眼底色</h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />150  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />250  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />350  元 /  30天
                            <p>於分類頁、搜尋結果頁及您的賣場中，此項商品名稱將以顯著底色突顯效果。購買後5分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="text-center row 高度 背色 pt-4"><td class=""><h3>此次廣告消費0元</h3></td></tr>
                </table>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7">
                        <input type="button" value="上一步" class="btn btn-secondary m-4" id="back" />
                        <input type="submit" value="完成" class="btn btn-warning m-4" id="final" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>

        /////////大類小類連接---------------------------------------------------------------------------------------------------------------
        let advancedmode = false;
        const bigType = document.querySelector("#bigType");
        const smallType = document.querySelector("#smallType");

        bigType.addEventListener("change", async function() {
            $.getJSON("/Seller/SmallType", { bigtype: $("#bigType").children("option:selected").val() }, function (data) {
                $("#smallType").html("");
                for (let i = 0; i < data.length; i++) {
                    $("#smallType").append(`<option value="${data[i].id}">${data[i].name}</option>`);
                }
            });
        })
      //------------------------------------------------

        let alldata = [];

        //進階模式===========================

        $("#newmodelenter").click(function () {
            if (advancedmode) {
                advancedmode = false;
                $("#newmodel1").css("display", "block");
                $("#newmodel2").css("display", "none");
                $("#newmodelenter").text("其他樣式");
            }
            else {
                advancedmode = true;
                $("#newmodel2").css("display", "block");
                $("#newmodel1").css("display", "none");
                $("#newmodelenter").text("單一規格");
            }
            $("#styleup").val("");
            $("#styleqty").val("");
            $("#tobodystyle").empty();
            alldata = [];
        })

        //資料暫存,後去把data變數傳入後端
        let data = [];

        let tbody = document.querySelector('tbody')
        for (let i = 0; i < data.length; i++) {
            let tr = document.createElement('tr');
            tbody.appendChild(tr);
            for (let j = 0; j < data[i].length; j++) {
                let td = document.createElement('td');
                td.innerHTML = data[i][j];
                tr.appendChild(td);
            }
        }

        //show 出 model 可新增拍賣物品
        let btn = document.querySelector(".btnnew")
        btn.addEventListener('click', (e) => {
            e.preventDefault(); //取消原本action的預設值
            clickValue(); //清空值
        })

        //清空model值
        function clickValue() {
            document.getElementById("text1").value = '';
            document.getElementById("text2").value = '';
            document.getElementById("text3").value = '';
            document.getElementById("text4").value = '';
        }

        //取得照片轉成二進位檔
        let stylephoto;
        let img = document.getElementById("text4");

        $("#text4").on("change", function () {
            let photo;
            if (img.files.length != 0) {
                photo=img.files;
            }
            console.log(photo)
            if (photo) {
                    let reader = new FileReader();
                reader.readAsDataURL(photo[0]);
                    reader.onload = function () {
                        let src = reader.result;
                        stylephoto=src.split(",")[1];
                    };
            }
        })

        save.addEventListener("click", function () {            

            let dataNew = [];
            let name = document.getElementById("text1").value;//prompt('請輸入姓名');
            let subject = document.getElementById("text2").value;
            let score = document.getElementById("text3").value;


            //判斷資料有值再塞入
            if (name !== '' && subject !== '' && score !== '') {
                dataNew.push(name);
                dataNew.push(subject);
                dataNew.push(score);
                dataNew.push(stylephoto);
                //塞資料到暫存    //可以存JSON的地方
                data.push(dataNew);
                //資料暫存,後去把data變數傳入後端
                let styleName = {
                    StyleStr: name,
                    QuantityStr: subject,
                    UnitPriceStr: score,
                    BodyPicStr: stylephoto
                };
                alldata.push(styleName);

                let tr = document.createElement('tr');
                for (let i = 0; i < dataNew.length-1; i++) {
                    let td = document.createElement('td');
                    td.innerHTML = dataNew[i];
                    tr.appendChild(td);
                }
                let td1 = document.createElement('td');
                //src="data:image;base64,${stylephoto}"  將二進位檔轉成圖片檔
                td1.innerHTML = `<img src="data:image;base64,${stylephoto}" width="30" height="30" />`;
                tr.appendChild(td1);

                let td = document.createElement('td');
                td.innerHTML = `<a href='javascript:;'><button type="button" class="btn btn btn-danger  規格按鈕"> X</button></a>`;
                let a = td.children[0];
                a.addEventListener('click', () => {
                    let parent = a.parentNode.parentNode;
                    parent.remove();
                })
                tr.appendChild(td);
                tbody.insertBefore(tr, tbody.children[0])

                var myModalEl = document.getElementById('exampleModal');
                var modal = bootstrap.Modal.getInstance(myModalEl)
                modal.hide();
            }
            else {
                alert("項目,數量和價格不可為空");
            }

        })




        //=========================================================

        //大頭照新增  預覽
        $(".commentphotoclass").change(function () {
            const photo = document.getElementById($(this).attr("id")).files;
            if (photo) {
                let src = URL.createObjectURL(photo[0]);
                console.log(src);
                $(this).siblings('label').children().css( "background-image", `url('${src}')` );
            }
        });

        //======================================================
        //create下一步 按鈕

        next.addEventListener("click", function () {

            console.log($(".checkship").children())
            if ($("#ProductName").val() == "") {
                alert("名稱請填寫完整");
            }
            else if ($("#styleqty").val() == "") {
                alert("數量請填寫完整");
            }
            else if ($("#styleup").val() == "") {
                alert("價格請填寫完整");
            }
            else if ($("#Description").val() == "") {
                alert("描述請填寫完整");
            }
            else if ($(".checkship").children() == null) {
                alert("請至物流設定中設定物流");
            }
            else if ($(".checkpay").children() == null) {
                alert("請至物流設定中設定付款");        
            }
            else{
                $("#change1").css("display", "none");
                $("#change2").css("display", "block");
            }        
        });

        //create 上一步 按鈕

        back.addEventListener("click", function () {
            $("#change1").css("display", "block");
            $("#change2").css("display", "none");
        });

        //=============================================
        //Demo鍵
        demo.addEventListener("click", function () {
            document.getElementById("ProductName").value = "大西瓜";
            document.getElementById("Description").value = "又圓又大";
            $("#styleqty").val("2");
            $("#styleup").val("5000");
        });

        demomodal.addEventListener("click", function () {
            document.getElementById("text1").value="正方形";
            document.getElementById("text2").value=2;
            document.getElementById("text3").value=5000;
        });

        //=====================================================
        //表單照片轉二進位儲存

        let dataphoto = [];

        let appleclass = document.getElementsByClassName("commentphotoclass");
        $(".commentphotoclass").on("change", function () {
            let photos = [];
            dataphoto = [];
            for (let i = 0; i < appleclass.length; i++) {
                if (appleclass[i].files.length != 0) {
                    photos.push(appleclass[i].files);
                }
            }

            if (photos) {
                $.each(photos, function (idx, photo) {
                    let reader = new FileReader();
                    reader.readAsDataURL(photo[0]);
                    reader.onload = function () {
                        let src = reader.result;
                        dataphoto.push(src.split(",")[1]);
                    };
                });
            }
        })
//====================================================================
         //AD頁 儲存按鈕
        final.addEventListener("click", function () {
            console.log(dataphoto)
            //for (let i = 0; i < 4; i++){
            //    dataphoto.push(document.querySelector(`.commentPhoto${i + 2}`).value);
            //}

            //畫面的物流
            let shiper = [];
            @foreach (var item in  Model.shipID) {
                        <text>
                    shiper.push("@item");
                    </text>
                }
              //要存入的金流
             let payment = [];
            @foreach (var item in Model.PaymentID){
                <text>
                    payment.push("@item");
                    </text>
            }            
            if (!advancedmode) {
                if (dataphoto.length == 0) {
                    let onestyle = {
                        StyleStr: "預設",
                        QuantityStr: document.getElementById("styleqty").value,
                        UnitPriceStr: document.getElementById("styleup").value,
                        /*BodyPicStr: dataphoto[0]*/
                    };
                    alldata.push(onestyle);
                }
                else {
                    let onestyle = {
                        StyleStr: "預設",
                        QuantityStr: document.getElementById("styleqty").value,
                        UnitPriceStr: document.getElementById("styleup").value,
                        BodyPicStr: dataphoto[0]
                    };
                    alldata.push(onestyle);
                }
            }
           
            
            console.log($("#smallType").children("option:selected").val())
            let pushData = {
                暫存規格:alldata,
                ProductName: document.getElementById("ProductName").value,
                smalltype: $("#smallType").children("option:selected").val(),
                Description: document.getElementById("Description").value,
                CategoryID: $("#category").children("option:selected").val(),
                BodyPic: dataphoto,
                ShiperID: shiper,
                PaymentID: payment
            }

            jQuery.postJSON = function (url, data, callback) {
                jQuery.post(url, data, callback, "json");
            };

            $.postJSON("/Seller/CreateSuccess", { jsonString: pushData }, function () { });

            Swal.fire(
                '成功!',
                '您已新增成功!',
                'success'
            );

            setTimeout(function () {
                location.href = "/Seller/NewIndex"
            }, 2000);
           
        })
        //============防呆=====================
        $("#ProductName").blur(function () {
            if (($("#ProductName").val()) == "") {
                $("#checkname").html("必填欄位");
            }
            else {
                $("#checkname").html("");
            }
        });

        $("#styleqty").blur(function () {
            if (($("#styleqty").val()) == "") {
                $("#checkqty").html("必填欄位");
            }
            else {
                $("#checkqty").html("");
            }
        });

        $("#styleup").blur(function () {
            if (($("#styleup").val()) == "") {
                $("#checkup").html("必填欄位");
            }
            else {
                $("#checkup").html("");
            }
        });

        $("#Description").blur(function () {
            if (($("#Description").val()) == "") {
                $("#checkdes").html("必填欄位");
            }
            else {
                $("#checkdes").html("");
            }
        });

    </script>
}
