@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.seller.CSellerCreateToViewViewModel
@using prjiSpanFinal.ViewModels.seller;
@{
    ViewData["Title"] = "編輯商品";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>

        .描述欄位 {
            width: 680px;
            height: 200px;
            resize: none;
            border: solid;
            border-color: lightslategray;
        }

        label {
            font-size: 20px;
            font-weight: 600;
            padding-block: 3px;
        }

        .名稱寬 {
            float: left;
        }

        .btntype, .btntype物流 {
            height: 40px;
            width: 700px;
            border: dashed;
            border-radius: 7px;
            border-color: skyblue;
            background-color: white;
        }

        .delete, .add {
            height: 50px;
            border-radius: 25px;
            width: 50px;
            font-size: 10px;
        }

        .物流 {
            width: 880px;
        }

        .框線 {
            border-color: lightslategray;
            width: 270px;
        }

        .名稱 {
            border-color: lightslategray;
            width: 500px;
        }

        .表格寬度 {
            width: 200px;
            border-radius: 10px;
        }

        .貨運無底框 {
            border: 1px;
            border-color: darkgray;
            width: 500px;
            height: 40px;
            font-size: 20px;
            align-content: center;
        }

        .規格列表 {
            width: 150px;
            font-size: 18px;
        }

        .規格按鈕 {
            font-size: 10px;
            width: 35px;
            height: 25px;
            border-radius: 25px;
            margin: 0 auto;
        }

        td {
            margin-left: 1.5px;
        }

        .btntype物流 {
            width: 550px;
            margin-left: 2px;
        }

        .modal-dialog {
            top: 7rem !important;
        }

        .寬度 {
            position: relative
        }

        .按鈕大小 {
            font-size: 20px;
        }
    </style>
}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增規格</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label>樣式:</label>
                <input type="text" id="text1" class="form-control" required><div class="invalid-feedback">必填欄位</div>
                <br />
                <label>數量:</label>
                <input type="text" id="text2" class="form-control">
                <br />
                <label>售價:</label>
                <input type="text" id="text3" class="form-control">
                <br />
                <label>照片:</label>
                <input type="file" id="text4" class="form-group" accept="image/*">
                <img id="blah" src="#" alt="your image" />
            </div>
            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-warning">新增</button>
                <button id="close" type="button" class="btn btn-light" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<div class="row ">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-10" id="change1">
        <h2 class="d-flex justify-content-center mb-2 ">編輯商品</h2>
        <div class="row">
            <div class="排版 mx-5">
                <h4 class=" mb-4">商品資訊</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="pid" value="@Model.ProductID"/>
                <div class="d-flex justify-content-start">
                    <label class="名稱寬">名稱</label>
                    <input id="ProductName" type="text" class="form-control 名稱 mx-3 textval" value="@Model.ProductName" />
                    <span class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-2">類別</label>
                    <select class="form-select w-25 m-3 " aria-label="Default select example" id="bigType">
                        @{
                            for (int i = 0; i < Model.bigType.Count; i++)
                            {
                                <option value="@(i+1)">@Model.bigType[i]</option>
                            }
                        }
                    </select>
                    <select class="form-select w-25 m-3" aria-label="Default select example" id="smallType">
                        @{
                            for (int i = 0; i < 17; i++)
                            {
                                <option value="@(i+1)">@Model.smallType[i]</option>
                            }
                        }
                    </select>
                </div>

                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-3">自訂類別</label>
                    <select class="form-select w-25 m-3" aria-label="Default select example" id="category">
                        <option value="1" selected>未分類</option>
                        @{
                            if (Model.Category.Count >0)
                            {
                                for (int i = 0; i < Model.Category.Count; i++)
                                {
                                    <option value="@Model.CustomizedCategoryID[i]">@Model.Category[i]</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-2">規格</label>
                    <span class="text-danger"></span>
                    <section class="section">
                        <table class="table w-100 text-center">
                            <thead>
                                <tr>
                                    <th class="col 規格列表">樣式</th>
                                    <th class="col 規格列表">數量</th>
                                    <th class="col 規格列表">售價</th>
                                    <th class="col 規格列表">照片</th>
                                    <th class="col 規格列表">功能</th>
                                </tr>
                            </thead>
                            <tbody id="styletbody">
                                @{
                                    string styleid = "";
                                    for (int i = 0; i < Model.Style.Count; i++)
                                    {

                                        styleid = ("styleid" + i);
                                        <tr id="@styleid">
                                            <td class="col 規格列表">@Model.Style[i]</td>
                                            <td class="col 規格列表">@Model.Quantity[i]</td>
                                            <td class="col 規格列表">@Model.UnitPrice[i].ToString("0")</td>
                                            <td class="col 規格列表"><img src="data:image;base64,@System.Convert.ToBase64String(@Model.BodyPic[i])" width="30" height="30" /></td>
                                            <td class="col 規格列表"><p><button type="button" class="btn btn-danger  規格按鈕 delbtn"> X</button></p></td>
                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button class="btnnew m-3 btn w-25 btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">新增規格</button>
                        </div>
                    </section>
                </div>

                <div class="addStyle">
                </div>
                <div class="d-flex justify-content-start">
                    <label class="名稱寬 mt-2">封面照片</label>
                    <div class="d-flex justify-content-start" id="pichead">
                        @*    大頭照相片1     *@
                        <label class="btn" for="commentPhoto1">
                            @{
                                    if (Model.DBtoPic != null)
                                    {
                                    <img width="100" height="100" class="border  " style="background-image: url('data:image;base64,@System.Convert.ToBase64String(@Model.DBtoPic[0])') ; background-size: contain; background-repeat:no-repeat; background-position:center" />
                                    }
                                    else
                                    {
                                    <img width="100" height="100" class="border " style="background-image: url('/img/plus.jpg'); background-size: contain; background-repeat:no-repeat; background-position:center" />
                                    }
                            }
                        </label>
                        <input type="file" id="commentPhoto1" name="File1" class="commentphotoclass" style="opacity:0;width:0px;" accept="image/*" />
                    </div>
                    <label class="名稱寬 mt-2">其他照片</label>
                    <div class="d-flex justify-content-start" id="picbody">
                        @*    大頭照相片2     *@
                        @{
                            for (int i = 0; i < 4; i++)
                            {
                                string id = $"commentPhoto{i + 2}";
                                <div>
                                    <label class="btn" for="@id">
                                        @{
                                            if (Model.DBtoPic != null)
                                            {
                                                if (Model.DBtoPic.Count > 1 && i + 1 < Model.DBtoPic.Count)
                                                {
                                                    <img width="100" height="100" class="border " style="background-image: url('data:image;base64,@System.Convert.ToBase64String(@Model.DBtoPic[i+1])'); background-size: contain; background-repeat:no-repeat; background-position:center" />
                                                }
                                                else
                                                {
                                                    <img width="100" height="100" class="border " style="background-image: url('/img/plus.jpg'); background-size: contain; background-repeat:no-repeat; background-position:center" />
                                                }
                                            }
                                            else
                                            {
                                                <img width="100" height="100" class="border " style="background-image: url('/img/plus.jpg'); background-size: contain; background-repeat:no-repeat; background-position:center" />
                                            }
                                        }
                                    </label>
                                    <input type="file" id="@id" class="commentphotoclass  @id" style="opacity:0;width:0px;" accept="image/*" multiple />
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-2 ">描述</label>
                    <textarea id="Description" class="form-control  描述欄位 mt-3 mx-3" aria-label="With textarea">@Model.Description</textarea>
                </div>


                <div class="d-flex justify-content-start ">
                    <label class="名稱寬">物流</label>
                    <div class="col-1"></div>
                    <div class="row py-2 m-3 d-flex justify-content-around col-6">
                        @{
                            for (int i = 0; i < Model.memship.Count; i++)
                            {
                                <div class="col-3"></div>
                                <div class="col-6 my-1">
                                    <label class="d-flex justify-content-start"><img src="~/img/payment@(i+5).png" width="40" height="40" class="mx-2" id="@Model.shipID[i]" />@Model.memship[i]</label>
                                </div><br />
                                <div class="col-3"></div>
                            }
                        }
                    </div>
                    <div class="col-2"></div><br />
                </div>

                <div class="row ">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <input type="button" value="確定" id="good" class="btn btn-warning m-3 nextwork" />
                        <input type="button" value="取消" id="cancle" class="btn btn-secondary m-3 nextwork" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>


        $(document).on("click", ".delbtn", function () {   //刪除資料庫生成的規格
            $(this).parents("tr").remove();
        })

        /////////大類小類連接---------------------------------------------------------------------------------------------------------------
        let advancedmode = false;
        const bigType = document.querySelector("#bigType");
        const smallType = document.querySelector("#smallType");

        bigType.addEventListener("change", async function () {
            $.getJSON("/Seller/SmallType", { bigtype: $("#bigType").children("option:selected").val() }, function (data) {
                $("#smallType").html("");
                for (let i = 0; i < data.length; i++) {
                    $("#smallType").append(`<option value="${data[i].id}">${data[i].name}</option>`);
                }
            });
        })
        //------------------------------------------------

        let alldata = [];

        //資料暫存,後去把data變數傳入後端
        let data = [];

        let tbody = document.querySelector('tbody')
        for (let i = 0; i < data.length; i++) {
            let tr = document.createElement('tr');
            tbody.appendChild(tr);
            for (let j = 0; j < data[i].length; j++) {
                let td = document.createElement('td');
                td.innerHTML = data[i][j];
                tr.appendChild(td);
            }
        }

        //show 出 model 可新增拍賣物品
        let btn = document.querySelector(".btnnew")
        btn.addEventListener('click', (e) => {
            e.preventDefault(); //取消原本action的預設值
            clickValue(); //清空值
        })

        //清空model值
        function clickValue() {
            document.getElementById("text1").value = '';
            document.getElementById("text2").value = '';
            document.getElementById("text3").value = '';
            document.getElementById("text4").value = '';
        }

        //取得照片轉成二進位檔
        let stylephoto;
        let img = document.getElementById("text4");

        $("#text4").on("change", function () {
            let photo;
            if (img.files.length != 0) {
                photo = img.files;
            }
            console.log(photo)
            if (photo) {
                let reader = new FileReader();
                reader.readAsDataURL(photo[0]);
                reader.onload = function () {
                    let src = reader.result;
                    stylephoto = src.split(",")[1];
                };
            }
        })

        save.addEventListener("click", function () {

            let dataNew = [];
            let name = document.getElementById("text1").value;//prompt('請輸入姓名');
            let subject = document.getElementById("text2").value;
            let score = document.getElementById("text3").value;


            //判斷資料有值再塞入
            if (name !== '' && subject !== '' && score !== '') {
                dataNew.push(name);
                dataNew.push(subject);
                dataNew.push(score);
                dataNew.push(stylephoto);
                //塞資料到暫存    //可以存JSON的地方
                data.push(dataNew);
                //資料暫存,後去把data變數傳入後端
                let styleName = {
                    StyleStr: name,
                    QuantityStr: subject,
                    UnitPriceStr: score,
                    BodyPicStr: stylephoto
                };
                alldata.push(styleName);

                let tr = document.createElement('tr');
                for (let i = 0; i < dataNew.length - 1; i++) {
                    let td = document.createElement('td');
                    td.innerHTML = dataNew[i];
                    tr.appendChild(td);
                }
                let td1 = document.createElement('td');
                //src="data:image;base64,${stylephoto}"  將二進位檔轉成圖片檔
                td1.innerHTML = `<img src="data:image;base64,${stylephoto}" width="30" height="30" />`;
                tr.appendChild(td1);

                let td = document.createElement('td');
                td.innerHTML = `<a href='javascript:;'><button type="button" class="btn btn btn-danger  規格按鈕"> X</button></a>`;
                let a = td.children[0];
                a.addEventListener('click', () => {
                    let parent = a.parentNode.parentNode;
                    parent.remove();
                })
                tr.appendChild(td);
                tbody.insertBefore(tr, tbody.children[0])

                var myModalEl = document.getElementById('exampleModal');
                var modal = bootstrap.Modal.getInstance(myModalEl)
                modal.hide();
            }
            else {
                alert("項目,數量和價格不可為空");
            }

        })




        //=========================================================

        //大頭照新增  預覽
        $(".commentphotoclass").change(function () {
            const photo = document.getElementById($(this).attr("id")).files;
            if (photo) {
                let src = URL.createObjectURL(photo[0]);
                $(this).siblings('label').children().css("background-image", `url('${src}')`);
            }
        });
        //=====================================================
        //表單照片轉二進位儲存

        let dataphoto = [];

        let appleclass = document.getElementsByClassName("commentphotoclass");
        $(".commentphotoclass").on("change", function () {
            let photos = [];
            dataphoto = [];
            for (let i = 0; i < appleclass.length; i++) {
                if (appleclass[i].files.length != 0) {
                    photos.push(appleclass[i].files);
                }
            }

            if (photos) {
                $.each(photos, function (idx, photo) {
                    let reader = new FileReader();
                    reader.readAsDataURL(photo[0]);
                    reader.onload = function () {
                        let src = reader.result;
                        dataphoto.push(src.split(",")[1]);
                    };
                });
            }
        })
//====================================================================
         good.addEventListener("click", function () {

             //資料庫規格資料
             for (let i = 0; i < $("#styletbody").children().length; i++) {
                 var id = document.getElementById('styleid' + i);
                 let stylephoto;
                 if (id != null) {
                     if (id.children[3].children[0] != null) {
                         let src = id.children[3].children[0].getAttribute("src");
                         stylephoto = src.split(",")[1];
                     }
                     let styleSpec = {
                         StyleStr: id.children[0].textContent,
                         QuantityStr: id.children[1].textContent,
                         UnitPriceStr: id.children[2].textContent,
                         BodyPicStr: stylephoto
                     };
                     alldata.push(styleSpec);
                 }
                 
             }

             //資料庫照片資料
             if (!$("#commentPhoto1").change(function () { })) {
                 let hesdpic = $("#pichead").children().children().attr("style").split(",")[1].split("'")[0];
                 dataphoto.push(hesdpic);
             }

             console.log(2)
             

             for (let i = 0; i < 4; i++){                
                 if (!$(`#commentPhoto${i}`).change(function () { })) {
                    if (!$("#picbody").children().children().eq(0).attr("style").split("'")[1].split("'")[0]) {
                        dataphoto.push($("#picbody").children().children().eq(0).attr("style").split("'")[1].split("'")[0]);
                        if (!$("#picbody").children().children().eq(1).attr("style").split("'")[1].split("'")[0]) {
                            dataphoto.push($("#picbody").children().children().eq(1).attr("style").split("'")[1].split("'")[0]);
                            if (!$("#picbody").children().children().eq(2).attr("style").split("'")[1].split("'")[0]) {
                                dataphoto.push($("#picbody").children().children().eq(2).attr("style").split("'")[1].split("'")[0]);
                                if (!$("#picbody").children().children().eq(3).attr("style").split("'")[1].split("'")[0]) {
                                    dataphoto.push($("#picbody").children().children().eq(3).attr("style").split("'")[1].split("'")[0]);
                                }
                            }
                        }
                    }
                }
             }
             
             
             

            //畫面的物流
            let shiper = [];
            @foreach (var item in  Model.shipID) {
                        <text>
                    shiper.push("@item");
                    </text>
                }
              //要存入的金流
             let payment = [];
            @foreach (var item in Model.PaymentID){
                <text>
                    payment.push("@item");
                    </text>
            }
             console.log($("#category").children("option:selected").val())
            let pushData = {
                暫存規格: alldata,
                ProductName: document.getElementById("ProductName").value,
                smalltype: $("#smallType").children("option:selected").text(),
                Description: document.getElementById("Description").value,
                CategoryID: $("#category").children("option:selected").val(),
                BodyPic: dataphoto,
                ShiperID: shiper,
                PaymentID: payment,
                ProductID:$("#pid").val()
            }

            jQuery.postJSON = function (url, data, callback) {
                jQuery.post(url, data, callback, "json");
            };

             $.postJSON("/Seller/EditProductSuccess", { jsonString: pushData }, function () { });

            Swal.fire(
                '成功!',
                '您已修改成功!',
                'success'
            );

            setTimeout(function () {
                location.href = "/Seller/NewIndex"
            }, 2000);

        })
    </script>

}

