@addTagHelper *, prjiSpanFinal
@model List<prjiSpanFinal.ViewModels.seller.CSubEventToProductViewModel>
@{
    ViewData["Title"] = "Event";
}
@section Styles
    {
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
        .建立按鈕 {
            font-weight: 700;
        }

        .內文優惠劵 {
            font-weight: 700;
            font-size: 20px;
        }

        .置中 {
            vertical-align: middle;
        }
    </style>
}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">參加活動</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>選擇子活動</label>
                    <select id="SubOfficialEventListId" class="form-select" aria-label="Default select example">
                        @{
                            foreach (var i in Model.FirstOrDefault().SubOfficialEventList)
                            {
                                <option value="@i.SubOfficialEventListId">@i.SubEventName</option>
                            }
                        }
                    </select>
                </div>
                <div class="modal-body">
                    <label>選擇商品</label>
                    <select id="ProductId" class="form-select" aria-label="Default select example">
                        @{
                            foreach (var i in Model.First().Products)
                            {
                                <option value="@i.ProductId">@i.ProductName</option>
                            }
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="save" type="button" class="btn btn-warning">新增</button>
                    <button id="close" type="button" class="btn btn-light" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
    </div>
</div>



<div class="row">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-9 ">
        <h2 class="d-flex justify-content-center">蝦爆活動</h2>
        <div class="">
            <div class="my-3 mx-2 內文優惠劵">商品活動</div>
            <div class="mx-2">
                <p>
                    1.曝光資源: 蝦爆專屬活動頁；曝光時間12/12 12:12 - 12/12 23:12 <br />
                    2.提報時間為即日起至2022/12/12 23:12<br />
                    3.審核成功後將於活動時間由系統變價 <br />
                    4.價格必須為平台/市場優勢價 <br />
                    5.提品方向(不符合主題者不會入選)：一旦入選，不另行通知，也無法取消活動資格，請提報商品時務必注意商品活動價
                </p>
            </div>
            <div class="d-flex justify-content-start">
                <div class="mx-2 input-group mb-3 w-50">
                    <span class="input-group-text">活動名稱</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>
                <button id="checkjoin" class="btn btn-outline-secondary m-2 mb-3">已參加活動</button>
            </div>
            <div class="">
                <table class="table border rounded-2">
                    <tr class="text-bg-light p-3">
                        <td class="col-3"></td>
                        <td class="col-7">活動名稱/活動期間</td>
                        <td class="col-2"></td>
                    </tr>
                    @{
                        foreach (var ev in Model.FirstOrDefault().OfficialEventList)
                        {
                            <tr>
                                <td class="col-3">
                                    @{
                                        var base64Image = Convert.ToBase64String(ev.EventPic);
                                        var source = String.Format("data:image/png;base64,{0}", base64Image);
                                    }
                                    <img src="@source" alt="..." height="100" width="300" />
                                </td>
                                <td class="置中 col-6">
                                    @ev.EventName
                                    @{
                                        if (ev.StartDate < DateTime.Now && ev.EndDate > DateTime.Now)
                                        {
                                            int Days = (ev.EndDate - DateTime.Now).Days;
                                            int Hrs = (ev.EndDate - DateTime.Now).Hours - Days;
                                            <p>報名:<span style="color:red;"> @ev.SubOfficialEventLists.Count </span>個子活動現在可報名，最早的報名將结束於 @Days 天 @Hrs 小時。</p>
                                        }
                                    }
                                    <p>@ev.StartDate 到 @ev.EndDate</p>
                                </td>
                                <td class="置中 col-3">
                                    <div>
                                        <button class="btn btn-warning float-end w-50 建立按鈕 btnjoin" data-bs-toggle="modal" data-bs-target="#exampleModal" id="@ev.OfficialEventListId">參加活動</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
@section Scripts
    {
<script>
    $("#checkjoin").click(function () {
        location.href = "/Seller/JoinEventChi"
    });


    $(".btnjoin").click(async function () {
        const bigeveId = $(this).attr("id");

        $.getJSON("/Seller/Smalleve", { bigeveid: bigeveId }, function (data) {
            $("#SubOfficialEventListId").html("");
            for (let i = 0; i < data.length; i++) {
                $("#SubOfficialEventListId").append(`<option value="${data[i].id}">${data[i].name}</option>`);
            }
        });
    });
    




    $("#save").click(function () {

        let Data = {
            ProductID: $("#ProductId").children("option:selected").val(),
            SubOfficialEventIDBack: $("#SubOfficialEventListId").children("option:selected").val()
        };

        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };

        $.postJSON("/Seller/EventJoin", { jsonString: Data }, function () { });

        $("#SubOfficialEventListId")[0].selectedIndex = 0;
        $("#ProductId")[0].selectedIndex = 0;

        var myModalEl = document.getElementById('exampleModal');
        var modal = bootstrap.Modal.getInstance(myModalEl);
        modal.hide();

        Swal.fire(
            '完成!',
            '完成參加!',
            'success'
        );

        setTimeout(function () {
            location.href = "/Seller/Event"
        }, 1000);
    });
</script>
}
