@model prjiSpanFinal.ViewModels.Category.CCategoryIndex
@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "SearchResult";
}
@section Styles{
    <link href="~/css/Category/CategoryStyles.css" rel="stylesheet" />
}
<div class="CategoryBody">
    <div class="row">
        <div class="filter-body d-flex  flex-wrap align-content-start">
            <div class="filter-filter w-100">
                @{
                    @if (Model.cShowItem.Count > 0)
                    {
                        <div class="ff-title d-flex justify-content-center w-100">
                            <span><i class="fa fa-filter"></i></span>
                            <span>條件篩選</span>
                        </div>

                        <div class="ffsplits">
                            <div class="ff-typestitle w-100 p-1">
                                價格區間
                            </div>
                            <div class="d-flex w-100 flex-row ff-types-prices">
                                <div class="ff-types-prices-child2">
                                    <input placeholder="＄最小值" />
                                </div>
                                <div class="ff-types-prices-child1 text-center opacity-50">
                                    ─
                                </div>
                                <div class="ff-types-prices-child2">
                                    <input placeholder="＄最大值" />
                                </div>
                            </div>
                            <button class="w-100 text-center ff-types-prices-btn">搜尋</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="itembody">
            <div class="Searchresult">
                @{
                    @if (Model.cShowItem.Count > 0)
                    {
                        <div class="Searchresult-ADTitle">
                            <span>你或許會想知道...</span>
                        </div>
                        <div class="Searchresult-AD d-flex justify-content-center">
                            <a href="">
                                <img src="~/img/Category/CateAD2.png" />
                            </a>
                        </div>
                        } }
                        <div class="Searchresult-ResultTitle">
                            <i class="fa fa-search "></i>
                            <span>@Model.SearchKeyword 的搜尋結果：</span>
                        </div>
                    </div>
            @{
                @if (Model.cShowItem.Count > 0)
                {
                    <div class="itembody-filter d-flex align-items-center justify-content-between">
                        <div class="itembody-filter1 "><span>篩選</span></div>
                        <div class="itembody-filter2 d-flex justify-content-start align-items-stretch">
                            @Html.ActionLink("綜合排序",
                           "SearchResult", "Category",
                           new { keyword = Model.SearchKeyword, sortOrder = 1 },
                           new { @class = "itembody-filter2-btn linknoline" })
                            @Html.ActionLink("最新商品",
                           "SearchResult", "Category",
                         new { keyword = Model.SearchKeyword, sortOrder = 2 },
                         new { @class = "itembody-filter2-btn linknoline" })
                            @Html.ActionLink("熱銷商品",
                         "SearchResult", "Category",
                         new { keyword = Model.SearchKeyword, sortOrder = 3 },
                         new { @class = "itembody-filter2-btn linknoline" })
                            <a class="itembody-filter2-btn linknoline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                價格排序
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="@Url.Content("~/Category/SearchResult/?keyword="+Model.SearchKeyword+"&sortOrder=4")">
                                        <i class="fa fa-arrow-up"></i>
                                        價格：由高至低
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="@Url.Content("~/Category/SearchResult/?keyword="+Model.SearchKeyword+"&sortOrder=5")">
                                        <i class="fa fa-arrow-down"></i>
                                        價格：由低至高
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="itemcol">


                        @foreach (var item in Model.cShowItem)
                        {
                            @await Component.InvokeAsync("CategoryShow", new { shopProduct = item });
                        }
                    </div>
                }
                else
                {
                    <div>
                        找無此商品...你的想像力比賣家們更豐富！
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Category/Index.js"></script>
    <script src="~/js/Category/SearchResult.js"></script>
}