@model prjiSpanFinal.ViewModels.Header.CHeader2ViewModel
@{
    int getCarts = 0;
    if (Model.loggedMember != null) {
        getCarts = Model.Carts;
    }
}

<div class="layoutheader2" style="margin-top:53px;" id="header2">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-between">
            <!-- LOGO -->
            <div class="col-xl-2 lologo">
                <div class="header-logo">
                    <a href="@Url.Content("~/Home/Index")" class="logo">
                        <img src="~/img/Layout/LOGO_Long2.png" class="logopic" />
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
            <!-- SEARCH BAR -->
            <div class="col-xl-7 align-self-center loschbar">
                <div class="input-group mb-1">
                    <input type="text" id="SearchInputTxT" class="form-control input-text" placeholder="搜尋好物前先領取折價券..." aria-label="SearchInputTxT" aria-describedby="basic-addon2">
                    <a id="SearchInputbtn" class="btn btn-outline-warning btn-lg" href="#"><i class="fa fa-search"></i></a>
                </div>
                <div class="searchkeyspace d-flex" id="searchkeyspace">
                    <div class="searchkeywordbox"><a class="linknoline searchkeyword"></a>　　</div>
                </div>
            </div>
            <!-- /SEARCH BAR -->
            <!-- Searchcart -->
            <div class="col-xl-3 d-flex align-self-center justify-content-center align-items-center h2Searchcart">
                <div class="searchcart d-flex flex-row ">
                    <!-- SellerCenter -->
                    <div class="searchcart-Cart">
                        <a href="@Url.Content("~/Seller/Center")" class="linknoline">
                            <i class="fa fa-shop searchcart-Cart-icon"></i>
                            <div class="text-center">
                                <span>賣家中心</span>
                            </div>
                        </a>
                    </div>
                    <!-- /SellerCenter -->
                    <!-- MemberCenter -->
                    <div class="searchcart-Cart">
                        <a href="@Url.Content("~/Member/Order")" class="linknoline">
                            <i class="fa fa-user searchcart-Cart-icon"></i>
                            <div class="text-center">
                                <span>會員中心</span>
                            </div>
                        </a>
                    </div>
                    <!-- /MemberCenter -->
                    <!-- Cart -->
                    <div class="searchcart-Cart1" style="cursor:pointer">
                        <div>
                            <i class="fa fa-shopping-cart searchcart-Cart-icon" id="ShoppingCartIcon">
                                @*@if (getCarts > 0)
                                {
                                    <span class="qty" id="itemCountInCart">@getCarts</span>
                                }
                                else
                                {
                                    <span class="qty" id="itemCountInCart">0</span>
                                }*@
                            </i>
                            <div class="text-center">
                                <span>購物車</span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /Cart -->
                    <a href="@Url.Content("~/Item/BiddingItemHome")"><button class="uploadBiddingItem btn btn-primary btn-sm">馬上競標</button></a>
                </div>
            </div>
            <!-- /Searchcart -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>
@section Scripts{
    <script>
        
    </script>
}