@model prjiSpanFinal.ViewModels.Delivery.CDeliveryCheckoutViewModel


<div class="border rounded-2">
    @{
        foreach (var i in Model.purchaseItemInfo)
        {
            string imgSrc = "";
            try
            {
                string base64 = Convert.ToBase64String(i.productDetailPic);
                imgSrc = $"data:image/gif;base64,{base64}";
            }
            catch
            {
                imgSrc = Url.Content("~/img/imageNotFound.png");
            }
            <div class="d-flex justify-content-between align-items-center ps-2 pe-5 py-1">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="itemThumbnail mx-2">
                        <img src="@imgSrc" />
                    </div>
                    <div>
                        <div class="fs-5">@i.productName</div>
                        <div>@i.productStyle</div>
                        <div>$<span>@i.unitPrice</span></div>
                    </div>
                </div>
                <div class="fs-5 text-black-50">x<span>@i.purchaseCount</span></div>
            </div>
        }
    }
</div>
<div class="border rounded-2 my-2 px-2 py-1">
    <div class="d-flex justify-content-start align-items-center fs-5">
        <i class="fa-solid fa-truck-fast"></i>
        <div class="ms-2">聯絡及運送方式</div>
    </div>
    <div class="contactInfo">
        <div class="row my-1 align-items-center">
            <label class="col-2 text-center" for="recipient">收件人</label>
            <input class="contact col-5" type="text" name="recipient" placeholder="收件人真實姓名" id="recipient" value="@Model.buyer.Name" />
        </div>

        <div class="row my-1 align-items-center">
            <label class="col-2 text-center" for="email">電子信箱</label>
            <input class="contact col-5" type="email" name="email" placeholder="電子信箱" id="email" value="@Model.buyer.Email" />
        </div>
        <div class="row my-1 align-items-center">
            <label class="col-2 text-center" for="phone">連絡電話</label>
            <input class="contact col-5" type="text" name="phone" placeholder="連絡電話" id="phone" value="@Model.buyer.Phone" />
        </div>
        <div class="finalShipInfo d-none">
            <div class="fw-bold" id="finalShipper"></div>
            @*<div class="text-black-50" id="finalAddress"></div>*@
            <div>運費:<span class="text-danger">$<sapn class="finalShipFee"></sapn></span></div>
        </div>
        <div class="row my-1 align-items-center">
            <label class="col-2 text-center" for="address">收貨地址</label>
            <input class="contact col-5" type="text" name="address" placeholder="收貨地址" id="address" value="@Model.buyer.Address" />
        </div>
        <button class="changeShip border-0 bg-transparent text-primary">選擇運送方式</button>
    </div>
    <div class="choseShip mt-2 px-2 border" style="display:none">
        @{
            foreach (var i in Model.sellerShipperPayments[0].shippers)
            {
                <div class="border-top my-2">
                    <div class="ship border-start border-3 bg-light fs-6 ps-2" id="@i.ShipperId"><span class="shipperName">@i.ShipperName</span><span class="text-danger ms-2" style="font-size:12px">運費:$<span>@i.Fee</span></span></div>
                    <div class="address fs-6 ps-2 text-black-50"></div>
                    <button class="addAddress btn btn-outline-danger btn-sm ms-2 d-none" style="font-size:12px" data-bs-toggle="modal" data-bs-target="#showMap">+新增地址</button>
                </div>
            }
        }
        <div class="text-end border-top mt-2 pt-2">
            <button class="bg-transparent border-0 text-primary fs-6" id="confirmedShip">確定</button>
        </div>
    </div>
</div>
<div class="border rounded-2 my-2 px-2 py-1">
    <div class="d-flex justify-content-start align-items-center my-2 fs-5">
        <i class="fa-regular fa-credit-card"></i>
        <div class="ms-2">付款方式</div>
    </div>
    <div style="font-size:14px">
        <div class="my-2">
            @{
                foreach (var i in Model.sellerShipperPayments[0].payments)
                {
                    <input type="radio" name="payment" id="@i.PaymentId" />
                    <label for="@i.PaymentId">@i.PaymentName</label>
                }
            }
        </div>
    </div>
</div>

<div class="border rounded-2 my-2 px-2 py-1">
    <div>備註</div>
    <input type="text" placeholder="給賣家的話" />
</div>

<div class="modal showMap" tabindex="-1" id="showMap">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">選擇地址或門市</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="googleMaps w-100" id="map">

                </div>
                <input value="" class="inputAddress rounded-2 w-100" placeholder="輸入地址或由地圖上選擇門市" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="saveAddress btn btn-primary" data-bs-dismiss="modal">儲存</button>
            </div>
        </div>
    </div>
</div>



<script src="~/js/Delivery/DeliveryFillCheckoutForm.js"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6qDNf57C75-7sdC-Gxx4NoV_Y5wOLgmU&callback=initMap">
</script>