@model prjiSpanFinal.ViewModels.Delivery.CDeliveryCheckoutViewModel
@using prjiSpanFinal.ViewModels.Delivery
@{
    ViewData["Title"] = "Checkout";
    List<int> sellerIDList = new List<int>();
    List<string> sellerAccList = new List<string>();
    foreach (var i in Model.sellerShipperPayments)
    {
        if (sellerIDList.Contains(i.seller.MemberId))
        {
            continue;
        }
        else
        {
            sellerIDList.Add(i.seller.MemberId);
            sellerAccList.Add(i.seller.MemberAcc);
        }
    }
    
}

@section Styles{
    <link href="~/css/Delivery/ProgressBar.css" rel="stylesheet" />
    <link href="~/css/Delivery/DeliveryCheckout.css" rel="stylesheet" />
}

@await Component.InvokeAsync("DeliveryProgressBar", new { checkoutPage = 1 })
<div class="btn-group mb-3 position-relative" role="group" aria-label="Basic radio toggle button group" id="choseStore">
    <div class="sellerIDIndex d-none">0</div>
    <div class="sellerIDCount d-none">@sellerIDList.Count</div>
    @{
        for (int i = 0; i < sellerIDList.Count; i++)
        {
            <div class="sellerIDNumber d-none">@sellerIDList[i]</div>
        }
    }
    @{
        string sellerID = "seller" + sellerIDList[0];
    }
    <input type="radio" class="sellerID btn-check" name="btnradio" id="@sellerID" autocomplete="off" checked>
    <label class="sellers btn btn-outline-warning" for="@sellerID">@sellerAccList[0]</label>
    @{
        for (int i = 1; i < sellerAccList.Count; i++)
        {
            sellerID = "seller" + sellerIDList[i];
            <input type="radio" class="sellerID btn-check" name="btnradio" id="@sellerID" autocomplete="off">
            <label class="sellers btn btn-outline-warning" for="@sellerID">@sellerAccList[i]</label>
        }
    }
</div>
<div class="row">
    <div class="col-9">
        <div class="checkoutFormVC">
            @await Component.InvokeAsync("DeliveryFillCheckoutForm", new { sellerIDIndex = 0 })
        </div>
    </div>
    <div class="col-3">
        <div class="showCalTotalPriceVC">
            @await Component.InvokeAsync("CalTotalPrice", new { id = 2, sellerIDIndex = 0, sellerMemberID = sellerIDList[0] })

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            let sellerIDNumber = Number($(".sellerIDNumber").html());
            $(".checkoutFormVC").load("@Url.Content("~/Delivery/CheckoutForm")" + `?sellerIDIndex=0`);
            $(".showCalTotalPriceVC").load("@Url.Content("~/Delivery/ShowCalTotalPriceVC")" + `?id=2&sellerIDIndex=0&sellerMemberID=${sellerIDNumber}`);
            if ($(".sellerIDCount").html() == "1") {
                $("#nextStore").html("確認並前往下單");
            }
            else {
                $("#nextStore").html("確認並前往下一筆");
            }
        });
        function changePage(NextOrPrevOrIndex) {
            const sellerCount = Number($(".sellerIDCount").html());
            const sellerIDIndex = Number($(".sellerIDIndex").html());
            let nextSellerIDIndex;
            if (NextOrPrevOrIndex == "Next") {
                nextSellerIDIndex = sellerIDIndex + 1;
            }
            else if (NextOrPrevOrIndex == "Prev") {
                nextSellerIDIndex = sellerIDIndex - 1;
            }
            else {
                nextSellerIDIndex = NextOrPrevOrIndex;
            }
            let nextSellerIDNumber = $(".sellerIDNumber").eq(nextSellerIDIndex).html();
            const _url = "@Url.Content("~/Delivery/CheckoutForm")" + `?sellerIDIndex=${nextSellerIDIndex}`;
            const _CalTotalPriceUrl = "@Url.Content("~/Delivery/ShowCalTotalPriceVC")" + `?id=2&sellerIDIndex=${nextSellerIDIndex}&sellerMemberID=${nextSellerIDNumber}`;
            $(".checkoutFormVC").load(_url);
            $(".showCalTotalPriceVC").load(_CalTotalPriceUrl);
            $(".sellerIDIndex").html(nextSellerIDIndex);
            if (nextSellerIDIndex >= sellerCount - 1) {
                $("#nextStore").html("確認並前往下單");
            }
            else {
                $("#nextStore").html("確認並前往下一筆");
            }
            if (nextSellerIDIndex <= 0) {
                $("#previousStore").removeClass("d-none").addClass("d-none");
            }
            else {
                $("#previousStore").removeClass("d-none");
            }
            $("#choseStore").find(".sellerID").eq(nextSellerIDIndex).prop("checked", true);
        };
        $(".showCalTotalPriceVC").on("click", "#nextStore", async function () {
            if ($("#finalShipper").html() == "") {
                Swal.fire("請選擇一種運送方式");
            }
            else if ($(".payment:checked").length<1) {
                Swal.fire("請選擇一種付款方式");
            }
            else {
                console.log($(this).html());
                const sellerID = Number($(".sellerID:checked").attr("id").substring(6));
                const recipient = $("#recipient").val();
                const email = $("#email").val();
                const phone = $("#phone").val();
                const address = $("#address").val();
                const shipperID = Number($("#finalShipperID").html());
                const shipperName = $("#finalShipper").html();
                const shipperFee = Number($("#finalShipperFee").html());
                const paymentID = Number($(".payment:checked").attr("id").substring(7));
                const paymentName = $(".payment:checked").siblings("label").html().split('<')[0];
                const paymentFee = Number($(".payment:checked").siblings("label").find(".paymentFee").html());
                const couponID = Number($(".selectedCouponID").attr("id").substring(8));
                const couponName = $(".selectedCouponID").html();
                const wordToSeller = $("#wordToSeller").val();
                let jsonObject = {
                    "sellerID": sellerID,
                    "recipient": recipient,
                    "email": email,
                    "phone": phone,
                    "address": address,
                    "shipperID": shipperID,
                    "shipperName": shipperName,
                    "shipperFee": shipperFee,
                    "paymentID": paymentID,
                    "paymentName": paymentName,
                    "paymentFee":paymentFee,
                    "couponID": couponID,
                    "couponName": couponName,
                    "wordToSeller": wordToSeller
                };
                let jsonString = JSON.stringify(jsonObject);
                let respons = await fetch("@Url.Content("~/Delivery/SaveShipperPaymentCoupon")" + `?x=${jsonString}`);
                let data = await respons.text();
                if ($(this).html() == "確認並前往下一筆") {
                    changePage("Next");
                }
                else {
                     window.location.href = "@Url.Content("~/Delivery/CheckoutConfirm")"
                }
            }
        })
        $(".sellers").click(function () {
            changePage($(this).index("label"))
        });
        
        
    </script>
    @*<script src="~/js/Delivery/DeliveryFillCheckoutForm.js"></script>*@
    <script src="~/js/Delivery/DeliveryCheckout.js"></script>
    <script src="~/js/Delivery/ProgressBar.js"></script>

}