@model IEnumerable<CArgumentViewModel>
@{
    ViewData["Title"] = "ArgumentList";
    var pagedList = (IPagedList)ViewBag.Prods;
    if (ViewBag.pageSize == null) { ViewBag.pageSize = 5; }
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent;
@using X.PagedList.Web.Common;
@using prjiSpanFinal.ViewModels.newManagement
@section Styles{
    <style>
        td input {
            width: 160px;
        }
    </style>
}
<h1>消費糾紛</h1>
<form>
    <input type="search" name="keyword" placeholder="輸入內容進行搜尋,或不輸入回到列表" class="form-control" />
    <input type="submit" value="搜尋" class="btn btn-outline-secondary mt-1" />
</form>
<form>
    依類型篩選
    <select id="filter" name="filter">
        <option value="">選擇類型</option>
        @foreach (var i in ViewBag.ArgumentType)
        {
            <option value="@i.ArgumentTypeName">@i.ArgumentTypeName</option>
        }
    </select>
    <input id="filtersubmit" type="submit" value="全部" class="btn btn-outline-secondary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                訂單ID(點擊以查看詳情)
            </th>
            <th>
                消費糾紛類型
            </th>
            <th>
                爭議原因
            </th>
            <th>
                內容
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input value="@item.Argument.ArgumentId" class="form-control-plaintext" readonly>
                </td>
                <td>
                    @Html.ActionLink($"{item.Argument.OrderId}", "OrderDetailList", "newManagement", new { id = item.Argument.OrderId }, new { @class = "btn btn-outline-info" })
                </td>
                <td>
                    <input value="@item.ArgumentTypeName" class="statusname form-control-plaintext" readonly>
                </td>
                <td>
                    <input value="@item.ArgumentReasonName" class="form-control-plaintext" readonly>
                </td>
                <td>
                    <input value="@item.Argument.ReasonText" class="form-control-plaintext" readonly>
                </td>
                <td>
                    @{
                        if (item.Argument.ArgumentTypeId == 5)
                        {
                            <a name="@item.Argument.ArgumentId" class="Delete btn btn-outline-secondary">未成案</a>
                            <a name="@item.Argument.ArgumentId" class="Approve btn btn-outline-primary">停權買家帳號</a>
                            <a name="@item.Argument.ArgumentId" class="Approve2 btn btn-outline-primary">停權賣家帳號</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*分頁導覽*@
<div style="align-content:center" class="paginations">
    @{int ps = 3; if (ViewBag.pageSize != null) { ps = ViewBag.pageSize; }}
    @Html.Pager(pagedList).Url(page => Url.Action("ArgumentList", new { pageSize = ps, page })).DisplayEllipsesWhenNotShowingAllPageNumbers().MaximumPageNumbersToDisplay(ps).Build()

    每頁
    <select id="pagesize" class="mt-1">
        <option value=@ViewBag.pageSize>@ViewBag.pageSize</option>
        @{
            if (ViewBag.pageSize != 3)
            {
                <option value=3>3</option>
            }}
        @{
            if (ViewBag.pageSize != 5)
            {
                <option value=5>5</option>
            }}
        @{
            if (ViewBag.pageSize != 10)
            {
                <option value=10>10</option>
            }}
        @{
            if (ViewBag.pageSize != 20)
            {
                <option value=20>20</option>
            }}
        @{
            if (ViewBag.pageSize != 100)
            {
                <option value=100>100</option>
            }}
    </select>
    筆
</div>
@*分頁導覽*@

@section Scripts{
    <script>
        let page = document.querySelectorAll(".paginations a");
        let pagesss = document.querySelectorAll(".paginations span");
        let pages = document.querySelectorAll(".paginations li");
        let pagess = document.querySelectorAll(".paginations ul");
        for (let a of page) {
            a.classList.add('page-link');
        }
        for (let a of pagesss) {
            a.classList.add('page-link');
        }
        for (let a of pages) {
            a.classList.add('page-item')
        }
        for (let a of pagess) {
            a.classList.add('pagination');
        }
        let Delete = document.querySelectorAll(".Delete");
        let Approve = document.querySelectorAll(".Approve");
        let Approve2 = document.querySelectorAll(".Approve2");
        let PSName = document.querySelectorAll(".statusname");
        for (var BTNdele of Delete) {
            BTNdele.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ArgumentDelete")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    $(this).closest("td").siblings().find(".statusname").val("取消");
                }
            })
        }
        for (var BTNDeny of Approve) {
            BTNDeny.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                 let c=confirm("確認要停權買家帳戶嗎?");
                 if(c){
                let response = await fetch("@Url.Content("~/newManagement/ArgumentApprove")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data !=null) {
                    $(this).closest("td").siblings().find(".statusname").val("處理完成");
                    alert("已停權買家帳戶");
                    $(this).siblings("a").remove();
                    $(this).remove();
                    happy_sendnoti(4, parseInt(data), "您的帳戶已被停權", "/Member/Order", "由於您被投訴棄單，情節屬實，因此您的帳戶已被停權");
                    }
                }
            })
        }
        for (var BTNDeny of Approve2) {
            BTNDeny.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let c=confirm("確認要停權賣家帳戶嗎?");
                if(c){
                let response = await fetch("@Url.Content("~/newManagement/ArgumentApprove2")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data !=null) {
                    $(this).closest("td").siblings().find(".statusname").val("處理完成");
                    alert("已停權賣家帳戶");
                    $(this).siblings("a").remove();
                    $(this).remove();
                        happy_sendnoti(4, parseInt(data), "您的帳戶已被停權", "/Member/Order", "由於您被投訴棄單，情節屬實，因此您的帳戶已被停權");
                    }
                }
            })
        }
         //選取一頁幾筆
        let pagesize=document.getElementById("pagesize");
        let pageSize=0;
        pagesize.addEventListener("change",function(){
            pageSize=pagesize.options[pagesize.selectedIndex].value;
            Filter=filter.options[filter.selectedIndex].value;
            let link="@Url.Content("~/newManagement/ArgumentList")"+`?pageSize=${pageSize}&filter=${Filter}`;
       document.location.href=link;
        })
        //選取全部商品
            let filtersubmit = document.getElementById("filtersubmit");
            filtersubmit.addEventListener("click", function () {
            event.preventDefault();
            pageSize=pagesize.options[pagesize.selectedIndex].value;
            let link="@Url.Content("~/newManagement/ArgumentList")"+`?pageSize=${pageSize}`;
       document.location.href=link;
        })
        //篩選ProductStauts
        let filter=document.getElementById("filter");
        let Filter="";
        filter.addEventListener("change",function(){
            pageSize=pagesize.options[pagesize.selectedIndex].value;
            Filter=filter.options[filter.selectedIndex].value;
            let link="@Url.Content("~/newManagement/ArgumentList")"+`?filter=${Filter}&pageSize=${pageSize}`;
       document.location.href=link;
        })
    </script>
}