@using X.PagedList.Mvc.Core.Fluent
@model IEnumerable<CouponViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@using prjiSpanFinal.ViewModels;
@using prjiSpanFinal.ViewModels.newManagement
@{
    ViewData["Title"] = "CouponList";
    var pagedList = (IPagedList)ViewBag.Prods;   
    if(ViewBag.pageSize==null){ ViewBag.pageSize = 5; }
}
<h1>活動優惠券</h1>

<p>
    <a asp-action="EventCouponCreate" class="btn btn-light">新增活動優惠券</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                優惠券名稱
            </th>
            <th>
                開始日期
            </th>
            <th>
                失效日期
            </th>
            <th>
                折扣
            </th>
            <th>
                優惠券代碼
            </th>
            <th>
                發放會員
            </th>
            <th>
                可以領取日期
            </th>
            <th>
                結束領取日期
            </th>
            <th>
                是否為免運券
            </th>
            <th>
                最低消費金額
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.CouponId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.CouponName)
                </td>
                <td>
                    <input value="@item.Coupon.StartDate.ToString("yyyy/MM/dd")" class="form-control-plaintext">
                </td>
                <td>
                    <input value="@item.Coupon.ExpiredDate.ToString("yyyy/MM/dd")" class="form-control-plaintext">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.CouponCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAcc)
                </td>
                <td>
                    <input value="@item.Coupon.ReceiveStartDate.ToString(" yyyy /MM/dd")" class="form-control-plaintext">
                </td>
                <td>
                    <input value="@item.Coupon.ReceiveEndDate.ToString(" yyyy /MM/dd")" class="form-control-plaintext">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.IsFreeDelivery)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.MinimumOrder)
                </td>
                <td>
                    @{
                        if (item.Coupon.MemberId == 1)
                        {
                                        @Html.ActionLink("修改", "CouponEdit","newManagement", new {  id=item.Coupon.CouponId },new{
                            @class="btn btn-outline-primary mb-2"})
                        }
                        else
                        {
                                       @Html.ActionLink("修改", "CouponEdit","newManagement", new {  id=item.Coupon.CouponId },new{
                @class="btn btn-outline-primary disabled"})
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@*分頁導覽*@
<div style="align-content:center" class="paginations">
    @{int ps = 3;if (ViewBag.pageSize != null) { ps = ViewBag.pageSize;}}
      @Html.Pager(pagedList).Url(page => Url.Action("CouponList", new {pageSize=ps, page })).DisplayEllipsesWhenNotShowingAllPageNumbers().MaximumPageNumbersToDisplay(ps).Build()
        
    每頁
    <select id="pagesize">
        <option value=@ViewBag.pageSize>@ViewBag.pageSize</option>
        @{
            if (ViewBag.pageSize != 3) {
                        <option value=3>3</option>
            }}
            @{
            if (ViewBag.pageSize != 5) {
                      <option value=5>5</option>
            }}
            @{
            if (ViewBag.pageSize != 10) {
                   <option value=10>10</option>
            }}
            @{
            if (ViewBag.pageSize != 20) {
                      <option value=20>20</option>
            }}
            @{
            if (ViewBag.pageSize != 100) {
                        <option value=100>100</option>
            }}
     </select>
     筆
</div>
@*分頁導覽*@
@Html.ActionLink("回到活動列表", "EventList","newManagement", null,new{
                            @class="btn btn-danger mb-2"})

@section Scripts{
    <script>
        let page = document.querySelectorAll(".paginations a");
        let pagesss = document.querySelectorAll(".paginations span");
        let pages = document.querySelectorAll(".paginations li");
        let pagess = document.querySelectorAll(".paginations ul");
        for (let a of page) {
            a.classList.add('page-link');
        }
        for (let a of pagesss) {
            a.classList.add('page-link');
        }
        for (let a of pages) {
            a.classList.add('page-item')
        }
        for (let a of pagess) {
            a.classList.add('pagination');
        }
         //選取一頁幾筆
        let pagesize=document.getElementById("pagesize");
        let pageSize=0;
        pagesize.addEventListener("change",function(){
            pageSize=pagesize.options[pagesize.selectedIndex].value
            let link="@Url.Content("~/newManagement/CouponList")"+`?pageSize=${pageSize}`;
          document.location.href=link;
        })

    </script>
}