@model IEnumerable<prjiSpanFinal.Models.Payment>

@{
    ViewData["Title"] = "PaymentList";
}

<h1>付款方式</h1>

<p>
    <a asp-action="PaymentCreate" class="btn btn-light">新增付款方式</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                付款方式
            </th>
            <th>
                手續費
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                    @Html.ActionLink("編輯", "PaymentEdit","newManagement", new {  id=item.PaymentId },new{@class="btn btn-outline-warning"})
                   <a class="btn btn-outline-danger Dele" name="@item.PaymentId">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        let Dele = document.querySelectorAll(".Dele");
        for(var dele of Dele){
            dele.addEventListener("click",async function(){
                let d=event.currentTarget.name;
                let conf=confirm("確定要刪除嗎?");
                if(conf){
                    let c=await fetch("@Url.Content("~/newManagement/PaymentDelete")"+`?id=${d}`);
                    let res=c.text();
                    if(res!=null){
                    $(this).closest("tr").remove();
                    alert("已刪除!")
                    }
                    else{
                        alert(res);
                        return;
                    }
                }
                
            })
        }
    </script>
}