@model IEnumerable<prjiSpanFinal.Models.ProductDetail>

@{
    ViewData["Title"] = "ProductDetailList";
}

<h1>商品細節</h1>

@Html.ActionLink("回到列表","newProductList","newManagement",null,new{@class="btn btn-primary"})

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                商品ID
            </th>
            <th>
                樣式
            </th>
            <th>
                數量
            </th>
            <th>
                單價
            </th>
            <th>
                圖片
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="rowsss">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @{
                        var base64Image = Convert.ToBase64String(item.Pic);
                        var source = String.Format("data:image/png;base64,{0}", base64Image);
                    }
                    <img src="@source" class="cardImg" alt="..." width="120" />
                </td>
                <td>
                    @Html.ActionLink("刪除產品細項", "ProductDetailDelete","newManagement" ,new { id=item.ProductDetailId},new{onclick="really()",@class="btn btn-primary deles"})
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function really() {
        var yes = confirm('你確定要刪除嗎？');
    }
    let trs = document.querySelectorAll(".rowsss");
    let dels = document.querySelectorAll(".deles");
    if(trs.length-1<=0){
        for(let e of dels){
            e.addEventListener("click",()=>{
                return alert("商品細項不可少於一項");
            })
        }
    }
</script>