@model IEnumerable<prjiSpanFinal.Models.ProductDetail>

@{
    ViewData["Title"] = "ProductDetailList";
}

<h1>商品細節</h1>

@Html.ActionLink("回到列表","newProductList","newManagement",null,new{@class="btn btn-primary"})

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                商品ID
            </th>
            <th>
                樣式
            </th>
            <th>
                數量
            </th>
            <th>
                單價
            </th>
            <th>
                圖片
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="rowsss">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @{
                        if (item.Pic != null)
                        {
                            var base64Image = Convert.ToBase64String(item.Pic);
                            var source = String.Format("data:image/png;base64,{0}", base64Image);
                                                                                                    <img src="@source" class="cardImg" alt="..." width="120" />
                        }
                        else{
                                                                                                    <img src="~/img/imageNotFound.png" alt="找不到圖片" width="120">
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-primary deles" name="@item.ProductDetailId">刪除產品細項</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    let dels=document.querySelectorAll(".deles");
            for(let e of dels){
                e.addEventListener("click",async function(event){
                    let c=confirm("確定要刪除嗎?該類型庫存將會歸零無法選購");
                    c;
                    if(c){
                        let s=event.currentTarget.name;
                        console.log(s);
                        let data=await fetch("@Url.Content("~/newManagement/ProductDetailDelete")"+`?id=${s}`);
                        let res=await data.text();
                        if(res!=null)
                        {
                           alert("已刪除");
                        }
                        else{
                            return;
                        }
                    }
                })
            }
   
</script>