@model IEnumerable<CReportListViewModel>

@{
    ViewData["Title"] = "ReportList";
    var pagedList = (IPagedList)ViewBag.Prods;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Fluent;
@using X.PagedList.Web.Common;
@using prjiSpanFinal.ViewModels;
@section Styles{
    <style>
        td input {
            width: 160px;
        }
    </style>
}
    <form>
        <input type="search" name="keyword" placeholder="輸入產品名稱或ID進行搜尋,或不輸入回到列表" class="form-control" />
        <input type="submit" value="搜尋" class="btn btn-outline-secondary" />
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    檢舉人ID
                </th>
                <th>
                    商品ID
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    檢舉理由
                </th>
                <th>
                    處理狀態
                </th>
                <th>
                    圖片
                </th>
                <th>
                    檢舉類型
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.First().Report.ReportId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.First().Report.ReporterId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.First().Report.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.First().Report.Reason)
                </td>
                <td>
                    <input readonly value="@Model.First().ReportStatusName" class="statusname form-control-plaintext">
                </td>
                <td>
                    @{
                        var base64Image = Convert.ToBase64String(Model.First().Report.ReportPic);
                        var source = String.Format("data:image/png;base64,{0}", base64Image);
                    }
                    <img src="@source" class="cardImg" alt="..." width="120" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportTypeName)
                </td>
                <td>
                    @Html.ActionLink("未處理", "ReportUndo", "newManagement",new { id=item.Report.ReportId},new{name=item.Report.ReportId,@class="btn btn-outline-warning Undo"})
                    @Html.ActionLink("審核中", "ReportProcess","newManagement", new { id=item.Report.ReportId},
                new{name=item.Report.ReportId,@class="btn btn-outline-danger Process"})
                    @Html.ActionLink("未違反規定", "ReportDelete", "newManagement",new {  id=item.Report.ReportId},
                new{name=item.Report.ReportId,@class="btn btn-outline-danger Delete"})
                    @Html.ActionLink("給予賣家警告", "ReportWarning", "newManagement",new {  id=item.Report.ReportId},
                new{name=item.Report.ReportId,@class="btn btn-outline-danger Warning"})
                    @Html.ActionLink("下架該產品", "ReportServere", "newManagement",new {  id=item.Report.ReportId},
                new{name=item.Report.ReportId,@class="btn btn-outline-danger Servere"})
                    @Html.ActionLink("停權該賣家帳戶", "ReporStop", "newManagement",new {  id=item.Report.ReportId},
                new{name=item.Report.ReportId,@class="btn btn-outline-danger Stop"})
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="align-content:center" class="paginations">
    @(Html.Pager(pagedList)
        .Url(page => Url.Action("ReportList", new { page })).
        DisplayEllipsesWhenNotShowingAllPageNumbers().
        MaximumPageNumbersToDisplay(3).
        Build()
        )

</div>

@section Scripts{
    <script>
        let Undo = document.querySelectorAll(".Undo");
        let Process = document.querySelectorAll(".Process");
        let Delete = document.querySelectorAll(".Delete");
        let Warning = document.querySelectorAll(".Warning"); 
        let Servere = document.querySelectorAll(".Servere"); 
        let Stop = document.querySelectorAll(".Stop"); 
        let PSName = document.querySelectorAll(".statusname");
        for (var BTNdele of Undo) {
            BTNdele.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ReportUndo")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    $(this).closest("td").siblings().find(".statusname").val("未處理");
                }
            })
        }
        for (var BTNUnd of Process) {
            BTNUnd.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ReportProcess")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    $(this).closest("td").siblings().find(".statusname").val("審核中");

                }
            })
        }
        for (var BTNdow of Delete) {
            BTNdow.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ReportDelete")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    $(this).closest("td").siblings().find(".statusname").val("未違反規定");
                }
            })
        }
        for (var BTNdow of Warning) {
            BTNdow.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ReportWarning")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    $(this).closest("td").siblings().find(".statusname").val("給予賣家警告");
                }
            })
        }
        for (var BTNdow of Servere) {
            BTNdow.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ReportServere")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    confirm("確定要下架該產品嗎?")
                    $(this).closest("td").siblings().find(".statusname").val("情節嚴重，下架該產品");
                }
            })
        }
        for (var BTNdow of Stop) {
            BTNdow.addEventListener("click", async function (event) {
                event.preventDefault();
                console.log(event.currentTarget.name);
                let response = await fetch("@Url.Content("~/newManagement/ReportStop")" + `?id=${event.currentTarget.name}`)
                let data = await response.text();
                if (data == 1) {
                    confirm("確定要停權該賣家嗎?")
                    $(this).closest("td").siblings().find(".statusname").val("屢次違反，停權該賣家帳戶");
                }
            })
        }
        let page = document.querySelectorAll(".paginations a");
        let pagesss = document.querySelectorAll(".paginations span");
        let pages = document.querySelectorAll(".paginations li");
        let pagess = document.querySelectorAll(".paginations ul");
        for (let a of page) {
            a.classList.add('page-link');
        }
        for (let a of pagesss) {
            a.classList.add('page-link');
        }
        for (let a of pages) {
            a.classList.add('page-item')
        }
        for (let a of pagess) {
            a.classList.add('pagination');
        }
    </script>
    }
