@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "ChangePw";
}

@section Styles
{
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <style>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }
    </style>
}
<vc:member-ui></vc:member-ui>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 row" style="text-align:center">
                <div class="col-3">

                </div>
                <div class="col-6">
                    <div class="mb-4 me-5">
                        <a href="@Url.Content("~/Home/Index")">
                            <img src="~/img/Layout/LOGO_Long2.png" style="background-color: orange;" />
                        </a>
                    </div>
                    <div style="text-align:center">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">修改密碼</h3>

                        <div class="form-outline mb-4">
                            <input type="password" id="txtPW" name="txtPW" class="form-control form-control-lg" />
                            <label class="form-label mt-3">舊密碼</label>
                            <small id="nowPWwarn" class="form-text text-muted"></small>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="txtNewPW" name="txtNewPW" class="form-control form-control-lg" />
                            <label class="form-label mt-3" for="txtNewPW">新密碼</label>
                            <small id="newPWwarn" class="form-text text-muted"></small>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="txtPWcheck" name="txtPWcheck" class="form-control form-control-lg" />
                            <label class="form-label mt-3" for="txtPWcheck">再次確認新密碼</label>
                            <small id="newPWchwarn" class="form-text text-muted"></small>
                        </div>
                        <div class="checkout-btn mt-30" style="margin:auto auto;">
                            <button class="btn btn-primary" id="PWChange">修改</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    let nowPW = $("#txtPW");
    let nowWarn = $("#nowPWwarn");
    let newPW = $("#txtNewPW");
    let newWarn = $("#newPWwarn");
/*    let re = /^[0-9a-zA-Z].{8,50}$/;*/
    let PWcheck = $("#txtPWcheck");
    let newCHWarn = $("#newPWchwarn");
    let NowisOK = false;
    let NewisOK = false;
    let NewChisOK = false;
        function Emptywarn(ele)
        {
        ele.html(`<i class="fa-solid fa-circle-xmark" style="color:red" >不得為空</i>`);
        }
        function Errorwarn(ele, errmsg)
        {
        ele.html(`<i class="fa-solid fa-circle-xmark" style="color:red" >${errmsg}有誤</i>`);
        }
        function OKwarn(ele)
        {
        ele.html(`<i class="fa-solid fa-circle-check" style="color:#73BF00"></i>`);
        }
    //判斷是否空白&現在的密碼是否一致

        nowPW.blur(function ()
        {
            if (nowPW.val() == "")
            {
            Emptywarn(nowWarn);
            NowisOK = false;
            }
            else {
            $.post('@Url.Content("~/Member/CheckNowPW")', { "txtPW": nowPW.val() },
                function (data) {
                    if (data == "True") {
                        OKwarn(nowWarn);
                        NowisOK = true;
                    }
                    else if (data == "False") {
                        Errorwarn(nowWarn, "密碼");
                        NowisOK = false;
                    }
                    else {
                        window.location.href = '@Url.Content("~/Member/CheckNowPW")';
                    }
                }
            )
            }
        });
    //判斷新密碼是否符合正則
        newPW.blur(function ()
        {
        if (newPW.val() == "") {
            Emptywarn(newWarn);
            NewisOK = false;
        }
        else {

            OKwarn(newWarn);
            NewisOK = true;

        }
        });

        PWcheck.blur(function ()
        {
        if (PWcheck.val() == "") {
            Emptywarn(newCHWarn);
            NewChisOK = false;
        }
        else {
            if (PWcheck.val() === newPW.val()) {
                OKwarn(newCHWarn);
                NewChisOK = true;
            }
            else {
                Errorwarn(newCHWarn, "密碼不符，");
                NewChisOK = false;
            }
            }
        })


        $("#PWChange").click(function ()
        {
            if (NowisOK && NewisOK && NewChisOK) {
                $.post('@Url.Content("~/Member/ChangeNewPW")', { "txtNewPW": newPW.val() },
                    function (data) {
                        console.log(data)
                        if (data === "OK") {
                            nowPW.val("");
                            newPW.val("");
                            PWcheck.val("");
                            NowisOK = false;
                            nowWarn.html("");
                            NewisOK = false;
                            newWarn.html("");
                            NewChisOK = false;
                            newCHWarn.html("");
                            /*alert("修改成功");*/
                                         Swal.fire(
                                        '恭喜!',
                                        '您已修改成功，請重新登入!',
                                        'success'
                                        ).then(function (result) {window.location.href = "@Url.ActionLink("login","Member")"; })
                        }
                        else if (data === "NO")
                        {
                            /*alert("修改失敗");*/
                            Swal.fire({
                                icon: 'error',
                                title: '失敗',
                                text: '修改失敗',
                                footer: '<a href="">請重新輸入</a>'
                            }).then(function (result) {window.location.href = "@Url.ActionLink("ChangePw","Member")"; })
                        }
                        else {
                            window.location.href = '@Url.Content("~/Member/ChangeNewPW")';
                        }
                    })
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '修改失敗，請重新輸入'
                })
            }
        })

    </script>
}


