@addTagHelper *, prjiSpanFinal
@model MemberAccount
@using prjiSpanFinal.ViewModels.Member
@using prjiSpanFinal.ViewModels
@using Microsoft.AspNetCore.Http
@using System.Text.Json
@using System.Linq;

@{
    ViewData["Title"] = "Edit";
}
@section Styles
{
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <style>
        .form-control {
            display: block;
            width: 50%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.375rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        fieldset {
            width: 550px;
            border: 3px #4F9D9D;
            border-radius: 20px;
            margin: 15px;
        }

        legend {
            margin-left: 30px;
        }

        .st1 {
            border-bottom: 3px #D1E9E9;
            margin: 20px;
            padding-bottom: 7px;
        }

        .hh {
            border-bottom: 1px solid #111010;
            margin: 20px;
            padding-bottom: 7px;
            opacity: 0.5;
            background-color: white;
            color: #111010
        }

        .st2 {
            margin: 20px;
            text-align: center;
        }

        .p1 {
            width: 100px;
            text-align: right;
            float: left;
            padding-right: 10px;
        }

        textarea {
            resize: none;
        }
    </style>
}
<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">個人資料修改</h2>

    @{

        List<string> regionNameList = new List<string>();
        List<string> countryNameList = new List<string>();
        List<int> regionIdList = new List<int>();
        int MyregionID = 0;
        int MycountryID = 0;
        int Mygender = 0;
        bool gender_male=false;
        bool gender_female = false;
        bool gender_other = false;
        bool? MYTW=false;
        bool? MYFORIEN = false;
        //string countryName = "";
        //int countryID = 0;
        //count

        if (Context.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
        {
            string json = Context.Session.GetString(CDictionary.SK_LOGINED_USER);
            MemberAccount loginMember = JsonSerializer.Deserialize<MemberAccount>(json);
            iSpanProjectContext db = new iSpanProjectContext();
            MyregionID = db.MemberAccounts.FirstOrDefault(m => m.MemberId == loginMember.MemberId).RegionId;
            MycountryID = db.RegionLists.OrderBy(o => o.RegionId).Where(r => r.RegionId == MyregionID).FirstOrDefault().CountryId;
            regionNameList = db.RegionLists.OrderBy(o => o.RegionId).Where(r => r.CountryId == MycountryID).Select(r => r.RegionName).ToList();
            regionIdList = db.RegionLists.OrderBy(o => o.RegionId).Where(r => r.CountryId == MycountryID).Select(r => r.RegionId).ToList();
            countryNameList = db.CountryLists.OrderBy(o => o.CountryId).Select(r => r.CountryName).ToList();
            Mygender = db.MemberAccounts.FirstOrDefault(m => m.MemberId == loginMember.MemberId).Gender;
            MYTW = db.MemberAccounts.FirstOrDefault(m => m.MemberId == loginMember.MemberId).IsTw;
            if (Mygender == 2)
            {
                gender_female = true;
            }
            else if (Mygender == 1)
            {
                gender_male = true;
            }
            else
            {
                gender_other = true;
            }
            if (MYTW == true)
            {
                MYFORIEN = false;
            }
            else
            {
                MYFORIEN = true;
            }
        }
}
<div class="row " id="viewPage">
    
    <div class="col-1"></div>
    <div class="col-11 ">
        <form method="post" enctype="multipart/form-data">
            <div style="background-color:white">
                <div class="container text-center">
                    <div class="row align-items-start">
                        <div class="col">
                            <fieldset>
                                <legend>基本資料</legend>
                                <div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="MemberId" class="form-control" type="text" id="acount" name="MemberId" style="display:none;" />


                                    <div class="st1">
                                        <label asp-for="Name" class="p1">姓名</label>
                                        <input asp-for="Name" class="form-control" type="text" id="acount" name="Name" autofocus placeholder="名字" size="40" autocomplete="off" />
                                    </div>

                                    <div class="st1">
                                        <label asp-for="NickName" class="p1">暱稱</label>
                                        <input asp-for="NickName" class="form-control" />
                                    </div>
                                  
                                    <div class="st1">
                                        <label asp-for="Birthday" class="p1">生日</label>
                                        <input asp-for="Birthday" type="date" name="Birthday" class="form-control" />
                                    </div>

                                    <div class="st1">
                                        <label class="p1">性別</label><br /><br />
                                        <div class="input-group has-validation">
                                            <label class="p1">
                                                <input  asp-for="Gender" type="radio" name="gender" value="male" checked="@gender_male" />男生
                                            </label>
                                            <label class="p1">
                                                <input  asp-for="Gender" type="radio" name="gender" value="female" checked="@gender_female" />女生
                                            </label>
                                            <label class="p1">
                                                <input  asp-for="Gender" type="radio" name="gender" value="other" checked="@gender_other"/>其他
                                            </label>
                                        </div>
                                    </div>

                                    <div class="st1">
                                        <label class="p1">國籍</label><br /><br />
                                        <div class="input-group has-validation">
                                            <label class="p1">
                                                <input  asp-for="IsTw" type="radio" name="TW" value="tw" checked="@MYTW"/>台灣
                                            </label>
                                            <label class="p1">
                                                <input  asp-for="IsTw" type="radio" name="TW" value="foreign" checked="@MYFORIEN"/>外國
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>聯繫方式</legend>
                                <div class="st1">
                                    <label asp-for="Phone" class="p1">手機</label>
                                    <input asp-for="Phone" class="form-control" type="text" name="Phone" size="40" />
                                </div>
                                <div class="st1">
                                    <label asp-for="Email" class="p1">信箱</label>
                                    <input asp-for="Email" class="form-control" type="text" name="Email" size="40" />
                                </div>
                                <div class="st1">
                                    <label asp-for="BackUpEmail" class="p1">備用信箱</label>
                                    <input asp-for="BackUpEmail" class="form-control" type="text" name="BackUpEmail" size="40" />
                                </div>

                                <div class="st1" id="optioncity">
                                    <label class="p1">縣市</label>
                                    <select class="form-select form-select-sm" style="width:200px;" id="country" name="countryName">
                                        @for (int i = 0; i < countryNameList.Count(); i++)
                                        {
                                            if (i + 1 == MycountryID)
                                            {
                                                <option selected="selected" value="@countryNameList[i]">@countryNameList[i]</option>
                                            }
                                            else
                                            {
                                                <option value="@countryNameList[i]">@countryNameList[i]</option>
                                            }

                                        }
                                    </select>
                                </div>
                                <div class="st1" id="optionregion">
                                    <label asp-for="RegionId" class="p1">區</label>
                                    <select asp-for="RegionId" class="form-select form-select-sm" style="width:200px;" id="region" name="regionName">
                                        @for (int i = regionIdList.FirstOrDefault(); i < regionIdList.FirstOrDefault() + regionIdList.Count(); i++)
                                        {
                                            if (i == MyregionID)
                                            {
                                                <option selected="selected" value="@regionNameList[i - regionIdList.FirstOrDefault()]">@regionNameList[i - regionIdList.FirstOrDefault()]</option>
                                            }
                                            else
                                            {
                                                <option value="@regionNameList[i - regionIdList.FirstOrDefault()]">@regionNameList[i - regionIdList.FirstOrDefault()]</option>
                                            }

                                        }
                                    </select>
                                </div>


                                <div class="st1">
                                    <label asp-for="Address" class="p1">完整地址</label>
                                    <input asp-for="Address" class="form-control" type="text" name="Address" size="40" />
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <img src="@Url.Action("showPhoto","Member", new {id= Model.MemberId })" id="memphoto" class="img-thumbnail w-100" />
                            <br /><br />
                            <label class="p1" for="formFile" id="labfile">上傳照片</label>
                            <input class="form-control" type="file" name="File1" id="photofile" multiple />
                        </div>
                    </div>
                </div>




                <div class="justify-content-around">
                    <div class="st2 justify-content-around">
                        @*<a role="button" class="btn btn-primary" id="submit" href="/">送出</a>*@
                        <button class="btn btn-primary" type="submit" id="ok">確認</button>
                        @*@Html.ActionLink("送出", "Edit", "Member", "", new { @class = "btn btn-primary" })*@
                        <button class="btn btn-secondary" id="clear">登出</button>
                    </div>
                </div>

            </div>
        </form>


        @*<div class="row display-2">@Model.MemberId</div>*@
    </div>
</div>

@section Scripts{
    <script>
        const ok = document.querySelector("#ok")
        ok.addEventListener("click", function () {
            alert("修改成功");
            //Swal.fire(
            //    '恭喜!',
            //    '您已修改成功，請重新登入!',
            //    'success'
            //)
        })

        $("#country").on("change", function () {
            const selCity = document.querySelector("#country")
            const selSite = document.querySelector("#region")
            const city = selCity.options[selCity.selectedIndex].value
            $.getJSON("/Member/getCityID", { city: city }, function (datas) {
                $.getJSON("/Member/Site", { site: datas[0] }, function (datas) {
                    selSite.options.length = 0
                    datas.forEach(city => {
                        const opt = new Option(city, city)
                        selSite.options.add(opt)
                    })
                })
            })
        })
        //更新圖片
        $("#photofile").change(function () {
            let file = this.files[0];
            let reader = new FileReader();
            reader.onload = function (eve) {
                $("#memphoto").attr("src", eve.target.result);
            }
            reader.readAsDataURL(file);
            $("#labfile").text(file.name);
        })
        //傳城市名字回controler
        $("#submit").click(function () {
            $.postJSON("/Member/Edit", { countryName: countryName })
        })
    </script>
}

