@model prjiSpanFinal.ViewModels.Item.CBiddingItemToCardViewModel
@{
    string endDate = Model.bidding.EndTime.Month + "/" + Model.bidding.EndTime.Date.ToString("dd");
    string imgSrc = "";
    if (Model.productPic != null)
    {
        string base64 = Convert.ToBase64String(Model.productPic);
        imgSrc = $"data:image/gif;base64,{base64}";
    }
    else
    {
        imgSrc = Url.Content("~/img/imageNotFound.png");
    }
    string itemUrl = Url.Content("~/Item/BiddingIndex") + "?id=" + Model.bidding.BiddingId;
}

<style>
    .biddingItemLayout {
        border: 1px solid #D0D0D0;
        border-radius: 5px;
        width: 200px;
        height: 400px;
        transition: all 0.5s;
    }

    .biddingItemLayout:hover {
        transform: scale(1.1);
    }

    .biddingCardImgDiv {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .biddingCardImgDiv img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        border-radius: 5px;
        display: block;
    }
    .biddingCardTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 2em;
    }
    
</style>


<a href="@itemUrl">
    <div class="biddingItemLayout">
        <div class="bg-danger text-white fw-bold fs-4 text-center"><span>@endDate</span>結標</div>
        <div>
            <div class="biddingCardImgDiv">
                <img src="@imgSrc" alt="Alternate Text" />
            </div>
        </div>
        <div class="mx-2 mb-2 d-flex flex-column justify-content-between">
            <div>
                <div class="text-black opacity-50">@Model.sellerAcc</div>
                <div class="biddingCardTitle">@Model.product.ProductName</div>
            </div>
            <div>
                <div class="d-flex justify-content-between align-items-end">
                    <div class="biddingCardPrice" style="font-size:0.8em"><span class="text-black opacity-50">目前出價</span><span class="text-danger">$</span><span class="text-danger fs-4 fw-bold">@Model.currentBiddingPrice</span></div>
                    <div class="text-black opacity-50" style="font-size:0.8em"><span class="mx-2">|</span><span>@Model.biddingCount</span>次出價</div>
                </div>
                <div class="bg-warning rounded-3 text-white text-center fs-4">我要出價</div>
            </div>
        </div>
    </div>
</a>

