@section Styles{
<style>
    .faqheaders {
        color:darkorange;
    }
</style>
    
}
<!--Section: FAQ-->
<h3 class="text-center mb-4 pb-2 text-primary fw-bold">
    幫助中心
</h3>
<p class="text-center mb-5">
    解決你所有的問題
</p>
@{
    iSpanProjectContext dbcontext = new iSpanProjectContext();
    var faqtypelist = dbcontext.Faqtypes.Select(o=>o).ToList();
    var faqlist1 = dbcontext.Faqs.Where(o => o.FaqtypeId == faqtypelist.FirstOrDefault().FaqtypeId).ToList();
    var faqlistans = dbcontext.Faqs.Where(o => o.FaqtypeId == faqtypelist.FirstOrDefault().FaqtypeId).FirstOrDefault().Answer;
    <div class="row">
                                            <div class="col-3">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action active faqtypelist" value="1" aria-current="true">@faqtypelist[0].FaqtypeName</a>
                                                        @for(int i = 1 ; i < faqtypelist.Count;i++)
{   
                                                        <a href="#" class="list-group-item list-group-item-action faqtypelist" value="@(i+1)">@faqtypelist[i].FaqtypeName</a>
}
                                                </div>
                                            </div>
                                            <div class="col-9">
                                                <div class="list-group queslist">
                                                    <a href="#" class="list-group-item list-group-item-action active faqqueslist" value="1" aria-current="true">@faqlist1[0].Question</a>
                                                    @for (int i = 1; i < faqlist1.Count; i++)
{
                                                        <a href="#" class="list-group-item list-group-item-action faqqueslist" value="@(i+1)">@faqlist1[i].Question</a>
}
                                                </div>
                                            </div>
    </div>
}

<div class="rounded-2 border border-1 my-5">
    <h3 class="m-2">問題解答:</h3>
    <p class="m-2 mt-3 mb-5 faqanswer">@faqlistans</p>
</div>

<div class="row my-5">
    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="far fa-paper-plane text-primary pe-2"></i> 我要如何建立帳號?
        </h6>
        <p>
            若是未曾註冊過的會員，請先點擊頁面上方的"註冊會員"，並填寫完整會員資料即可成為蝦到爆的會員。
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-pen-alt text-primary pe-2"></i> 我要如何修改會員資料?
        </h6>
        <p>
            點選修改會員資料進入修改頁面，填入欲修改的項目後送出，即可更新會員資料。
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-user text-primary pe-2"></i> 我要如何購買商品?
        </h6>
        <p>
            瀏覽商品頁面後點擊加入購物車，並在購物車頁面確認無誤後按下結帳即可。
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-rocket text-primary pe-2"></i> 如何認證帳號
        </h6>
        <p>
            當您註冊完成後，先別心急∼為了確保站上每位會員的交易安全，需請您通過email的認證才能賣東西哦
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-home text-primary pe-2"></i> 忘記密碼
        </h6>
        <p>
            當您忘記帳號密碼時，可透過登入頁下方的「忘記帳號密碼功能」找回您的帳號密碼唷。
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-book-open text-primary pe-2"></i> 如何進行退貨
        </h6>
        <p>
            您可以在會員中心的購買清單中點擊「申請退貨」，來進行退貨流程。
        </p>
    </div>
</div>

<h2 class="my-3">
    熱門問題:
</h2>

<div class="list-group w-100 my-3">
    <a href="#shortExampleAnswer1collapse" data-bs-toggle="collapse" aria-expanded="false" aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">我要如何建立帳號?</h5>
        </div>
        <p class="mb-1">
            若是未曾註冊過的會員...
        </p>
        <small class="text-muted"><u>了解更多</u></small>
        <div class="collapse mt-3" id="shortExampleAnswer1collapse">
            若是未曾註冊過的會員，請先點擊頁面上方的"註冊會員"，
            
            並填寫完整會員資料即可成為蝦到爆的會員。
        </div>
    </a>
    
    <a href="#shortExampleAnswer2collapse" data-bs-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">我要如何修改會員資料?</h5>
        </div>
        <p class="mb-1">
            點選修改會員資料進...
        </p>
        <small class="text-muted"><u>了解更多</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer2collapse">
            點選修改會員資料進入修改頁面，填入欲修改的項目後送出，
            
            即可更新會員資料。
        </div>
    </a>
    <a href="#shortExampleAnswer3collapse" data-bs-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">我要如何購買商品?</h5>
        </div>
        <p class="mb-1">
            瀏覽商品頁...
        </p>
        <small class="text-muted"><u>了解更多</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer3collapse">
            瀏覽商品頁面後點擊加入購物車，並在購物車頁面確認無誤後按下結帳即可。
        </div>
    </a>
</div>
<div class="pt-4 row" style="text-align:center;">
    <div class="col-2"></div>
    <div class="col-8">
        <p>
            <span class="fw-bold">
                還有問題嗎?可以用蝦蝦通真人線上客服，或機器人客服。
            </span>
        </p>
        <div class="d-flex justify-content-evenly">
            <a id="openonlineservice" href="#openonlineservice"><img src="~/img/help/onlineservice.jpg" /></a>
            <a id="openAIservice" href="#openAIservice"><img src="~/img/help/AIservice.jpg" /></a>
        </div>
    </div>
    <div class="col-2"></div>
</div>
@section Scripts{
    <script>
        $("#openonlineservice").click(function(){
            happy_popup("admin");
        })
        $("#openAIservice").click(function () {
            happy_popup("chatbot");
        })

        $(document).on("click", ".faqqueslist",function(){
            $(this).addClass("active").siblings().removeClass("active");
            $.getJSON("/FAQ/GetA",{q:$(this).html()},function(data){
                $(".faqanswer").html(data);
            })
        })

        $(document).on("click", ".faqtypelist", function () {
            $(this).addClass("active").siblings().removeClass("active");
            $.getJSON("/FAQ/GetQ", { t: $(this).html() }, function (data) {
                $(".queslist").html("");
                for(let i = 0;i < data.length;i++)
                {
                    $(".queslist").append(`<a href="#" class="list-group-item list-group-item-action faqqueslist">${data[i]}</a>`);
                }
                $(".queslist").children().eq(0).addClass("active");
            })
            $.getJSON("/FAQ/GetA", { q: $(".queslist").children().eq(0).html() }, function (data) {
                $(".faqanswer").html(data);
            })
        })
    </script>
} 