@model List<prjiSpanFinal.ViewModels.Item.CShowCommentViewModel>
@{
    int commentCount = Model.Count;
    int totalPage = Convert.ToInt32(Math.Ceiling(commentCount / 10m));

}
@*<link href="@Url.Content("~/css/Item/ShowItemComment.css")" rel="stylesheet" />*@



<div class="rounded-2 px-5 py-3 bg-warning bg-opacity-10">
    @{
        foreach (var i in Model)
        {
            <div class="fs-6 border-bottom border-secondary border-1 pb-3 mb-3">
                <div class="mb-1"><span class="fw-bold">評論者:&emsp;</span><span class="text-primary">@i.buyer.MemberAcc</span></div>
                <div class="d-flex justify-content-start mb-1">
                    @{
                        for (int j = 1; j <= 5; j++)
                        {
                            if (j <= i.comment.CommentStar)
                            {
                                <i class="text-warning fa-solid fa-star"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-star"></i>
                            }
                        }
                    }
                </div>
                <div class="text-black-50 mb-1"><span class="me-1">規格:</span>@i.style</div>
                <div class="my-1">
                    @*<div class="mb-1">值得推薦的好賣家!!!</div>*@
                    @{
                        if (i.comment.Comment1 != "未輸入")
                        {
                            <div class="me-2">品質:<span>@i.comment.Comment1</span> </div>
                        }
                        if (i.comment.Comment2 != "未輸入")
                        {
                            <div class="me-2">色差:<span>@i.comment.Comment2</span></div>
                        }
                        if (i.comment.Comment3 != "未輸入")
                        {
                            <div class="me-2">與圖片相符:<span>@i.comment.Comment3</span></div>
                        }
                        if (i.comment.MoreComment != "")
                        {
                            <div class="me-2">更多評論:<span>@i.comment.MoreComment</span></div>
                        }

                    }
                </div>

                <div class="d-flex justify-content-start align-items-center mb-1">
                    @{
                        foreach (var j in i.commentPic)
                        {
                            string imgSrc = "";
                            try
                            {
                                string base64 = Convert.ToBase64String(j.CommentPic1);
                                imgSrc = $"data:image/gif;base64,{base64}";
                            }
                            catch
                            {
                                imgSrc = Url.Content("~/img/imageNotFound.png");
                            }
                            <div class="commentPic"><img src="@imgSrc" /></div>
                        }
                    }
                </div>
                <div class="me-2">評論時間:<span>@i.comment.CommentTime.ToString("yyyy-MM-dd HH:mm:ss")</span></div>
            </div>
        }
    }
    @{
        if (Model.Count <= 0)
        {
            <div class="text-center">
                <i class="fa-duotone fa-file-pen fs-1"></i>
                <div class="fs-4">尚無評論</div>
            </div>
        }
        else
        {
            @*<div class="d-flex justify-content-center fs-6">
                <button id="commentPrevioustPage"><i class="fa-solid fa-angle-left"></i>上一頁</button>
                <div id="commentPage">
                    <span class="currentCommentPage">@Model[0].page</span>
                    <span class="mx-2">/</span>
                    <span class="totalCommentPage">@totalPage</span>
                </div>
                <button id="commentNextPage">下一頁<i class="fa-solid fa-angle-right"></i></button>
            </div>*@
        }
    }

</div>


@*<script src="@Url.Content("~/js/Item/ShowItemComment.js")"></script>*@