@model IEnumerable<prjiSpanFinal.Models.CMember>

@{
    ViewData["Title"] = "MemberList";
}

<h1>會員列表</h1>

<p>
    <a asp-action="MemberCreate">創建新會員</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="width:200px">
                ID
            </th>
            <th>
                會員名稱
            </th>
            <th>
                連絡電話
            </th>
            <th>
                聯絡地址
            </th>
            <th>
                伊媚兒
            </th>
            <th>
                登入密碼
            </th>
            <th>
                會員狀態
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input value="@item.Id" class="form-control-plaintext" readonly />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberStatus)
                </td>
                <td>
                    @Html.ActionLink("編輯", "MemberEdit", new { id=item.Id}) |
                    @Html.ActionLink("刪除", "MemberDelete", new { id=item.Id })|
                    @Html.ActionLink("復原", "MemberRecover", new { id=item.Id}) |
                </td>
            </tr>
        }
    </tbody>
</table>
