@model IEnumerable<prjiSpanFinal.Models.COrder>

@{
    ViewData["Title"] = "OrderList";
}

<h1>訂單列表</h1>

<p>
    <a asp-action="OrderCreate">新增一筆訂單</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                賣家名稱
            </th>
            <th>
                下訂日期
            </th>
            <th>
                產品名稱
            </th>
            <th>
                產品單價
            </th>
            <th>
                購買數量
            </th>
            <th>
                總價
            </th>
            <th style="width:10% ">
                訂單狀態
            </th>
            <th style="width:180px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input value="@item.OrderID" class="form-control-plaintext" readonly />
                </td>
                <td>
                    <input value="@item.MemberName" class="form-control-plaintext" readonly />
                </td>
                <td>
                    <input value="@item.Date" class="form-control-plaintext" readonly />
                </td>
                <td>
                    <input value="@item.ProductName" class="form-control-plaintext" readonly />
                </td>
                <td>
                    <input value="@item.UnitPrice" class="form-control-plaintext" readonly />
                </td>
                <td>
                    <input value="@item.Quantity" class="form-control-plaintext" readonly />
                </td>
                <td >
                    <input value="@item.TotalPrice" class="form-control-plaintext" readonly />
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.ActionLink("修改", "OrderEdit", new { id=item.OrderID}) |
                    @Html.ActionLink("復原", "OrderRecover", new { id=item.OrderID}) |
                    @Html.ActionLink("刪除", "OrderDelete", new { id=item.OrderID })|
                </td>
            </tr>
        }
    </tbody>
</table>
