@model IEnumerable<prjiSpanFinal.Models.CProductHu>

@{
    ViewData["Title"] = "ProductList";
}

<h1>產品清單</h1>


<table class="table" width="150%" style="table-layout:fixed">
    <thead>
        <tr>
            <th>
                產品編號
            </th>
            <th>
                圖片
            </th>
            <th>
                產品名稱
            </th>
            <th>
                商品分類
            </th>
            <th>
                賣家
            </th>
            <th>
                單價
            </th>
            <th>
                庫存量
            </th>
            <th>
                商品狀態
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input class="form-control-plaintext" type="text" readonly value=@item.ProductId>
                </td>
                <td>
                    <img src="~/img/蘋果圖.jpg" class="w-25" alt="...">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SmallType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStatus)
                </td>

                <td>
                    @Html.ActionLink("修改", "ProductEdit", new {  id=item.ProductId }) |
                    @Html.ActionLink("刪除", "ProductDelete", new { id=item.ProductId  }) |
                    @Html.ActionLink("復原", "ProductRecover", new { id=item.ProductId  }) 
                    @Html.ActionLink("檢視", "ProductDetailList", new { id=item.ProductId},new{@class="btn btn-primary"}) 

                </td>
            </tr>
        }
    </tbody>
</table>
