@model IEnumerable<prjiSpanFinal.Models.CReportHu>

@{
    ViewData["Title"] = "ReportList";
}

<h1>檢舉案件</h1>


<table class="table" style="table-layout:fixed" width:100%>
    <thead>
        <tr>
            <th>
                檢舉案件編號
            </th>
            <th>
                檢舉人
            </th>
            <th>
                被檢舉產品
            </th>
            <th>
                案件類型
            </th>
            <th>
                處理狀況
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReporterID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CProductHu.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportStatus)
                </td>
                <td>
                    @Html.ActionLink("檢視檢舉內容", "ReportDetail", new { id=item.ReportId},new{@class="btn btn-danger mb-2"}) 
                    <br>
                    @Html.ActionLink("結案", "ReportApprove", new { id=item.ReportId },new{@class="btn btn-warning mb-2"})
                    <br>
                    @Html.ActionLink("判定不成案", "ReportDelete", new { id=item.ReportId },new{@class="btn btn-warning mb-2"})
                    <br>
                    @Html.ActionLink("復原", "ReportUndo", new { id=item.ReportId },new{@class="btn btn-warning mb-2"})
                    <br>
                    @Html.ActionLink("審核中", "ReportProcess", new { id=item.ReportId },new{@class="btn btn-warning mb-2"})
                </td>
            </tr>
        }
    </tbody>
</table>
