@model IEnumerable<prjiSpanFinal.Models.CReportHu>

@{
    ViewData["Title"] = "ReportList";
}

<h1>檢舉案件</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                檢舉案件編號
            </th>
            <th>
                檢舉人
            </th>
            <th>
                被檢舉產品
            </th>
            <th>
                案件類型
            </th>
            <th>
                理由
            </th>
            <th>
                處理狀況
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.ReportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReporterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
