@model prjiSpanFinal.Models.CReportHu

@{
    ViewData["Title"] = "ReportDetail";
}

<h1>ReportDetail</h1>


<table class="table">
<thead>
    <tr>
        <th>
            檢舉案件編號
        </th>
        <th>
            檢舉人
        </th>
        <th>
            被檢舉產品
        </th>
        <th>
            案件類型
        </th>
        <th>
            處理狀況
        </th>
        <th>
            檢舉理由
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            @Html.DisplayFor(modelItem => Model.ReportId)
            </td>
            <td>
            @Html.DisplayFor(modelItem => Model.ReporterID)
            </td>
            <td>
            @Html.DisplayFor(modelItem => Model.CProductHu.ProductName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => Model.ReportType)
            </td>
            <td>
            @Html.DisplayFor(modelItem => Model.ReportStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Reason)
            </td>
            <td>
                @Html.ActionLink("返回", "ReportList")
            </td>
        </tr>

    </tbody>
</table>
