@model prjiSpanFinal.ViewModels.SalesCourt.C關於我ViewModel
@{
    ViewData["Title"] = "修改關於我";
}

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/編輯賣場資訊">編輯賣場資訊</a>

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/設定分類">設定分類</a>
<div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2" style="font-size:1.1em;background-color:burlywood">
    <div>修改關於我</div>

</div>

<form class="outlook" method="post" enctype="multipart/form-data" name="newabme" id="newabme">
</form>

<form class="first" method="post" enctype="multipart/form-data" name="newabme" id="newabme">
    <div class="form-group row d-flex justify-content-start align-items-center  text-muted  py-1 rounded-2" style="font-size:1.1em">
        <div class="bg-warning rounded">賣場描述</div>

        <div class="row">
            <textarea name="salescourtdescription" class="form-control asdf" style="height: 90px; width:2030px;"></textarea>
        </div>

    </div>


    <div class="form-group row d-flex justify-content-start align-items-center  text-muted  py-1 rounded-2" style="font-size:1.1em">
        <div class="bg-warning rounded">賣場資訊</div>

        <div class="row">
            <div class="col">
                <input type="hidden" name="Memberid" value="@Model.Memberid" id="@Model.Memberid">
                <div class="text-danger">賣場服務時間(必填)</div>
                <div class="row my-2">
                    <div class="col-1">
                        <input class="checklist" type="checkbox" name="ServiceTime" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">
                    </div>
                    星期
                    <div style="width:120px;">
                        <select name="SalesCourtServiceTime" size="1" class="scst form-select form-select-sm" style="width:90px;">
                            <option value="none" selected disabled hidden>請選擇選項</option>
                            @{
                                for (int i = 0; i < 7; i++)
                                {
                                    <option value="@(i+1)" id="@Model.SalesCourtServiceTime">@(i+1)</option>
                                }
                            }
                        </select>
                    </div>
                    <div style="width:1px;">
                        ~
                    </div>
                    <div style="width:1px;">
                        星
                    </div>
                    <div style="width:1px;">
                        期
                    </div>
                    <div style="width:120px;">
                        <select name="SalesCourtServiceTime" size="1" class="scst form-select form-select-sm" style="width:90px;">
                            <option value="none" selected disabled hidden>請選擇選項</option>
                            @{
                                for (int i = 0; i < 7; i++)
                                {
                                    <option value="@(i+1)" id="@Model.SalesCourtServiceTime">@(i+1)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-1">
                        <input class="checklist" type="checkbox" name="ServiceTime" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">
                    </div>
                    時間
                    <div style="width:120px;">
                        <select name="SalesCourtServiceTime" size="1" class="scst form-select form-select-sm">
                            <option value="none" selected disabled hidden>請選擇選項</option>
                            @{
                                for (int i = 0; i < 10; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">0@(i):00</option>
                                }

                                for (int i = 10; i < 24; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">@(i):00</option>
                                }
                            }
                        </select>
                    </div>
                    <div style="width:3px;">
                        點
                    </div>
                    <div style="width:3px;">
                        ~
                    </div>
                    <div style="width:120px;">
                        <select name="SalesCourtServiceTime" size="1" class="scst form-select form-select-sm">
                            <option value="none" selected disabled hidden>請選擇選項</option>
                            @{
                                for (int i = 0; i < 10; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">0@(i):00</option>
                                }

                                for (int i = 10; i < 24; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">@(i):00</option>
                                }
                            }
                        </select>
                    </div>
                    <div style="width:3px;">
                        點
                    </div>

                </div>

                <div class="row my-1">
                    <div class="col-1">
                        <input class="checklist" type="checkbox" name="ServiceTime[]" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">
                    </div>
                    每週
                    <div style="width:110px;">
                        <input type="text" name="ServiceTime[]" class="asdf" value="" id="@Model.SalesCourtServiceTime" style="width:110px">
                    </div>

                    <div style="width:100px;" class="mx-2">
                        公休
                    </div>

                </div>

            </div>
            <div class="col">
                <div class="text-success">賣家類型</div>

                <textarea name="NewProductOnLoad" class="form-control asdf" value="" style="height: 90px; width:570px;"></textarea>

                <div class="text-success">新品上架時間</div>

                @*<textarea name="SellerCategory" class="form-control" style="height: 90px; width:570px;"></textarea>*@

                <label>
                    <input class="checklist" name="upload" type="radio" value="avday" />每天
                    <input class="checklist" name="upload" type="radio" value="onetothree" />1-3天
                    <input class="checklist" name="upload" type="radio" value="threeetofive" />3-5天
                    <input class="checklist" name="upload" type="radio" value="avweek" />每週
                    <input class="checklist" name="upload" type="radio" value="skipweek" />隔週
                    <input class="checklist" name="upload" type="radio" value="notsureperiod" />不定期
                    @*<input class="checklist" type="checkbox" name="ServiceTime[]" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">*@
                </label>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2" style="font-size:1.1em;">
                <div class="bg-warning rounded-2">售後服務</div>

                @*<textarea name="ServiceAfterBuy" class="form-control" style="height: 184px; width:630px;"></textarea>*@


                <div class="col">
                    <input type="hidden" name="Memberid" value="@Model.Memberid" id="@Model.Memberid">

                    <div class="row my-2">
                        <div class="col-1">
                            <input class="checklist" type="checkbox" name="ServiceAfterBuy[]" value="@Model.ServiceAfterBuy" id="@Model.ServiceAfterBuy">
                        </div>
                        是否接受退貨
                        <div style="width:120px;">
                            <select name="ServiceAfterBuy[]" size="1" class="scst form-select form-select-sm" style="width:90px;">
                                <option value="none" selected disabled hidden>請選擇選項</option>
                                <option value="true" id="@Model.ServiceAfterBuy">是</option>
                                <option value="false" id="@Model.ServiceAfterBuy">否</option>

                            </select>
                        </div>

                    </div>

                    <div class="row my-2">
                        <div class="col-1">
                            <input class="checklist" type="checkbox" name="ServiceAfterBuy[]" value="@Model.ServiceAfterBuy" id="@Model.ServiceAfterBuy">
                        </div>
                        享有
                        <div style="width:200px;">
                            <input class="checklist" name="returngood" type="radio" value="seven" />7天
                            <input class="checklist" name="returngood" type="radio" value="ten" />10天
                            <input class="checklist" name="returngood" type="radio" value="fourteen" />14天
                        </div>
                        天猶豫期退貨之權益
                    </div>

                    <div class="row my-2">
                        <div class="col-1">
                            <input class="checklist" type="checkbox" name="ServiceAfterBuy[]" value="@Model.ServiceAfterBuy" id="@Model.ServiceAfterBuy">
                        </div>
                        商品退貨須為全新狀態且完整包裝

                    </div>
                    <div class="row my-2">
                        <div class="col-1">
                            <input class="checklist" type="checkbox" name="ServiceAfterBuy[]" value="@Model.ServiceAfterBuy" id="@Model.ServiceAfterBuy">
                        </div>
                        商品退回需含贈品

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2 " style="font-size: 1.1em;">
                <div class="bg-warning rounded-2">注意事項</div>

                @*<textarea name="Caution" class="form-control" style="height: 184px; width:630px;"></textarea>*@
                <div class="row my-2">
                    <div class="col-1">
                        <input class="checklist" type="checkbox" name="ServiceCaution[]" value="@Model.Caution" id="@Model.Caution">
                    </div>
                    結帳後請於蝦蝦通提供
                    <div style="width:350px;">
                        <input class="checklist" type="checkbox" value="seven" />產品名稱或編號
                        <input class="checklist" type="checkbox" value="ten" />款式顏色
                        <input class="checklist" type="checkbox" value="fourteen" />數量
                    </div>

                </div>
                <div class="row my-1">
                    <div class="col-1">
                        <input class="checklist" type="checkbox" name="ServiceCaution[]" value="@Model.Caution" id="@Model.Caution">
                    </div>
                    請於
                    <div style="width:110px;">
                        <input type="text" name="ServiceCaution[]" class="asdf" value="" id="@Model.Caution" style="width:110px">
                    </div>

                    <div style="width:220px;" class="mx-1">
                        天內完成"結帳動作"
                    </div>

                </div>

                <div class="row my-1">
                    <div class="col-1">
                        <input class="checklist" type="checkbox" name="ServiceCaution[]" value="@Model.Caution" id="@Model.Caution">
                    </div>
                    結帳完成後
                    <div style="width:110px;">
                        <input type="text" name="ServiceCaution[]" class="asdf" value="" id="@Model.Caution" style="width:110px">
                    </div>
                    <div style="width:350px;" class="mx-1">
                        天內未完成"匯款"將發出蝦蝦通提醒
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="form-group ">
        <input type="submit" value="送出" id="btnSubmit" class="btn btn-success" />

    </div>



</form>



@section Scripts
{       @*check帶出值怪*@
<script>

    jQuery.postJSON = function (url, data, callback) {
        jQuery.post(url, data, callback, "json");
    };

    function loadcheck(data) {

        $(".asdf")[0].textContent = data.text[0];
        $(".asdf")[2].textContent = data.text[2];

        for (let i = 0; i < 5; i++) {
            $(".asdf")[i].setAttribute("value", data.text[i]);
        }

        for (let i = 0; i < 22; i++) {
            if (data.checkbox[i] == true) {
                $(".checklist")[i].checked = true;
            }
        }
        for (let i = 0; i < 5; i++) {
            $(".scst")[i].selectedIndex = data.selectopt[i];
        }

    }


    function load() {
        $.getJSON("/SalesCourt/GetAlterMe", { id:@Model.Memberid}, function (data) {
            console.log(data);
            if (data != null) {
                var datas = JSON.parse(data);
                loadcheck(datas);
                //$(".outlook").append(returncheck(datas));


                //$(".first").html("");
            }
        })
    }
    load();

    $("#btnSubmit").click(function () {
        loadpost();
        $.postJSON("/SalesCourt/AlterMe", { Memberid: @Model.Memberid, asd: asd }, function () {
        });
    })

    let aaa1 = "";
    let bbb1 = "";
    let ccc1 = "";           //這邊陣列假裝是資料庫
    let asd = "";

    function loadpost() {

        let aaa = $.map($(".checklist"), function (data) {        /*物件變json checkbox  要怎麼限制*/

            /*return $(data).val();*/
            return $(data).is(":checked");
            /*return $(data).checked;*/
        });
        let ddd = $.map($(".scst"), function (data) {        /*把所有  被選到的預設為0  物件變json  select option*/
            return data.selectedIndex;
        });
        let ccc = $.map($(".asdf"), function (data) {        /*物件變json    輸入text框*/
            return $(data).val();
        });

        aaa1 = aaa;                              /*json變物件   可以分開來詳細看*/
        bbb1 = ddd;
        ccc1 = ccc;

        asd = JSON.stringify({ checkbox: aaa1, selectopt: bbb1, text: ccc1 });

    }


    //------------------------------------------------------------------------------------------------------------
        /*這邊是做按鈕自動換狀態*/
    $(function () {
        $('input[type="radio"]').on('mousedown', function (evt) {
            evt.preventDefault();
            this.checked = !this.checked;
        }).on('mouseup', function (evt) {
            evt.preventDefault();
        }).on('click', function (evt) {
            evt.preventDefault();
        });
    });

</script>

}
