
@{
    ViewData["Title"] = "修改關於我";
}



<div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2" style="font-size:1.1em;background-color:burlywood">
    <div>修改關於我</div>
   
</div>
@*<div class="row d-flex justify-content-start align-items-center  text-muted  py-1 rounded-2" style="font-size:1.1em">
    <div class="bg-warning">付款運送</div>
    <div class="row">
        <div class="col">
            <div class="text-danger">付款方式(必填)</div>
            <p>
                <input type="checkbox" name="#" value="#">
                7-11取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                全家取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                萊爾富取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                PChomePay支付連 現金 信用卡(ATM 餘額)
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                銀行或郵局轉帳
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                郵局快捷貨到付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                貨到付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                面交取貨付款(面交時才付款)
            </p>
            <div class="text-success">付款期限</div>
            <div class="text-success">銀行或郵局轉帳後提供資料</div>
        </div>
        <div class="col">
            <div class="text-danger">運送方式(必填)</div>
            <p>
                <input type="checkbox" name="#" value="#">
                7-11取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費
                <input type="text" name="#" value="#">
                元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                7-11純取貨
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                全家取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                全家純取貨
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                萊爾富取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                萊爾富純取貨
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                i郵箱
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                郵寄寄送
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                郵局快捷到貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                宅配/快遞
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                黑貓宅急便
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                低溫寄送
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                離島寄送
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                跨國寄送
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                面交取貨
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                面交取貨付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                貨到付款
            </p>
            <p>
                <input type="checkbox" name="#" value="#">
                運費元滿元或滿件免運費
            </p>

            <div class="text-success">出貨時間</div>
            <p>付款後個工作天出貨</p>
            <div class="text-success">預計到貨天數</div>
            <div class="row">
                <div class="col">
                    <select name="" size="1" class="form-select form-select-sm" style="width:50px;">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                    </select>
                    <span>(含例假日 不含例假日)</span>
                </div>
                
            </div>
           
        </div>
    </div>
</div>*@

<div class="row d-flex justify-content-start align-items-center  text-muted  py-1 rounded-2" style="font-size:1.1em">
    <div class="bg-warning rounded">付款/運送</div>

    <div class="row">
        <div class="col">
            <div class="text-danger">付款方式(必填)</div>
        </div>
        <div class="col">
            <div class="text-danger">運送方式(必填)</div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <textarea class="form-control" style="height: 90px; width:570px;"></textarea>
        </div>
        <div class="col">

            <textarea class="form-control" style="height: 90px; width:570px;"></textarea>
        </div>
    </div>

</div>

<div class="row d-flex justify-content-start align-items-center  text-muted  py-1 rounded-2" style="font-size:1.1em">
    <div class="bg-warning rounded">賣場資訊</div>

    <div class="row">
        <div class="col">
            <div class="text-danger">賣場服務時間(必填)</div>
            <div class="row my-2">
                <div class="col-1">
                    <input type="checkbox" name="#" value="#">
                </div>
                星期
                <div class="col-2">
                    <select name="" size="1" class="form-select form-select-sm" style="width:90px;">
                        @{
                            for (int i = 0; i < 7; i++)
                            {
                                <option value="@(i+1)">@(i+1)</option>
                            }
                        }
                    </select>
                </div>
                ~星期
                <div class="col-5">
                    <select name="" size="1" class="form-select form-select-sm" style="width:90px;">
                        @{
                            for (int i = 0; i < 7; i++)
                            {
                                <option value="@(i+1)">@(i+1)</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-1">
                    <input type="checkbox" name="#" value="#">
                </div>
                時間
                <div class="col-2">
                    <select name="" size="1" class="form-select form-select-sm" style="width:90px;">
                        @{
                            for (int i = 0; i < 10; i++)
                            {
                                <option value="@(i)">0@(i):00</option>
                            }

                            for (int i = 10; i < 24; i++)
                            {
                                <option value="@(i)">@(i):00</option>
                            }
                        }
                    </select>
                </div>
                點~
                <div class="col-2">
                    <select name="" size="1" class="form-select form-select-sm" style="width:90px;">
                        @{
                            for (int i = 0; i < 10; i++)
                            {
                                <option value="@(i)">0@(i):00</option>
                            }

                            for (int i = 10; i < 24; i++)
                            {
                                <option value="@(i)">@(i):00</option>
                            }
                        }
                    </select>
                </div>
                點
            </div>
            <p class="my-1">
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" name="#" value="">
                    </div>
                    每週
                    <div class="col-4">
                        <input type="text" name="#" value="" style="width:180px">
                    </div>
                    公休
                </div>
               
                
                
            </p>
        </div>
        <div class="col">
            <div class="text-success">新品上架時間</div>
            @*<input type="text" name="#" value="">*@
            <textarea class="form-control" style="height: 90px; width:570px;"></textarea>
            <div class="text-success">商品類型</div>
            @*<input type="text" name="#" value="">*@
            <textarea class="form-control" style="height: 90px; width:570px;"></textarea>
            <div class="text-success">賣家類型</div>
            @*<input type="text" name="#" value="">*@
            <textarea class="form-control" style="height: 90px; width:570px;"></textarea>
        </div>
    </div>

</div>

<div class="row">
    <div class="col border  border-secondary rounded-3" >
        <div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2" style="font-size:1.1em;">
            <div class="bg-warning rounded-2">售後服務</div>
            @*<input type="text" name="#" value="">*@
            <textarea class="form-control" style="height: 184px; width:630px;"></textarea>
        </div>
    </div>
    <div class="col border  border-secondary  rounded-3">
        <div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2 " style="font-size: 1.1em;">
            <div class="bg-warning rounded-2">注意事項</div>
            @*<input type="text" name="#" value="">*@
            <textarea class="form-control" style="height: 184px; width:630px;"></textarea>
        </div>
    </div>
</div>



