@model prjiSpanFinal.ViewModels.SalesCourt.C關於我ViewModel
@{
    ViewData["Title"] = "新增關於我";
}


<div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2" style="font-size:1.1em;background-color:burlywood">
    <div>新增關於我</div>

</div>

<form class="" method="post" enctype="multipart/form-data" name="newabme" id="newabme">

    <div class="form-group row d-flex justify-content-start align-items-center  text-muted  py-1 rounded-2" style="font-size:1.1em">
        <div class="bg-warning rounded">賣場資訊</div>

        <div class="row">
            <div class="col">
                <input type="hidden" name="Memberid" value="@Model.Memberid" id="@Model.Memberid" >
                <div class="text-danger">賣場服務時間(必填)</div>
                <div class="row my-2">
                    <div class="col-1">
                        <input type="checkbox" name="ServiceTime[]" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">
                    </div>
                    星期
                    <div class="col-2">
                        <select name="SalesCourtServiceTime[]" size="1" class="form-select form-select-sm" style="width:90px;">
                            @{
                                for (int i = 0; i < 7; i++)
                                {
                                    <option value="@(i+1)" id="@Model.SalesCourtServiceTime">@(i+1)</option>
                                }
                            }
                        </select>
                    </div>
                    ~星期
                    <div class="col-5">
                        <select name="SalesCourtServiceTime[]" size="1" class="form-select form-select-sm" style="width:90px;">
                            @{
                                for (int i = 0; i < 7; i++)
                                {
                                    <option value="@(i+1)" id="@Model.SalesCourtServiceTime">@(i+1)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-1">
                        <input type="checkbox" name="ServiceTime[]" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">
                    </div>
                    時間
                    <div class="col-2">
                        <select name="SalesCourtServiceTime[]" size="1" class="form-select form-select-sm" style="width:90px;">
                            @{
                                for (int i = 0; i < 10; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">0@(i):00</option>
                                }

                                for (int i = 10; i < 24; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">@(i):00</option>
                                }
                            }
                        </select>
                    </div>
                    點~
                    <div class="col-2">
                        <select name="SalesCourtServiceTime[]" size="1" class="form-select form-select-sm" style="width:90px;">
                            @{
                                for (int i = 0; i < 10; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">0@(i):00</option>
                                }

                                for (int i = 10; i < 24; i++)
                                {
                                    <option value="@(i)" id="@Model.SalesCourtServiceTime">@(i):00</option>
                                }
                            }
                        </select>
                    </div>
                    點
                </div>
                <p class="my-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="checkbox" name="ServiceTime[]" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime">
                        </div>
                        每週
                        <div class="col-4">
                            <input type="text" name="ServiceTime[]" value="@Model.SalesCourtServiceTime" id="@Model.SalesCourtServiceTime" style="width:180px">
                        </div>
                        公休
                    </div>



                </p>
            </div>
            <div class="col">
                <div class="text-success">新品上架時間</div>
              
                <textarea name="NewProductOnLoad" class="form-control" style="height: 90px; width:570px;"></textarea>
                
                <div class="text-success">賣家類型</div>
               
                <textarea name ="SellerCategory" class="form-control" style="height: 90px; width:570px;"></textarea>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col border  border-secondary rounded-3">
            <div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2" style="font-size:1.1em;">
                <div class="bg-warning rounded-2">售後服務</div>
               
                <textarea name ="ServiceAfterBuy" class="form-control" style="height: 184px; width:630px;"></textarea>
            </div>
        </div>
        <div class="col border  border-secondary  rounded-3">
            <div class="row d-flex justify-content-start align-items-center  text-muted py-1 rounded-2 " style="font-size: 1.1em;">
                <div class="bg-warning rounded-2">注意事項</div>
               
                <textarea name ="Caution" class="form-control" style="height: 184px; width:630px;"></textarea>
            </div>
        </div>
    </div>

    <div class="form-group ">
        <input type="submit" value="送出" id="btnSubmit" class="btn btn-success" />

    </div>

</form>