@model prjiSpanFinal.Models.CustomizedCategory
@addTagHelper *, prjiSpanFinal

@{
    ViewData["Title"] = "設定分類";
}

@section Styles{
    @*<link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />*@
    <style>
        .modal-dialog {
            top: 7rem !important;
        }

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--bs-modal-color);
            pointer-events: auto;
            background-color: var(--bs-modal-bg);
            background-clip: padding-box;
            border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
            border-radius: var(--bs-modal-border-radius);
            outline: 0;
        }


        .名稱寬 {
            width: 50px;
            float: left;
        }

        .規格列表 {
            width: 150px;
            font-size: 18px;
        }
    </style>

}

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/編輯賣場資訊">編輯賣場資訊</a>

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/修改關於我">修改關於我</a>


@*最上面的新增規格欄位  叫出modal的按鈕  按下還不是確定新增*@
<button type="button" id="btncreate" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    新增類別輸入框
</button>

<button type="button" id="btnDemo" class="btn btn-warning" >
    Demo
</button>

<button type="button" id="btnProduct" class="btn btn-secondary">
    DemoProduct
</button>

<form class="" method="post" enctype="multipart/form-data" name="setcat" id="setcat">
    <input type="hidden" name="Memberid" value="@Model.MemberId" id="@Model.MemberId">
    @*原本的欄位*@
    <div class="d-flex justify-content-center ">
        @*<div><label class="名稱寬 mt-2 collapse">自訂賣場類別管理</label></div>*@


        <span class="text-danger"></span>
        <section class=" form-group section d-flex justify-content-center">
            <table class="table w-100 ">
                <thead>
                    <tr id="categorytablehead">
                        <th class="col 規格列表">順序</th>
                        <th class="col 規格列表">商品數</th>
                        <th class="col 規格列表">類別</th>
                        <th class="col 規格列表">刪除</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </section>



    </div>

    <a role="button" id="submitcategory" href="/SalesCourt/賣場?id=@Model.MemberId" class="btn btn-secondary">確定新增</a>


</form>

@*這邊應該的是按下修改選項    會多出來的畫面*@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">新增類別</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label>類別名稱:</label>
                <input type="text" id="text3" class="form-control">
                <br />

            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button id="save" type="button" class="btn btn-primary" href="~/SalesCourt/賣場?id=@Model.MemberId">新增</button>
                @*<a role="button" id="save" class="btn btn-primary" href="~/SalesCourt/賣場?id=@Model.MemberId">新增</a>*@
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        /*let count = 0;*/
        let sortmax = 0;
        let custname = ["有機", "卷鬚", "葉菜", "熱火焰", "茼蒿", "雷夢"];
        let custdlname = " ";


        let save = document.getElementById("save");
        /*let save_alter = document.getElementById("save");*/

        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };

        function load() {
            $.getJSON("/SalesCourt/GetCustCategory", { id: @Model.MemberId}, function (data) {
                console.log(data);
                $("tbody").html("");
                for (let i = 0; i < data.length; i++) {
                    if (data[i].sortNumber > sortmax) {
                        sortmax = data[i].sortNumber;
                    }
                    $("tbody").append(`<tr class="custtr" draggable="true"><td class="sortnum">${data[i].sortNumber}</td><td>${data[i].count}</td><td class="custtext">${data[i].customizedCategoryName}</td><td><button type="button" class="d-flex justify-content-center btn btn btn-danger delete" style="font-size:0.8rem">刪除</button></td></tr>`);
                }
            });
            sortall();
        }
        load();

        $("#btncreate").click(function () {   /*當modal打開要清空輸入欄位*/
            $("#text3").val("");
        })

        $("#btnDemo").click(function () {
            for (let i = 0; i < custname.length; i++) {
                $("tbody").append(`
                <tr class="custtr" draggable="true">
                <td class="sortnum">${++sortmax}</td>
                <td>${0}</td>
                <td class="custtext">${custname[i]}</td>
                <td>
                <button type="button" class="d-flex justify-content-center btn btn btn-danger delete" style="font-size:0.8rem">刪除</button>
                </td>
                </tr>`);

            }


        })

        $("#btnProduct").click(function () {
            $.getJSON("/SalesCourt/AddCustomProduct", { id: @Model.MemberId}, function (data) {
                console.log(data);

            });
            load();
        })


        $("#save").click(function () {     /*當modal按下儲存會關掉*/
            $("tbody").append(`
                <tr class="custtr" draggable="true">
                <td class="sortnum">${++sortmax}</td>
                <td>${0}</td>
                <td class="custtext">${$("#text3").val()}</td>
                <td>
                <button type="button" class="d-flex justify-content-center btn btn btn-danger delete" style="font-size:0.8rem">刪除</button>
                </td>
                </tr>`);


            var myModalEl = document.getElementById('exampleModal');
            var modal = bootstrap.Modal.getInstance(myModalEl);
            modal.hide();
            sortall();
        })

        $(document).on("click", ".delete", function (e) {       //單一個tr刪掉
            $(this).parent().parent().remove();
            console.log($(this).parent().prev().html());
            custdlname = $(this).parent().prev().html();
            sortall();
            deletedb();
        })

        function deletedb() {
            $.postJSON("/SalesCourt/deleteCustName", { id: @Model.MemberId, custname: custdlname}, function (data) {

            });
                       
        }


        $("#submitcategory").click(function () {
            let sortnumarr = [];
            let textarr = [];
            console.log($(".sortnum"));
            for (let i = 0; i < $(".sortnum").length; i++) {
                sortnumarr.push($(".sortnum").eq(i).html());
                textarr.push($(".custtext").eq(i).html());
            }
            $.postJSON("/SalesCourt/設定分類", { Memberid: @Model.MemberId, CustomizedCategoryName: textarr, SortNumber: sortnumarr}, function () {
            });
        })

        //let dropTarget = document.querySelectorAll('.custtr')
        //for (let i = 0; i < dropTarget.length; i++) {
        //    dropTarget[i].addEventListener('dragstart', dragStart)
        //    dropTarget[i].addEventListener('drop', dropped)
        //    dropTarget[i].addEventListener('dragenter', cancelDefault)
        //    dropTarget[i].addEventListener('dragover', cancelDefault)
        //}
        $(document).on('dragstart', '.custtr', dragStart)
        $(document).on('drop', '.custtr', dropped)
        $(document).on('dragenter', '.custtr', cancelDefault)
        $(document).on('dragover', '.custtr', cancelDefault)
        $(document).on('drop', "#categorytablehead", dropped)
        $(document).on('dragenter', "#categorytablehead", cancelDefault)
        $(document).on('dragover', "#categorytablehead", cancelDefault)
        jQuery.event.props.push('dataTransfer');

        function cancelDefault(e) {
            e.preventDefault()
            e.stopPropagation()
            return false
        }

        function dragStart(e) {
            console.log('dragStart')
            e.dataTransfer.setData('text/plain', $(e.currentTarget).children(".sortnum").html().toString())
        }

        function dropped(e) {
            console.log('dropped')
            cancelDefault(e)
            let num = e.dataTransfer.getData('text/plain')
            let aaa = $(`.sortnum:contains(${num})`).parent();
            console.log(e.currentTarget)
            $(e.currentTarget).after(aaa);
            sortall();
        }

        function sortall() {
            for (let i = 1; i < $(".sortnum").length+1; i++) {
                $(".sortnum").eq(i-1).html(i);
            }
        }


    </script>
}



