@model prjiSpanFinal.ViewModels.SalesCourt.C評價ViewModel
@{
    ViewData["Title"] = "評價";
    iSpanProjectContext dbContext = new iSpanProjectContext();
    var AllWeekCommentCount = Model.BestCommentCountMethod.WeekCount + Model.MediumCommentCountMethod.WeekCount + Model.WorstCommentCountMethod.WeekCount;
    var AllMonthCommentCount = Model.BestCommentCountMethod.MonthCount + Model.MediumCommentCountMethod.MonthCount + Model.WorstCommentCountMethod.MonthCount;
    var AllHalfYearCommentCount = Model.BestCommentCountMethod.HalfYearCount + Model.MediumCommentCountMethod.HalfYearCount + Model.WorstCommentCountMethod.HalfYearCount;
    var AllCounts = Model.BestCommentCountMethod.AllCount + Model.MediumCommentCountMethod.AllCount + Model.WorstCommentCountMethod.AllCount;
    var followcount = dbContext.Follows.Where(a => a.FollowedMemId == Model.Memberid).Count();


    //var bestweekcommentcount = dbContext.OrderDetails.Where(a => a.ProductDetail.Product.MemberId == Model.Memberid && (DateTime.Now-a.Order.CommentForCustomers.FirstOrDefault().CommentTime) <= 7).

}

@section Styles{
    <link href="~/css/Home/ItemCard.css" rel="stylesheet" />
    <link href="~/css/Item/ItemIndex.css" rel="stylesheet" />
    <link href="~/css/Category/CategoryStyles.css" rel="stylesheet" />
    <style>
        .dashed-divider {
            height: 1px;
            border-top: 1px dashed #dcdcdc;
        }
    </style>
}


<div class="container">
    <div class="ps-2">

        <a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/賣場?id=@Model.Memberid"> 回賣場</a>

        <a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/關於我?id=@Model.Memberid"> 關於我</a>


        <div class="row">
            <input type="hidden" value="@Model.Memberid" id="CommentId" />
            <div class="col-6 rounded-2">

                <div class="row">

                    <div class="col-4">

                        @if (Model.SellerPhoto != null)
                        {

                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.SellerPhoto)" class="cardImg rounded-circle" alt="..." width="120" />
                        }
                        else
                        {
                            <img src="~/img/imageNotFound.png" class="cardImg" alt="此商品沒有圖片" />
                        }


                        <button class="btn  btn-sm ms-2 text-white rounded-5" style="background-color:#f30959">
                            最<i class="fa-sharp fa-solid fa-heart"></i>賣家
                        </button>
                    </div>
                    <div class="col-8">
                        <div>
                            @for (int i = 0; i < Model.StarCount; i++)
                            {
                                <span><img src="~/img/YellowStar.png" width="55" /></span>
                            }


                        </div>
                        <div class="dashed-divider"></div>
                        <div class="ps-2 w-auto">
                            <span class="text-dark" style="font-size:2em">優良交易評價:</span>
                            @*<span class="text-danger" style="font-size:3em">37595</span>*@
                            <span class="text-danger" style="font-size:3em">@Model.BestCommentCountMethod.AllCount</span>
                            <span class="text-dark" style="font-size:2em">則</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/truck.png" width="30">
                            <a href="#" class="text-primary linknoline" style="font-size:1.5em">平均出貨天數:</a>
                            @if (Model.AvgShippingDate > 0)
                            {
                                <span class="text-dark" style="font-size:1.5em">@Model.AvgShippingDate.ToString("0.00") 天</span>
                            }
                            else
                            {
                                <span class="text-dark" style="font-size:1.5em">天</span>
                            }
                        </div>
                        <div class="ps-2">
                            <img src="~/img/follow.png" width="30">
                            <a href="#" class="text-primary linknoline" style="font-size:1.5em">交關過會員數:</a>
                            @*<span class="text-dark" style="font-size:1.5em">15044次</span>*@
                            <span class="text-dark" style="font-size:1.5em">@Model.BuyerCount 次</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/fans.png" width="30">
                            <a href="#" class="text-primary linknoline" style="font-size:1.5em">
                            最愛賣家次數:</a>
                            @*<span class="text-dark" style="font-size:1.5em">737次</span>*@
                            <span class="text-dark" style="font-size:1.5em">@followcount</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/trashcan.png" width="30">
                            <a href="#" class="text-primary linknoline" style="font-size:1.5em">棄單次數:</a>
                            <span class="text-dark" style="font-size:1.5em">0次</span>
                        </div>

                    </div>


                </div>


            </div>

            <div class="col-6">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">1週之內</th>
                            <th scope="col">1個月之內</th>
                            <th scope="col">半年之內</th>
                            <th scope="col">全部紀錄</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="table-light goodcomment" id="bestcomment">
                            <th scope="row"><i class="fa-regular fa-circle text-success"></i> 優良評價</th>
                            <td>@Model.BestCommentCountMethod.WeekCount</td>
                            <td>@Model.BestCommentCountMethod.MonthCount</td>
                            <td>@Model.BestCommentCountMethod.HalfYearCount</td>
                            <td>@Model.BestCommentCountMethod.AllCount</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light middlecomment" id="mediumcomment">
                            <th scope="row"><i class="fa-solid fa-square text-primary"></i>普通評價</th>
                            <td>@Model.MediumCommentCountMethod.WeekCount</td>
                            <td>@Model.MediumCommentCountMethod.MonthCount</td>
                            <td>@Model.MediumCommentCountMethod.HalfYearCount</td>
                            <td>@Model.MediumCommentCountMethod.AllCount</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light badcomment" id="worstcomment">
                            <th scope="row"><i class="fa-solid fa-xmark text-danger"></i>差勁評價</th>
                            <td>@Model.WorstCommentCountMethod.WeekCount</td>
                            <td>@Model.WorstCommentCountMethod.MonthCount</td>
                            <td>@Model.WorstCommentCountMethod.HalfYearCount</td>
                            <td>@Model.WorstCommentCountMethod.AllCount</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light" id="commentcount">
                            <th scope="row">評價次數</th>
                            <td>@AllWeekCommentCount</td>
                            <td>@AllMonthCommentCount</td>
                            <td>@AllHalfYearCommentCount</td>
                            <td>@AllCounts</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>


        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="sellercomment" class="nav-link active" aria-current="page" href="#commentlist">對賣場商品評價</a>
                </li>
                <li class="nav-item">
                    <a id="buyercomment" class="nav-link" href="#commentlist">對買家的評價</a>
                </li>

            </ul>

        </div>

        <div class="row my-4 bg-opacity-50" style="background-color:#e1dcd7">

            <div class="col">
                <div id="commentrecord1" class="ps-2"><a href="#commentlist" class="linknoline text-primary">綜合評價紀錄( @AllCounts )</a></div>
            </div>
            <div class="col">
                <div id="commentrecord2" class="ps-2"><a href="#commentlist" class="linknoline text-primary">優良評價紀錄( @Model.BestCommentCountMethod.AllCount )</a></div>
            </div>
            <div class="col">
                <div id="commentrecord3" class="ps-2"><a href="#commentlist" class="linknoline text-primary">普通評價紀錄( @Model.MediumCommentCountMethod.AllCount )</a></div>
            </div>
            <div class="col">
                <div id="commentrecord4" class="ps-2"><a href="#commentlist" class="linknoline text-primary">差勁評價紀錄( @Model.WorstCommentCountMethod.AllCount )</a></div>
            </div>

        </div>

        <div class="row" id="commentlist">


        </div>



        <div class="row " id="divPage">
            <div class="d-flex justify-content-center">
                <select style="width:150px" class="form-select form-select-lg mb-3" id="pagecountselect" aria-label=".form-select-lg example">
                    <option value="1">每頁1個</option>
                    <option value="5" selected>每頁5個</option>
                    <option value="10">每頁10個</option>
                    <option value="20">每頁20個</option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" id="orderpageup">
                            <a class="page-link" href="#commentlist" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" id="orderpagedown">
                            <a class="page-link" href="#commentlist" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="d-flex justify-content-center">
                <span id="totalpagesdisplay"></span>
            </div>
        </div>

    </div>

    @section Scripts{
        <script>
            let mode = 0;
            let eachpage = 5;
            let nowpages = 1;
            let pagecount = 1;
            let buyerorseller = 1;
            const pagecountselect = document.querySelector("#divPage");
            /*let switch = 0;*/
            function cmCard(data) {
                let card = "";
                for (let i = 0; i < data.length; i++) {
                    card = card + `
                            <div class="row rounded-5 bg-opacity-75" style="background-color:#f2f5ed">
                            <div>
                                <img src="~/img/greencircle.png" width="20" />
                                <span class="text-dark" style="font-size:1.5em">買家:${data[i].buyername}</span>
                            </div>
                            <div class="dashed-divider"></div>
                            <div class="ps-2" style="font-size:1.5em">
                            <a class="linknoline text-primary" href="${data[i].link}">${data[i].productname}</a>
                            </div>

                            <div class="my-2 text-dark" style="font-size:1.5em">${data[i].commentcontent}</div>
                            </div>`
                }
                return card;
            }
            function cmsellerCard(data) {
                let card = "";
                for (let i = 0; i < data.length; i++) {
                    card = card + `
                        <div class="row rounded-5 bg-opacity-75" style="background-color:#f2f5ed">
                        <div>
                            <img src="~/img/greencircle.png" width="20" />
                            <span class="text-dark" style="font-size:1.5em">買家:${data[i].buyername}</span>
                        </div>
                        <div class="dashed-divider"></div>
                        <div class="ps-2" style="font-size:1.5em">
                        <a class="linknoline text-primary" href="">${data[i].sellername}</a>
                        </div>`;
                        if (data[i].commentcontent != null) {
                            card = card + `<div class="my-2 text-dark" style="font-size:1.5em">${data[i].commentcontent}</div>`;
                        }

                        else {
                            card = card + `<div class="my-2 text-dark" style="font-size:1.5em"></div>`;
                        }

                    card = card + `</div>`;
                }
                return card;
            }

            load();
            function load() {
                $.getJSON("/SalesCourt/GetComment", { id: CommentId.value, mode: mode, pages: nowpages, eachpage: eachpage, buyerorseller: buyerorseller }, function (data) {
                    console.log(data);
                    $("#commentlist").html("");
                    //for (let i = 0; i < data.length; i++) {
                    //    $("#commentlist").append(cmCard(data[i]));
                    //}
                    if (data.list.length > 0) {
                        if (buyerorseller == 1) {
                            $("#commentlist").append(cmCard(data.list));

                        }
                        else {
                            $("#commentlist").append(cmsellerCard(data.list));

                        }
                        PageNumFill(data.count);
                    }
                    else {
                        PageNumFill(0);
                    }

                })
                
            }

           

            function PageNumFill(c) {
                pagecount = Math.ceil(c / eachpage);
                $("#totalpagesdisplay").html(`共${pagecount}頁，${c}筆資料`);
                let startpage = Math.max(1, Math.min(pagecount - 4, parseInt(nowpages) - 2));
                let endpage = Math.min(pagecount, Math.max(5, parseInt(nowpages) + 2));
                $("#orderpagedown").siblings(".orderpagenumclicklist").remove();
                for (let i = startpage; i <= endpage; i++) {
                    if (i == nowpages) {
                        $("#orderpagedown").before(`<li class="page-item active orderpagenumclicklist"><a class="page-link orderpagenumclick" href="#commentlist">${i}</a></li>`);
                    }
                    else {
                        $("#orderpagedown").before(`<li class="page-item orderpagenumclicklist"><a class="page-link orderpagenumclick" href="#commentlist">${i}</a></li>`);
                    }
                }
            }

            $(".nav-link").click(function (event) {
                if (buyerorseller == 1) {
                    buyerorseller = 2;
                }
                else {
                    buyerorseller = 1;
                }
                $(event.currentTarget).addClass("active");
                $(event.currentTarget).parent().siblings().children("a").removeClass("active");
                nowpages = 1;
                load();
            })
            $("#sellercomment").click(function () {
                //buyerorseller = 1;
            })
            $("#buyercomment").click(function () {
                //buyerorseller = 2;
                $.getJSON("/SalesCourt/GetcommentbuyerCount", { commentmemid: CommentId.value }, function (data) {
                    console.log(data);
                });
            })

            $("#pagecountselect").change(function () {
                eachpage = $("#pagecountselect option:selected").val();
                nowpages = 1;
                load();
            });

            $(document).on("click", ".orderpagenumclick", function () {
                nowpages = $(this).html();
                load();
            })

            $("#orderpagedown").click(function () {

                nowpages = Math.min(parseInt(nowpages) + 1, pagecount);
                load();
            })

            $("#orderpageup").click(function () {
                nowpages = Math.max(parseInt(nowpages) - 1, 1);
                load();
            })



            /*綜合*/
            $("#commentrecord1").click(function () {
                //nowpages = 1;
                mode = 1;
                $("#commentlist").empty();
                load();
            })
            /*優良*/
            $("#commentrecord2").click(function () {
                //nowpages = 1;
                mode = 2;
                $("#commentlist").empty();
                load();
            })
            /*普通*/
            $("#commentrecord3").click(function () {
                //nowpages = 1;
                mode = 3;
                $("#commentlist").empty();
                load();
            })
            /*差勁*/
            $("#commentrecord4").click(function () {
                /*nowpages = 1;*/
                mode = 4;
                $("#commentlist").empty();
                load();
            })
        </script>
    }
