@model prjiSpanFinal.ViewModels.SalesCourt.C評價ViewModel
@{
    ViewData["Title"] = "評價";

    int AllWeekCommentCount = Model.BestCommentCountMethod.WeekCount + Model.MediumCommentCountMethod.WeekCount + Model.WorstCommentCountMethod.WeekCount;
    int AllMonthCommentCount = Model.BestCommentCountMethod.MonthCount + Model.MediumCommentCountMethod.MonthCount + Model.WorstCommentCountMethod.MonthCount;
    int AllHalfYearCommentCount = Model.BestCommentCountMethod.HalfYearCount + Model.MediumCommentCountMethod.HalfYearCount + Model.WorstCommentCountMethod.HalfYearCount;
    int AllCounts = Model.BestCommentCountMethod.AllCount + Model.MediumCommentCountMethod.AllCount + Model.WorstCommentCountMethod.AllCount;

}

@section Styles{
    <style>
        .dashed-divider {
            height: 1px;
            border-top: 1px dashed #dcdcdc;
        }
    </style>
}


<div class="container">
    <div class="ps-2">
        <button class="btn btn-outline-success rounded-2 btn-sm ms-2">
            <a href="~/SalesCourt/賣場"> 回賣場</a>
        </button>
        <button class="btn btn-outline-success rounded-2 btn-sm ms-2">
            <a href="~/SalesCourt/關於我"> 關於我</a>
        </button>

        <div class="row">

            <div class="col-6 rounded-2">

                <div class="row">

                    <div class="col-4">
                        @*<img src="~/img/member.png" width="150" class="m-3" />*@
                        @{

                            var base64Image = Convert.ToBase64String(Model.SellerPhoto);
                            var source = String.Format("data:image/png;base64,{0}", base64Image);

                        }
                        <img src="@source" class="cardImg" alt="..." width="120" />



                        <button class="btn  btn-sm ms-2 text-white rounded-5" style="background-color:#f30959">
                            最<i class="fa-sharp fa-solid fa-heart"></i>賣家
                        </button>
                    </div>
                    <div class="col-8">
                        <div>
                            @for (int i = 0; i < Model.StarCount; i++)
                            {
                                <span><img src="~/img/YellowStar.png" width="80" /></span>
                            }


                        </div>
                        <div class="dashed-divider"></div>
                        <div class="ps-2 w-auto">
                            <span class="text-dark" style="font-size:2em">優良交易評價:</span>
                            @*<span class="text-danger" style="font-size:3em">37595</span>*@
                            <span class="text-danger" style="font-size:3em">@Model.BestCommentCountMethod.AllCount</span>
                            <span class="text-dark" style="font-size:2em">則</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/truck.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">平均出貨天數:</a>
                            <span class="text-dark" style="font-size:1.5em">@Model.AvgShippingDate 天</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/follow.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">交關過會員數:</a>
                            @*<span class="text-dark" style="font-size:1.5em">15044次</span>*@
                            <span class="text-dark" style="font-size:1.5em">@Model.BuyerCount 次</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/fans.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">被加入最愛賣家次數:</a>
                            @*<span class="text-dark" style="font-size:1.5em">737次</span>*@
                            <span class="text-dark" style="font-size:1.5em">@Model.AddLoveCount</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/trashcan.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">棄單次數:</a>
                            <span class="text-dark" style="font-size:1.5em">0次</span>
                        </div>

                    </div>


                </div>


            </div>

            <div class="col-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">1週之內</th>
                            <th scope="col">1個月之內</th>
                            <th scope="col">半年之內</th>
                            <th scope="col">全部紀錄</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="table-light">
                            <th scope="row"><img src="~/img/greencircle.png" width="20" /> 優良評價</th>
                            <td>@Model.BestCommentCountMethod.WeekCount</td>
                            <td>@Model.BestCommentCountMethod.MonthCount</td>
                            <td>@Model.BestCommentCountMethod.HalfYearCount</td>
                            <td>@Model.BestCommentCountMethod.AllCount</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row"><img src="~/img/bluetriangle.png" width="20" />普通評價</th>
                            <td>@Model.MediumCommentCountMethod.WeekCount</td>
                            <td>@Model.MediumCommentCountMethod.MonthCount</td>
                            <td>@Model.MediumCommentCountMethod.HalfYearCount</td>
                            <td>@Model.MediumCommentCountMethod.AllCount</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row"><img src="~/img/redcross.png" width="20" />差勁評價</th>
                            <td>@Model.WorstCommentCountMethod.WeekCount</td>
                            <td>@Model.WorstCommentCountMethod.MonthCount</td>
                            <td>@Model.WorstCommentCountMethod.HalfYearCount</td>
                            <td>@Model.WorstCommentCountMethod.AllCount</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">評價次數</th>
                            <td>@AllWeekCommentCount</td>
                            <td>@AllMonthCommentCount</td>
                            <td>@AllHalfYearCommentCount</td>
                            <td>@AllCounts</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>


        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">賣場評價</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">買家評價</a>
                </li>

            </ul>

        </div>

        <div class="row my-4 bg-opacity-50" style="background-color:#e1dcd7">

            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">綜合評價紀錄( @AllCounts )</a></div>
            </div>
            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">優良評價紀錄( @Model.BestCommentCountMethod.AllCount )</a></div>
            </div>
            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">普通評價紀錄( @Model.MediumCommentCountMethod.AllCount )</a></div>
            </div>
            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">差勁評價紀錄( @Model.WorstCommentCountMethod.AllCount )</a></div>
            </div>

        </div>

        @{
            @foreach (var item in Model.CardContent)
            {
                <div class="row rounded-5 bg-opacity-75" style="background-color:#f2f5ed">
                    @*<i class="fa-regular fa-circle"></i>*@
                    <div>
                        <img src="~/img/greencircle.png" width="20" />
                        <span class="text-dark" style="font-size:1.5em">買家:@item.CommentBuyer</span>
                    </div>

                    <div class="dashed-divider"></div>
                    @*<div class="ps-2" style="font-size:1.5em"><a href="#" class="text-primary">【24H出貨】(袋裝) 4米5噸 拖車繩 拉車繩 牽引繩 拖車繩 拖車索 拖車勾 拖車線 汽機車用品</a></div>*@
                    <div class="ps-2" style="font-size:1.5em"><a href="#" class="text-primary">@item.ProductName</a></div>

                    @*<div class="my-2 text-dark" style="font-size:1.5em">意見：	東西真的不錯耶...我好喜歡，謝謝啊~~ (2022-10-10 08:52:04)</div>*@
                    <div class="my-2 text-dark" style="font-size:1.5em">@item.CommentContent</div>
                </div>
            }

        }


        <nav aria-label="Page navigation example" class="justify-content-center d-flex m-5">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
