@model prjiSpanFinal.ViewModels.SalesCourt.C賣場ViewModel

@{
    ViewData["Title"] = "賣場";
}
@section Styles{
    <link href="~/css/HomeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/ItemIndex.css" />

    <style>
        .dashed-divider {
            height: 1px;
            border-top: 2px dashed #dcdcdc;
        }
    </style>
}


<div class="container-fluid">


    <div class="row">
        <nav id="sidebarMenu" class="col-md-5 col-lg-2 d-md-block bg-light sidebar collapse">
            <!--左邊的選項欄位-->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center  text-muted text-uppercase bg-warning">
                <span>賣家資料</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
            </h6>
            <div class="row">

                @{

                    var base64Image = Convert.ToBase64String(Model.Picture);
                    var source = String.Format("data:image/png;base64,{0}", base64Image);

                }
                <img src="@source" class="cardImg" alt="..." width="120" />
            </div>

            @*<img src="~/img/蘋果圖.jpg" width="150" />*@
            <div class="p-2">@Model.SellerName 的賣場</div>

            <div class="ps-2"><a href="~/SalesCourt/評價" class="text-primary">評價</a></div>
            <div class="ps-2"><a href="~/SalesCourt/關於我" class="text-primary">關於我</a></div>

            <div class="row">
                <div class="col">
                    @*<div class="text-dark rounded-5  text-center" style="background-color:#fb00ff">最愛賣家</div>*@
                    <button class="btn  btn-sm text-white rounded-5" style="background-color:#f30959">
                        最<i class="fa-sharp fa-solid fa-heart"></i>賣家
                    </button>
                </div>
                <div class="col">
                    @*<div class="text-dark rounded-5  text-center" style="background-color:#e36b3a">蝦蝦通</div>*@
                    <button class="btn  btn-sm text-white rounded-5" style="background-color:#fe6502">
                        蝦蝦通<i class="fa-solid fa-shrimp"></i>
                    </button>
                </div>
            </div>


            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase bg-warning">
                <span>商品分類</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
            </h6>

            <ul>
                @foreach (var item in Model.CourtCategoryName)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file" class="align-text-bottom"></span>
                            @item
                        </a>
                    </li>
                }
            </ul>
        </nav>

        <main class="col-md-7 ms-sm-auto col-lg-10 ">

            <section>

                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div class="container  ">
                    <div class="text-center text-black-50 p-4 mb-5 " style="background-color:#f6e529">

                        <h1 class="fw-bolder" style="font-size:3rem">@Model.SellerName 賣場相關資料</h1>

                        <div class="board-text">
                            @Model.CourtDescription
                            @*👉過年期間出貨公告👈
                                1/30~2/6暫停所有出貨，2/7依照下單順序陸續出貨.標題【24H出貨】保證有現貨，不用私訊問有沒有貨，
                                直接下單即可周一~周五、AM10~PM5，周末及國定假日不出貨『耐嘉官方正式授權網路經銷商+授權碼A20122108』.
                                1.本賣場販售之所有商品，皆由台灣發貨。
                                2.本賣場所有商品皆無試用期，一經拆封使用，無法退換。
                                3.買家們，收到商品發現有問題或是瑕疵，請【蝦蝦通】私訊聯絡我們。
                                4.單筆訂單未滿88$一律不出貨，直接取消。*@
                        </div>

                    </div>

                    <h6 class="display-6 d-flex justify-content-between align-items-center  text-muted text-uppercase bg-warning">
                        <span>精選商品</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>

                    <div class="row">

                        @foreach (var item in Model.CardProduct)
                        {
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <img src="~/img/product04.png" width="150" />
                                    </div>
                                    <div class="col">
                                        <div class="ps-2"><a href="#" class="text-primary">@item.ProductName</a></div>
                                        @*<div class="ps-2"><a href="#" style="color:#a25130">直接購買價： $155 - $1,180</a></div>*@
                                        <div class="ps-2"><a href="#" style="color:#a25130">直接購買價： $@item.ProductPrice</a></div>
                                        <p>
                                            @*已賣數量：227*@
                                            已賣數量：@item.SoldQuantity
                                            @*上架時間： 2017-09-28 02:41:04*@
                                            上架時間： @item.AddedTime
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }

                        @*@{
                                @for (int i = 0; i < 2; i++)
                                {
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <img src="~/img/product04.png" width="150" />
                                            </div>
                                            <div class="col">
                                                <div class="ps-2"><a href="#" class="text-primary">@Model.CardProduct.Select(a => a.ProductName)</a></div>
                                                <div class="ps-2"><a href="#" style="color:#a25130">直接購買價： $155 - $1,180</a></div>
                                                <p>
                                                    已賣數量：227
                                                    上架時間： 2017-09-28 02:41:04
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }*@


                    </div>

                    <div class="row">
                        @{
                            @for (int i = 0; i < 2; i++)
                            {
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <img src="~/img/product04.png" width="150" />
                                        </div>
                                        <div class="col">
                                            <div class="ps-2"><a href="#" class="text-primary">【24H出貨】 Kolin 歌林 手持吸塵器 HEAP氣旋 吸力永不減 吸塵器 KTC-SD401</a></div>
                                            <div class="ps-2"><a href="#" style="color:#a25130">直接購買價： $155 - $1,180</a></div>
                                            <p>
                                                已賣數量：227
                                                上架時間： 2017-09-28 02:41:04
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>

                    <div class="row" style="background-color:#32d6a8">

                        <div class="col">
                            <div class="ps-2"><p class="text-dark">      </p></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">       </a></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">       </a></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">       </a></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">        </a></div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">排序</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">熱門度</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">價格</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">銷售</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">最新上架</a>
                        </li>
                    </ul>

                    <div class="display-2 text-bg-danger">@Model.star </div>
                    @*<div class="display-2 text-bg-danger">@Model.CardProduct.Select(a => a.) </div>*@



                    <nav aria-label="Page navigation example" class="justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">6</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </section>

        </main>



    </div>




</div>



@section Scripts{
    <script>

    </script>
}