@model prjiSpanFinal.ViewModels.SalesCourt.C賣場ViewModel


@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "賣場";

    iSpanProjectContext dbContext = new iSpanProjectContext();
    var bestsell = dbContext.Products.Where(a => a.MemberId == Model.SellerId).Select(p => new {
        link = "/Item/Index?id=" + p.ProductId,
        pic = p.ProductPics.FirstOrDefault().Pic,
        name = p.ProductName,
        price1 = p.ProductDetails.Select(a => a.UnitPrice).Min(),
        price2 = p.ProductDetails.Select(a => a.UnitPrice).Max(),
        star = (dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.ProductId == p.ProductId).Select(a => a.CommentStar).ToList().Count == 0) ? 0 : dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.ProductId == p.ProductId).Select(a => (int)a.CommentStar).Sum() / dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.ProductId == p.ProductId).Select(a => a.CommentStar).ToList().Count,
        sales = dbContext.OrderDetails.Where(a => a.ProductDetail.Product.ProductId == p.ProductId).Select(a => a.Quantity).Sum(),
        upload = p.EditTime,
    }).OrderByDescending(a => a.sales).ToList();
        

}
@section Styles{
    <link href="~/css/Home/ItemCard.css" rel="stylesheet" />
    <link href="~/css/Item/ItemIndex.css" rel="stylesheet" />
    <link href="~/css/Category/CategoryStyles.css" rel="stylesheet" />

    <style>
        .dashed-divider {
            height: 1px;
            border-top: 2px dashed #dcdcdc;
        }

        .ordersearchbar {
            padding: 3px;
            text-align: right;
        }
    </style>
}


<div class="container-fluid">


    <div class="row">
        <nav id="sidebarMenu" class="col-md-5 col-lg-2 d-md-block bg-light sidebar collapse">
            <!--左邊的選項欄位-->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center  text-muted text-uppercase bg-warning">
                <span>賣家資料</span>
                <input type="hidden" value="@Model.SellerId" id="SalesCourtSellerId"/>
                <input type="hidden" value="@Model.SellerName" id="SalesCourtSellerName"/>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
            </h6>
            <div class="row">

                @{

                    var base64Image = Convert.ToBase64String(Model.Picture);
                    var source = String.Format("data:image/png;base64,{0}", base64Image);

                }
                <img src="@source" class="cardImg rounded-circle" alt="..." width="120" />
            </div>


            <div class="p-2">@Model.SellerName 的賣場</div>

            <div class="ps-2"><a href="~/SalesCourt/評價" class="text-primary">評價</a></div>
            <div class="ps-2"><a href="~/SalesCourt/關於我" class="text-primary">關於我</a></div>

            <div class="row">
                <div class="col">

                    <button class="btn  btn-sm text-white rounded-5" id="btnsalescourtfollowed" style="background-color:#f30959">
                        最<i class="fa-sharp fa-solid fa-heart"></i>賣家
                    </button>
                </div>
                <div class="col">

                    <button class="btn  btn-sm text-white rounded-5 orderopenmsg" style="background-color:#fe6502">
                        蝦蝦通<i class="fa-solid fa-shrimp"></i>
                    </button>
                </div>
            </div>


            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase bg-warning">
                <span>商品分類</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle" class="align-text-bottom"></span>
                </a>
            </h6>

            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file" class="align-text-bottom"></span>
                        未分類
                    </a>
                </li>
                @foreach (var item in Model.CourtCategoryName)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file" class="align-text-bottom"></span>
                            @item
                        </a>
                    </li>
                }
            </ul>
        </nav>

        <main class="col-md-7 ms-sm-auto col-lg-10 ">

            <section>

                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div class="container  ">

                    <div class="rounded text-center text-black-50 p-4 mb-5 " style="background-color:#f6e529">

                        <h1 class="fw-bolder" style="font-size:3rem">@Model.SellerName 賣場相關資料</h1>

                        <div class="board-text">
                            @Model.CourtDescription

                        </div>

                    </div>



                    <h6 class="rounded display-6 d-flex justify-content-between align-items-center  text-muted text-uppercase bg-warning">
                        <span>精選商品</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle" class="align-text-bottom"></span>
                        </a>
                    </h6>

                    <div class="row" id="bestsellproduct">

                        @for (int i = 0; i < bestsell.Count(); i++)
                        {
                            
                            <div class="sellsitem">
                                <a class="linknoline" href="@bestsell[i].link">
                                    @*@if (bestsell[i].pic != null)
        {
            var base64Image = Convert.ToBase64String(bestsell[i].pic);
            var source = String.Format("data:image/png;base64,{0}", base64Image);

            <img src="@source" class="cardImg" alt="..." />
        }*@
                                    <img src="data:png;base64,@bestsell[i].pic" class="cardImg" alt="..." />
                                </a>
                                <div class="px-1 d-flex flex-column justify-content-between">
                                    <div class="cardTitleBox">
                                        <div class="cardTitle">@bestsell[i].name</div>
                                    </div>
                                    <div class="cardPrice">@bestsell[i].price1.ToString("0.00") - @bestsell[i].price2.ToString("0.00")</div>
                                    <div class="cardInfo d-flex justify-content-between flex-row">
                                        <div class="starBox mt-1">
                                            <div class="d-flex justify-content-start">
                                                <div class="starImg">
                                                    <img src="/img/YellowStar.png" alt="" class="me-1 d-block" />
                                                </div>
                                                <div class="text-black">@bestsell[i].star.ToString("0.00")</div>
                                            </div>
                                        </div>
                                        <div class="text-end text-black-50 sells">已賣出<span>@bestsell[i].sales</span></div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>




                    <div class="row" style="background-color:#32d6a8">

                        <div class="col">
                            <div class="ps-2"><p class="text-dark">      </p></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">       </a></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">       </a></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">       </a></div>
                        </div>
                        <div class="col">
                            <div class="ps-2"><a href="#" class="text-primary">        </a></div>
                        </div>
                    </div>


                    <div class="ordersearchbar">
                        <input type="text" class="form-control rounded" placeholder="搜尋產品" aria-label="Search" aria-describedby="search-addon" style="display: inline; width: 400px;" id="orderkeyword">
                        <span>
                            <input id="btnDate" class="btn btn-primary" value="搜尋" type="button">
                        </span>
                    </div>


                    <div class="itembody-filter d-flex align-items-center justify-content-between">
                        <div class="itembody-filter1 "><span>篩選</span></div>
                        <div class="itembody-filter2 d-flex justify-content-start align-items-stretch">
                            <a class="itembody-filter2-btn linknoline SortOrder active" id="SortOrder1">
                                綜合排序
                                <input type="hidden" value="1" />
                            </a>
                            <a class="itembody-filter2-btn linknoline SortOrder" id="SortOrder2">
                                最新商品
                                <input type="hidden" value="2" />
                            </a>
                            <a class="itembody-filter2-btn linknoline SortOrder" id="SortOrder3">
                                熱銷商品
                                <input type="hidden" value="3" />
                            </a>
                            <a class="itembody-filter2-btn linknoline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                價格排序
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item SortOrder" id="SortOrder4">
                                        <i class="fa fa-arrow-down"></i>
                                        價格：由高至低
                                        <input type="hidden" value="4" />
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item SortOrder" id="SortOrder5">
                                        <i class="fa fa-arrow-up"></i>
                                        價格：由低至高
                                        <input type="hidden" value="5" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    @*//-----------------------------------------------------------------*@

                    <div class="row" id="salescourtcardbody">

                    </div>


                    <nav aria-label="Page navigation example" class="justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item" id="orderpageup">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item orderpagenumclicklist"><a id="page1" class=" page-link" href="#">1</a></li>
                            <li class="page-item orderpagenumclicklist"><a id="page2" class=" page-link" href="#">2</a></li>
                            <li class="page-item orderpagenumclicklist"><a id="page3" class=" page-link" href="#">3</a></li>
                            <li class="page-item orderpagenumclicklist"><a id="page4" class=" page-link" href="#">4</a></li>
                            <li class="page-item orderpagenumclicklist"><a id="page5" class=" page-link" href="#">5</a></li>
                            <li class="page-item orderpagenumclicklist"><a id="page6" class=" page-link" href="#">6</a></li>
                            <li class="page-item" id="orderpagedown">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </section>

        </main>



    </div>




</div>



@section Scripts{
  
    
<script>


    let mode = 0;
    let eachpages = 1;
    let nowpages = 1;
    let searchflag = false;

    jQuery.postJSON = function (url, data, callback) {
        jQuery.post(url, data, callback, "json");
    };

        
    load();
    function returnCard(data) {
        return `<div class="sellsitem">
        <a class="linknoline" href="${data.link}">
                <img src="data:image;base64,${data.pic}" class="cardImg" alt="..." />
        </a>
        <div class="px-1 d-flex flex-column justify-content-between">
            <div class="cardTitleBox">
                <div class="cardTitle">${data.name}</div>
            </div>
                    <div class="cardPrice">${data.price1} - ${data.price2}</div>
            <div class="cardInfo d-flex justify-content-between flex-row">
                <div class="starBox mt-1">
                    <div class="d-flex justify-content-start">
                        <div class="starImg">
                            <img src="/img/YellowStar.png" alt="" class="me-1 d-block" />
                        </div>
                        <div class="text-black">${data.star}</div>
                    </div>
                </div>
                <div class="text-end text-black-50 sells">已賣出<span>${data.sales}</span></div>
            </div>
        </div>
    </div>`
    }

    /*    let aa = $.map($(".check"),*/
    //function loadbest() {
    //    $.getJSON("/SalesCourt/GetBestSell", { id: SalesCourtSellerId }, function (data) {
    //        $("#bestsellproduct").html("")
    //        for (let i = 0; i < data.length; i++) {
    //            $("#bestsellproduct").append(returnCard(data[i]));
    //        }
    //    })
    //}

    function load() {
        let keyword;
        if (searchflag) {
            keyword = $("#orderkeyword").val();
        }
        else {
            $("#orderkeyword").val("");
            keyword = "";
        }
               

        $.getJSON("/SalesCourt/GetItems", { id: SalesCourtSellerId.value, mode:mode,pages:nowpages,keyword:keyword}, function (data) {
            
            $("#salescourtcardbody").html("");
            for (let i = 0; i < data.length; i++) {
                /*$(".check").eq(i).a*/
                $("#salescourtcardbody").append(returnCard(data[i]));
            }

            
        })
                
        
    }

    //打開蝦蝦通
    $(document).on("click", ".orderopenmsg", function () {
        happy_popup($("#SalesCourtSellerName").val());
    });

    //按追蹤賣家
    $("#btnsalescourtfollowed").click(function(){
        $.getJSON("/SalesCourt/WriteFollow", { id: $("#SalesCourtSellerId").val() },function(data){
            if(data == 1){
                Swal.fire(
                    '追蹤成功',
                    '您已成功追蹤賣家'+$("#SalesCourtSellerName").val(),
                    'success'
                );
            }
            else if(data == 0){
                Swal.fire(
                    '移除追蹤',
                    '您已移除追蹤賣家'+$("#SalesCourtSellerName").val(),
                    'warning'
                );
            }
            else{
                Swal.fire(
                    '錯誤',
                    '不要按自己追蹤',
                    'error'
                );
            }
        });
    })

    $("#btnDate").click(function () {
        if (searchflag) {
            searchflag = false;
            $("#btnDate").removeClass("btn-secondary").addClass("btn-primary");
            $("#btnDate").val("搜尋");
            $("#orderkeyword").removeAttr("readonly");
        }

        else {
            searchflag = true;
            $("#btnDate").removeClass("btn-primary").addClass("btn-secondary");
            $("#btnDate").val("解除搜尋");
            $("#orderkeyword").removeAttr("readonly", "readonly");
        }
        nowpages = 1;
        load();
    })




    $("#orderpagedown").click(function () {
        let pagescount = $(".orderpagenumclicklist").length;
        nowpages = Math.min(parseInt(nowpages) + 1, pagescount);
        /*nowpages = 2;*/
        $("#salescourtcardbody").empty();
        load();
    })


    $("#orderpageup").click(function () {
        nowpages = Math.max(parseInt(nowpages) - 1, 1);
        /*nowpages = 1;*/
        $("#salescourtcardbody").empty();
        load();
    })
  

    $("#SortOrder1").click(function () {
        mode = 1;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#SortOrder2").click(function () {
        mode = 2;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#SortOrder3").click(function () {
        mode = 3;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#SortOrder4").click(function () {
        mode = 4;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#SortOrder5").click(function () {
        mode = 5;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#page1").click(function () {
        nowpages = 1;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#page2").click(function () {
        nowpages = 2;
        $("#salescourtcardbody").empty();
        load();
    })

    $("#page3").click(function () {
        nowpages = 3;
        $("#salescourtcardbody").empty();
        load();
    })
</script>


  
}