@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.SalesCourt.C關於我ViewModel

@{
    ViewData["Title"] = "關於我";
    iSpanProjectContext dbContext = new iSpanProjectContext();
    var me = dbContext.MemberAccounts.Where(a => a.MemberId == Model.Memberid).FirstOrDefault();
    var productcount = dbContext.Products.Where(a => a.MemberId == Model.Memberid).Count();
    var followcount = dbContext.Follows.Where(a => a.MemberId == Model.Memberid).Count();

    var allstar = dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.MemberId == Model.Memberid).Select(a => (double)a.CommentStar).Sum();
    var allstarcount = dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.MemberId == Model.Memberid).Count();

    var avgstar = allstar / allstarcount;

    var custcategory = dbContext.CustomizedCategories.Where(a => a.MemberId == Model.Memberid).ToList();

    var shippingmethod = dbContext.ShipperToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Shipper.ShipperName).ToList();

    var payingName = dbContext.PaymentToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Payment.PaymentName).ToList();
    var payingFee = dbContext.PaymentToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Payment.Fee).ToList();


    //var SalesCourtServiceTime   想說像修改關於我先把服務時間切分 再帶入viewmodel中的個別變數
    var NewProductOnLoad = dbContext.MemberAccounts.FirstOrDefault(a => a.MemberId == Model.Memberid).RenewProduct;
    var SellerCategory = dbContext.MemberAccounts.FirstOrDefault(a => a.MemberId == Model.Memberid).SellerType;
    //售後服務      注意事項
    var ServiceAfterBuy = dbContext.MemberAccounts.FirstOrDefault(a => a.MemberId == Model.Memberid).AfterSales;
    var Caution = dbContext.MemberAccounts.FirstOrDefault(a => a.MemberId == Model.Memberid).SellerCaution;

}

@section Styles{
    <style>
        .section-seller-overview-horizontal .section-seller-overview__item {
            display: inline-block;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            flex: none;
        }
    </style>


}

<div class="ps-2">
    <button class="btn btn-outline-success rounded-2 btn-sm ms-2">
        <a href="~/SalesCourt/賣場"> 回賣場</a>
    </button>
    <button class="btn btn-outline-success rounded-2 btn-sm ms-2">
        <a href="~/SalesCourt/評價"> 評價</a>
    </button>
   
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded  " style="background-color:bisque">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">@me.NickName 賣場資訊</h1>
        </div>

        <div class="row m-5">
            <div class="col" style="font-size:2em"><img src="~/img/product.png" width="20" /> 商品數:@productcount &nbsp;</div>
            @*<div class="col"><i class="fa-solid fa-box-taped" style="width:15px"></i> 商品:&nbsp;</div>*@

            <div class="col" style="font-size:2em"><img src="~/img/follow.png" width="20" />關注中:@followcount&nbsp;</div>
            <div class="col" style="font-size:2em"><img src="~/img/star_null.png" width="20" />評價:@avgstar.ToString("0.00")&nbsp;</div>
        </div>

        <div class="row m-5" style="font-size:1.4em">
            <div class="col">
                <div class="bg-secondary">賣場服務時間</div>
                <p>
                    星期 @Model.weekDown - 星期 @Model.weekUp                                      
                </p>
                <p>
                    時間  @Model.timeDown:00- @Model.timeUp:00
                </p>
                <p>
                    國定例假日公休: @Model.takebreak
                </p>
            </div>
            <div class="col">
                <div class="bg-secondary">新品上架時間</div>
                <p>
                    @NewProductOnLoad
                </p>
            </div>
            <div class="col">
                <div class="bg-secondary">商品類型</div>


                @{
                    foreach (var item in custcategory)
                    {
                        <p>
                            @item.CustomizedCategoryName
                        </p>

                    }

                }
            </div>
            <div class="col">
                <div class="bg-secondary">賣家類型</div>
                <p>
                    @SellerCategory
                </p>
            </div>
        </div>

        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded  " style="background-color: bisque">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">付款與運送的方式</h1>
        </div>

        <div class="row" style="font-size:1.4em">
            <div class="col-6">
                <div class="text-secondary" style="font-size:1.5em">付款方式</div>

                @{ 
                    foreach (var item in shippingmethod)
                    {
                                <div>@item</div>
                    }
                }

            </div>
            <div class="col-6">
                <div class="text-secondary" style="font-size:1.5em">運送方式</div>
              

                @{ 
                    for (int i = 0; i < payingName.Count(); i++) { 
                        <span>@payingName[i]</span>
                        <span>:</span>
                        <span>@payingFee[i]</span>
                        <br/>
                    }
                }
            </div>
        </div>

        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded  " style="background-color: bisque">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">注意事項及售後服務</h1>
            <div>注意事項:</div>
            <p class="lead my-3" style="font-size:1.4em">
                @ServiceAfterBuy
            </p>
            <div>售後服務:</div>
            <p class="lead my-3" style="font-size:1.4em">
                @Caution
            </p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>


    </div>
</div>

