@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.SalesCourt.C關於我ViewModel

@{
    ViewData["Title"] = "關於我";
    iSpanProjectContext dbContext = new iSpanProjectContext();
    var me = dbContext.MemberAccounts.Where(a => a.MemberId == Model.Memberid).FirstOrDefault();
    var productcount = dbContext.Products.Where(a => a.MemberId == Model.Memberid).Count();
    var followcount = dbContext.Follows.Where(a => a.MemberId == Model.Memberid).Count();

    var allstar = dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.MemberId == Model.Memberid).Select(a => (double)a.CommentStar).Sum();
    var allstarcount = dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.MemberId == Model.Memberid).Count();

    var avgstar = allstar / allstarcount;
    

    var custcategory = dbContext.CustomizedCategories.Where(a => a.MemberId == Model.Memberid).ToList();

    var shippingmethod = dbContext.ShipperToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Shipper.ShipperName).ToList();

    var payingName = dbContext.PaymentToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Payment.PaymentName).ToList();
    var payingFee = dbContext.PaymentToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Payment.Fee).ToList();


    object[] images = { "~/img/payment5.png", "~/img/payment6.png", "~/img/payment7.png", "~/img/payment8.png", "~/img/payment9.jpg", "~/img/payment10.png", "~/img/payment11.png", "~/img/payment12.png", "~/img/payment2.png", };
    //byte[] images = {"~/img/payment5.png", "~/img/payment6.png" , "~/img/payment7.png" , "~/img/payment8.png" };


    //var SalesCourtServiceTime   想說像修改關於我先把服務時間切分 再帶入viewmodel中的個別變數

}

@section Styles{
    <style>
        .section-seller-overview-horizontal .section-seller-overview__item {
            display: inline-block;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            flex: none;
        }

        .info-section {
            font-size: 15px;
            margin: 30px 0;
            padding: 45px 30px 20px;
            border: 11px solid #f78f1c;
            border-radius: 4px;
            /*background: url(/images/about_me_border_style.png) repeat-x;*/
            background: url(/img/蝦到爆.png);
            background-repeat: repeat-x;
            /*height:90px;*/
            background-size: 85px 100px;
        }
    </style>


}


<div class="ps-2">
    @*<button class="btn btn-outline-success rounded-2 btn-sm ms-2">*@
    <a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/賣場?id=@Model.Memberid"> 回賣場</a>
    @*</button>*@
    @*<button class="btn btn-outline-success rounded-2 btn-sm ms-2">*@
    <a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/評價?id=@Model.Memberid"> 評價</a>
    @*</button>*@
    <input type="hidden" value="@Model.Memberid" id="abmeID" />
</div>


<div class="container info-section">
    <div class="p-4 p-md-5 mb-4 rounded  " >
        <div class="col-md-6 px-0">
            <h1 style="font-size:3em">付款與運送的方式</h1>
        </div>

        <div class="row" style="font-size:1.4em">
            <div class="col-6">
                <div class="text-warning" style="font-size:1.5em">運送方式</div>
                @*想要先有寫死的圖片再根據對應到的陣列位置抓取直*@

                @{
                    
                    for (int i = 0; i < 5; i++) { 
                        <img src="~/img/salescourt/shipping@(i+1).png" width="40" height="40" class="mx-2" />
                        <span>@shippingmethod[i]</span>
                        <br/>
                    }
                }

            </div>
            <div class="col-6">
                <div class="text-warning" style="font-size:1.5em">付款方式</div>


                @{
                    for (int i = 0; i < payingName.Count(); i++)
                    {
                        <img src="~/img/salescourt/paying@(i+1).png" width="40" height="40" class="mx-2" />
                        //-<img src="@images[i]" class="cardImg rounded-circle" alt="..." width="120" />
                        <span>@payingName[i]</span>
                        <span>:</span>
                        <span>@payingFee[i]</span>
                        <br />
                    }
                }
            </div>
        </div>

        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>



<div class="outlook">
</div>

<div class="first">

    <div class="container info-section">
        <div class="p-4 p-md-5 mb-4 rounded  ">
            <div class="col-md-6 px-0">
                <h1 style="font-size:3em">@me.NickName 賣場資訊</h1>
            </div>
                               

            <div class="row m-5">
                <div class="col" style="font-size:2em"><i class="fa-sharp fa-solid fa-box"></i> 商品數:@productcount &nbsp;</div>
                @*<div class="col"><i class="fa-solid fa-box-taped" style="width:15px"></i> 商品:&nbsp;</div>*@

                <div class="col" style="font-size:2em"><i class="fa-regular fa-heart"></i>關注中:@followcount&nbsp;</div>
                <div class="col" style="font-size:2em"><i class="fa-regular fa-comment"></i>評價:@avgstar.ToString("0.00")&nbsp;</div>
            </div>

            <div class="row" style="font-size:2em">
                <div class="col">
                    <div class="text-warning">賣場服務時間</div>
                    <p>
                        星期 @Model.weekDown - 星期 @Model.weekUp
                    </p>
                    <p>
                        時間  @Model.timeDown:00- @Model.timeUp:00
                    </p>
                    <p>
                        國定例假日公休: @Model.takebreak
                    </p>
                </div>
                <div class="col">
                    <div class="text-warning">新品上架時間</div>
                    <p>

                    </p>
                </div>
                <div class="col">
                    <div class="text-warning">商品類型</div>


                    @{
                        foreach (var item in custcategory)
                        {
                            <p>
                                @item.CustomizedCategoryName
                            </p>

                        }

                    }
                </div>
                <div class="col">
                    <div class="text-warning">賣家類型</div>
                    <p>

                    </p>
                </div>
            </div>

            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="container info-section">
        <div class="p-4 p-md-5 mb-4 rounded  ">
            <div class="col-md-6 px-0">
                <h1 style="font-size:3em">注意事項及售後服務</h1>
                <div>注意事項:</div>
                <p class="lead my-3" style="font-size:2em">

                </p>
                <div>售後服務:</div>
                <p class="lead my-3" style="font-size:2em">

                </p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>


        </div>
    </div>

</div>

@section Scripts{
    <script>
        let image = ["/img/product.png", "~/img/follow.png", "~/img/star_null.png"];

        load();

        function load() {
            $.getJSON("/SalesCourt/GetAlterMe", { id:@Model.Memberid}, function (data) {
                console.log(data);

                console.log(datas);


                if (data != null) {
                    var datas = JSON.parse(data);
                    
                    $(".outlook").append(returnAbome(datas));
                    detail(datas);
                    cotion(datas);
                    serviceafterbuy(datas);
                    $(".first").html("");
                }


                /*$(".outlook").append(returnabme(datas));*/
            })


        }

        function serviceafterbuy(data) {
            let afterserve = "";

            if (data.checkbox[9] == true) {
                afterserve = afterserve + `是否接受退貨:${data.selectopt[4]}<br/>`;
            }
            if (data.checkbox[10] == true) {
                afterserve = afterserve + `享有`;
            }
            if (data.checkbox[11] == true) {
                afterserve = afterserve + `7`;
            }
            if (data.checkbox[12] == true) {
                afterserve = afterserve + `10`;
            }
            if (data.checkbox[13] == true) {
                afterserve = afterserve + `14`;
            }
            if (data.checkbox[11] == true || data.checkbox[12] == true || data.checkbox[13] == true)
            afterserve = afterserve + `天猶豫期退貨權益<br/>`;
            if (data.checkbox[14] == true) {
                afterserve = afterserve + `商品退貨須為全新狀態且完整包裝<br/>`;
            }
            if (data.checkbox[15] == true) {
                afterserve = afterserve + `商品退回需含贈品<br/>`;                
            }

            $(".afterservice").append(afterserve);
        }

        function cotion(data) {
            let caution = "";

            if (data.checkbox[16] == true) {
                caution = caution + `結帳後請於蝦蝦通提供`;
            }

            if (data.checkbox[17] == true) {
                caution = caution + `產品名稱或編號`;
            }
            if (data.checkbox[18] == true) {
                caution = caution + `款式顏色`;
            }
            if (data.checkbox[19] == true) {
                caution = caution + `數量<br/>`;
            }
            if (data.checkbox[20] == true) {
                caution = caution + `請於${data.text[3]}天內完成"結帳動作"<br/>`;
            }
            if (data.checkbox[21] == true) {
                caution = caution + `結帳完成後${data.text[4]}天內未完成"匯款"將發出蝦蝦通提醒`;
            }

            $(".cautiondetail").append(caution);
        }


        function detail(data) { /*會有checkbox3~8要判別 假設為*/
           

            if (data.checkbox[3] == true) {
                $(".newproductonload").html("每天");
            }
            else if (data.checkbox[4] == true) {
                $(".newproductonload").html("1~3天");
            }
            else if (data.checkbox[5] == true) {
                $(".newproductonload").html("3~5天");
            }
            else if (data.checkbox[6] == true) {
                $(".newproductonload").html("每週");
            }
            else if (data.checkbox[7] == true) {
                $(".newproductonload").html("隔週");
            }
            else if (data.checkbox[8] == true) {
                $(".newproductonload").html("不定期");
            }

          
            /*$(".cautiondetail").val("caution");*/
        }

        function returnAbome(datas) {
            return `
                <div class="container info-section">
                    <div class="p-4 p-md-5 mb-4 rounded  ">
                        <div class="col-md-6 px-0">
                            <h1 style="font-size:3em"> 賣場資訊</h1>
                        </div>

                        <div class="row m-5">

                            <div class="col" style="font-size:2em">

                            <i class="fa-sharp fa-solid fa-box"></i>
                            商品數: @productcount &nbsp;</div>


                            <div class="col" style="font-size:2em">
                            <i class="fa-regular fa-heart"></i>
                            關注中:@followcount&nbsp;</div>

                            <div class="col" style="font-size:2em">
                            <i class="fa-regular fa-comment"></i>
                            評價:@avgstar.ToString("0.00")</div>
                       </div>

                        <div class="row" style="font-size:2em">
                            <div class="col">
                                <div class="text-warning">賣場服務時間</div>
                                <p>
                                    星期 ${datas.selectopt[0]} - 星期 ${datas.selectopt[1]}
                                </p>
                                <p>
                                    時間  ${datas.selectopt[2]-1}:00- ${datas.selectopt[3]-1}:00
                                </p>
                                <p>
                                    國定例假日公休: ${datas.text[1]}
                                </p>
                            </div>
                            <div class="col">
                                <div class="text-warning">新品上架時間</div>
                               <div class="newproductonload">
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-warning">商品類型</div>


                                @{
                                    foreach (var item in custcategory)
                                    {
                                        <p>
                                            @item.CustomizedCategoryName
                                        </p>

                                    }

                                }
                            </div>
                            <div class="col">
                                <div class="text-warning">賣家類型</div>
                                <p>
                                    ${datas.text[2]}
                                </p>
                            </div>
                        </div>


                        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
                    </div>
                </div>

                <div class="container info-section">
                    <div class="p-4 p-md-5 mb-4 rounded  " >
                        <div class="col-md-6 px-0">
                            <h1 style="font-size:3em">注意事項及售後服務</h1>
                            <div style="font-size:2.3em">注意事項:</div>
                            <div class="cautiondetail" style="font-size:1.6em">

                            </div>
                           
                            
                            <div style="font-size:2.3em">售後服務:</div>
                                                                
                            <div class="afterservice" style="font-size:1.6em">

                            </div>
                                                                                                   
                            
                            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
                        </div>


                    </div>
                </div>

            `;

        }

    </script>

}