@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.SalesCourt.C關於我ViewModel

@{
    ViewData["Title"] = "關於我";
    iSpanProjectContext dbContext = new iSpanProjectContext();
    var me = dbContext.MemberAccounts.Where(a => a.MemberId == Model.Memberid).FirstOrDefault();
    var productcount = dbContext.Products.Where(a => a.MemberId == Model.Memberid).Count();
    var followcount = dbContext.Follows.Where(a => a.MemberId == Model.Memberid).Count();

    var allstar = dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.MemberId == Model.Memberid).Select(a => (double)a.CommentStar).Sum();
    var allstarcount = dbContext.Comments.Where(a => a.OrderDetail.ProductDetail.Product.MemberId == Model.Memberid).Count();

    var avgstar = allstar / allstarcount;

    var custcategory = dbContext.CustomizedCategories.Where(a => a.MemberId == Model.Memberid).ToList();

    var shippingmethod = dbContext.ShipperToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Shipper.ShipperName).ToList();

    var payingName = dbContext.PaymentToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Payment.PaymentName).ToList();
    var payingFee = dbContext.PaymentToSellers.Where(a => a.MemberId == Model.Memberid).Select(a => a.Payment.Fee).ToList();
}

@section Styles{
    <style>
        .section-seller-overview-horizontal .section-seller-overview__item {
            display: inline-block;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            flex: none;
        }
    </style>


}

<div class="ps-2">
    <button class="btn btn-outline-success rounded-2 btn-sm ms-2">
        <a href="~/SalesCourt/賣場"> 回賣場</a>
    </button>
    <button class="btn btn-outline-success rounded-2 btn-sm ms-2">
        <a href="~/SalesCourt/評價"> 評價</a>
    </button>
   
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded  " style="background-color:#ccd7b4">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">@me.NickName 賣場資訊</h1>
        </div>

        <div class="row m-5">
            <div class="col" style="font-size:2em"><img src="~/img/product.png" width="20" /> 商品數:@productcount &nbsp;</div>
            @*<div class="col"><i class="fa-solid fa-box-taped" style="width:15px"></i> 商品:&nbsp;</div>*@

            <div class="col" style="font-size:2em"><img src="~/img/follow.png" width="20" />關注中:@followcount&nbsp;</div>
            <div class="col" style="font-size:2em"><img src="~/img/star_null.png" width="20" />評價:@avgstar.ToString("0.00")&nbsp;</div>
        </div>

        <div class="row m-5" style="font-size:1.4em">
            <div class="col">
                <div class="bg-secondary">賣場服務時間</div>
                <p>
                    星期一 - 星期五
                    時間10:00-17:00
                    國定例假日公休
                </p>
            </div>
            <div class="col">
                <div class="bg-secondary">新品上架時間</div>
                <p>
                    @Model.NewProductOnLoad
                </p>
            </div>
            <div class="col">
                <div class="bg-secondary">商品類型</div>


                @{
                    foreach (var item in custcategory)
                    {
                        <p>
                            @item.CustomizedCategoryName
                        </p>

                    }

                }
            </div>
            <div class="col">
                <div class="bg-secondary">賣家類型</div>
                <p>
                    @Model.SellerCategory
                </p>
            </div>
        </div>

        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded  " style="background-color: #ccd7b4">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">付款與運送的方式</h1>
        </div>

        <div class="row" style="font-size:1.4em">
            <div class="col-6">
                <div class="text-secondary" style="font-size:1.5em">付款方式</div>

                @*<div class="col"><img src="~/img/fans.png" width="20" />粉絲:&nbsp;</div>*@
                @*<div><img src="~/img/familymart.png" width="35" />全家取貨付款</div>
                <div><img src="~/img/pchomepay.png" width="35" /><img src="~/img/7-11.png" width="35" />7-11取貨付款</div>
                <div><img src="~/img/pchomepay.png" width="35" />PChomePay支付連 現金(ATM、餘額)</div>
                <div><img src="~/img/pchomepay.png" width="35" />PChomePay支付連 信用卡(一次付清)</div>
                <div>貨到付款</div>
                <div>面交取貨付款(面交時才付款)</div>*@

                @{ 
                    foreach (var item in shippingmethod)
                    {
                                <div>@item</div>
                    }
                }

            </div>
            <div class="col-6">
                <div class="text-secondary" style="font-size:1.5em">運送方式</div>
                @*<div><img src="~/img/familymart.png" width="35" />全家取貨付款 運費<span class="text-primary">60</span>元</div>
                <div><img src="~/img/pchomepay.png" width="35" /><img src="~/img/7-11.png" width="35" />7-11取貨付款 運費<span class="text-primary">60</span>元</div>
                <div>郵寄寄送 運費<span class="text-primary">130</span>元</div>
                <div>宅配/快遞 運費<span class="text-primary">75</span>元</div>
                <div>離島寄送 運費<span class="text-primary">100</span>元</div>
                <div>貨到付款 運費<span class="text-primary">150</span>元</div>
                <div>面交貨到付款(面交時才付款)</div>*@

                @{ 
                    for (int i = 0; i < payingName.Count(); i++) { 
                        <span>@payingName[i]</span>
                        <span>@payingFee[i]</span>
                    }
                }
            </div>
        </div>

        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>

<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded  " style="background-color: #ccd7b4">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">注意事項</h1>
            <p class="lead my-3" style="font-size:1.4em">
                @Model.Caution
            </p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>


    </div>
</div>

