@model prjiSpanFinal.ViewModels.Item.CBiddingItemIndexViewModel
@{
    ViewData["Title"] = "BiddingIndex";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/Item/ItemIndex.css")" />
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Content("~/Home/Index")">蝦到爆</a></li>
        <li class="breadcrumb-item"><a href="#">@Model.bigType.BigTypeName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.smallType.SmallTypeName</li>
    </ol>
</nav>
<div class="d-flex justify-content-between">
    <div class="productPhoto">
        <div class="bigPhoto position-relative">
            <div class="addItemLike">加入按讚好物</div>
            @{
                if (Model.isLike)
                {
                    <i class="itemHeart fa-solid fa-heart position-absolute top-0 end-0 fs-2 opacity-50 text-danger"></i>
                }
                else
                {
                    <i class="itemHeart fa-solid fa-heart position-absolute top-0 end-0 fs-2 opacity-50"></i>
                }
                string imgSrc = "";
                if (Model.productPics.Count > 0)
                {
                    string base64 = Convert.ToBase64String(Model.productPics[0]);
                    imgSrc = $"data:image/gif;base64,{base64}";
                }
                else
                {
                    imgSrc = Url.Content("~/img/imageNotFound.png");
                }
                <img src="@imgSrc" />
            }
        </div>
        <div class="smallPhoto d-flex justify-content-center">
            @{
                if (Model.productPics.Count > 0)
                {
                    foreach (var i in Model.productPics)
                    {
                        string base65 = Convert.ToBase64String(i);
                        string imgSrc1 = $"data:image/gif;base64,{base65}";
                        <div><img src="@imgSrc1" /></div>
                    }
                }
            }
        </div>
        <div style="font-size:14px">
            <div class="d-flex justify-content-between border-top border-bottom py-2">
                <div>商品編號:<span class="ms-2">@Model.product.ProductId</span></div>
                @{
                    if (Model.user == null)
                    {
                        <label class="text-primary">登入後方可使用檢舉功能</label>
                    }
                    else
                    {
                        <a id="ReportBTN" href="#" class="text-primary" data-bs-toggle="modal" data-bs-target="#reportmodal">檢舉</a>
                    }
                }
            </div>
            <div>
                <div class="fs-6 fw-bold">商品備註</div>
                <ul>
                    <li>物品所在地:台灣，<span>@Model.country.CountryName</span><span>@Model.region.RegionName</span></li>
                    <li>物品最新更新時間:<span>@Model.product.EditTime.ToString("yyyy-MM-dd")</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="itemInfo">
        <h4>@Model.product.ProductName</h4>
        <div class="d-flex align-items-center border rounded-1">
            <div class="p-2 border-end" style="width:40px;aspect-ratio:1/1;cursor:pointer">
                <img src="@Url.Content("~/img/clock.png")" class="d-block" style="width:100%;aspect-ratio:1/1;object-fit:contain" />
            </div>
            <div class="p-2 border-end" style="width:40px;aspect-ratio:1/1;cursor:pointer">
                <img src="@Url.Content("~/img/calender.png")" class="d-block" style="width:100%;aspect-ratio:1/1;object-fit:contain" />
            </div>
            <div class="biddingItemCountdown" id="@Model.bidding.BiddingId">
                <div class="remainingTime ps-2"></div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div style="width:100px">目前出價</div>
            @{
                if (Model.biddingDetailWithMember.Count > 0)
                {
                    <div class="col-9 fs-3 fw-bold text-danger">$<span class="currentPrice">@Model.biddingDetailWithMember[0].biddingDetail.Price</span></div>
                }
                else
                {
                    <div class="col-9 fs-3 fw-bold text-danger">$<span class="currentPrice">@Model.bidding.StartPrice</span></div>
                }
            }
        </div>
        <div class="d-flex mb-2">
            <div style="width:100px"></div>
            <div class="text-black opacity-50"><spng class="biddingCount">@Model.biddingDetailWithMember.Count</spng>次出價</div>
        </div>
        <div class="d-flex mb-2">
            <div style="width:100px">出價增額</div>
            <div>$<span class="stepPrice">@Model.bidding.StepPrice</span></div>
        </div>
        <div class="d-flex mb-2">
            <div style="width:100px">最高出價者</div>
            @{
                if (@Model.biddingDetailWithMember.Count > 0)
                {
                    <div class="topMember text-success">@Model.biddingDetailWithMember[0].member.MemberAcc</div>
                }
                else
                {
                    <div class="topMember text-success">尚無人出價</div>
                }
            }

        </div>
        <div class="d-flex mb-2">
            <div style="width:100px">數量</div>
            <div>1件</div>
        </div>
        <div class="d-flex mb-2">
            <div style="width:100px"></div>
            <div class="rounded-1 bg-black bg-opacity-10 p-2">
                <div>
                    <input type="radio" name="biddingType" id="autoBidding" value="" />
                    <label for="autoBidding">自動出價</label>
                    <input type="radio" name="biddingType" id="directBidding" value="" />
                    <label for="directBidding">直接出價</label>
                </div>
                <div class="d-flex align-items-center">
                    <input type="number" name="biddingPrice" class="fs-5 me-2" step="@Model.bidding.StepPrice" min="" value="" placeholder="請直接輸入出價金額" />

                    <input class="bidSubmit btn btn-warning rounded-2" type="button" name="" value="我要出價" />
                </div>
                <div class="topPriceDiv d-none">
                    <input type="number" name="topPrice" class="fs-5 me-2" step="@Model.bidding.StepPrice" min="" value="" placeholder="自動出價最高金額" />
                    <label class="text-black opacity-50" style="font-size:12px">自動出價最高金額</label>
                </div>
                <div class="suggestedPriceDiv text-dark opacity-50 d-none">建議最低出價$<span class="suggestedPrice"></span></div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="@Url.Content("~/js/Item/ShowSpecificItemCountdown.js")"></script>
    <script>
        $(function () {
            const currentPrice = $(".currentPrice").html();
            const stepPrice = $(".stepPrice").html();
            const suggestedPrice = Number(currentPrice) + Number(stepPrice);
            $("input[type='number']").attr("min", suggestedPrice);
        });
        $("input[name='biddingPrice']").focus(function () {
            const currentPrice = $(".currentPrice").html();
            const stepPrice = $(".stepPrice").html();
            const suggestedPrice = Number(currentPrice) + Number(stepPrice);
            $(".suggestedPrice").html(suggestedPrice);
            $("input[type='number']").val(suggestedPrice);
            $(".suggestedPriceDiv").removeClass("d-none");
        })
        $("#autoBidding").change(function () {
            if ($("#autoBidding").prop("checked") == true) {
                $(".topPriceDiv").removeClass("d-none");
            }
            else {
                $(".topPriceDiv").removeClass("d-none").addClass("d-none");
            }
        })
        $("#directBidding").change(function () {
            if ($("#directBidding").prop("checked") == true) {
                $(".topPriceDiv").removeClass("d-none").addClass("d-none");
            }
            else {
                $(".topPriceDiv").removeClass("d-none");
            }
        });
        $(".bidSubmit").click(function () {
            const biddingID = Number($(".biddingItemCountdown").attr("id"));
            const biddingType = $("input:checked").attr("id");
            
            const suggestedPrice = Number($(".suggestedPrice").html());
            const price = Number($("input[name='biddingPrice']").val());
            
            const topPrice = Number($("input[name='topPrice']").val());
            if (biddingType == null) {
                Swal.fire("請選擇自動出價或直接出價");
            }
            else if (price < suggestedPrice) {
                Swal.fire("出價金額有誤");
            }
            else if (biddingType == "autoBidding" && topPrice < price) {
                Swal.fire("自動出價最高金額小於出價金額");
            }
            $.ajax({
                url: "@Url.Content("~/Item/Bid")",
                type: "POST",
                data: { biddingID: biddingID, biddingType: biddingType, price: price, topPrice: topPrice},
            }).done(function (data) {
                if (data == "0") {
                    Swal.fire("請先登入再出價");
                }
                else {
                    $(".currentPrice").html(data[0]);
                    $(".biddingCount").html(data[1]);
                    $(".topMember").html(data[2]);
                    Swal.fire("恭喜您成功出價");
                }
            })
        });
    </script>
}