<header class="p-2 layoutheader1bg text-white keeppos" id="header1">
    <!-- TOP HEADER -->
    <div class="container-lg">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            @*<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>*@

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="@Url.Content("~/Home/Index")" class="nav-link text-white px-2 navhead">首頁</a></li>
                <li><a href="@Url.Content("~/Seller/Index")" class="nav-link px-2 text-white navbody">賣家中心</a></li>
                <li><a href="@Url.Content("~/Member/List")" class="nav-link px-2 text-white navbody">買家中心</a></li>
                @*<li><a href="#" class="nav-link px-2 text-white navbody">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white navbody">About</a></li>*@
            </ul>

            @*<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>*@
            <div class="header-cart">
                <!-- Menu Toogle -->
                <div>
                    <a href="#" class="linknoline">
                        <i class="fa-solid fa-bell"></i>
                        <div class="qty">2</div>
                    </a>
                </div>
                <!-- /Menu Toogle -->
                <!-- Wishlist -->
                <div>
                    <a href="@Url.Content("~/Member/Like")" class="linknoline">
                        <i class="fa fa-heart-o"></i>
                        <div class="qty">2</div>
                    </a>
                </div>
                <!-- /Wishlist -->
                <!--帳號登入/創建-->
            </div>
            <div class="text-end navlog">
                <a class="log me-2 linknoline" href="@Url.Content("~/Member/Login")">
                    登入
                </a>
                <a class="res me-2 linknoline" href="@Url.Content("~/Member/Create")">
                    註冊
                </a>
            </div>
        </div>
        <!--/帳號登入/創建-->
    </div>
    <!-- /TOP HEADER -->
</header>