

<div class="p-2 layoutheader1bg text-white header1nav" id="header1">
    <div class="container-lg">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            @*<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>*@
            <ul class="nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="@Url.Content("~/Home/Index")" class="nav-link text-white px-2 navhead">首頁</a></li>
                <li><a href="@Url.Content("~/Management/PowerBi")" class="nav-link px-2 text-white navbody">後台</a></li>
                <li><a href="@Url.Content("~/Seller/Index")" class="nav-link px-2 text-white navbody">賣家中心</a></li>
                <li><a href="@Url.Content("~/Member/Order")" class="nav-link px-2 text-white navbody">會員中心</a></li>
                @*<li><a href="#" class="nav-link px-2 text-white navbody">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 text-white navbody">About</a></li>*@
            </ul>
            <div class="header-cart col-2 d-flex flex-row">
                <!-- Menu Toogle -->
                <div>
                    <a href="#" class="linknoline">
                        <i class="fa fa-solid fa-bell"></i>
                        <div class="qty">2</div>
                    </a>
                </div>
                <!-- /Menu Toogle -->
                <!-- Wishlist -->
                <div>
                    <a href="@Url.Content("~/FAQ/Index")" class="linknoline">
                        <span>
                            <i class="fa fa-regular fa-circle-question"></i>
                            幫助中心
                        </span>
                    </a>
                </div>
                <!-- /Wishlist -->
                <!--帳號登入/創建-->
            </div>
            @{
                if (Model == 0)
                {
                    <div class="text-end navlog col-2">
                        <a class="log me-2 linknoline" href="@Url.Content("~/Member/Login")">
                            登入
                        </a>
                        <a class="res me-2 linknoline" href="@Url.Content("~/Member/Create")">
                            註冊
                        </a>
                    </div>
                }
                else
                {
                    <div class="text-end navlog col-2 dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: white; ">
                            <img src="~/img/Member/pekopeko.jpg" width="40" height="40" style="border-radius: 50%;" /><span style="font-size:80%; padding:3px;">pekopeko</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Content("~/Member/Edit")">會員資料</a></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/Member/Order")">購物清單</a></li>
                            <li><a class="dropdown-item" href="@Url.Content("~/Home/Index")">登出</a></li>
                        </ul>
                    </div>
                }

            }

        </div>
        <!--/帳號登入/創建-->
    </div>
</div>

